##### ===================================================================================================================

#  CNN Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/CNNTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220260325783756800""",https://twitter.com/cnn/status/122026032578375...,2020-01-23 08:21:47,"""Airports around the world are increasing heal...",Tweet,SocialFlow,158,234,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
1,"""1220256373105184768""",https://twitter.com/cnn/status/122025637310518...,2020-01-23 08:06:05,"""A state of emergency has been extended in New...",Tweet,SocialFlow,91,251,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
2,"""1220253611504099328""",https://twitter.com/cnn/status/122025361150409...,2020-01-23 07:55:06,"""Three American crew members have died in Aust...",Tweet,SocialFlow,87,211,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
3,"""1220252471756566533""",https://twitter.com/cnn/status/122025247175656...,2020-01-23 07:50:35,"""Police issued an arrest warrant for former NF...",Tweet,SocialFlow,41,109,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
4,"""1220250580431536128""",https://twitter.com/cnn/status/122025058043153...,2020-01-23 07:43:04,"""Here are some things you can do to protect yo...",Tweet,SocialFlow,135,257,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1213148285172535296""",https://twitter.com/cnn/status/121314828517253...,2020-01-03 17:21:05,"""A rafflesia that recently bloomed in a West S...",Tweet,SocialFlow,467,1742,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
3196,"""1213145517099749377""",https://twitter.com/cnn/status/121314551709974...,2020-01-03 17:10:05,"""Kentucky's Attorney General says he's asking ...",Tweet,SocialFlow,69,326,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
3197,"""1213143006934683649""",https://twitter.com/cnn/status/121314300693468...,2020-01-03 17:00:06,"""The American Kennel Club has announced two ne...",Tweet,SocialFlow,60,246,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
3198,"""1213140493716140033""",https://twitter.com/cnn/status/121314049371614...,2020-01-03 16:50:07,"""Google has disabled access of Xiaomi devices ...",Tweet,SocialFlow,189,319,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected
3199,"""1213137973279100929""",https://twitter.com/cnn/status/121313797327910...,2020-01-03 16:40:06,"""Republican Sen. Lindsey Graham of South Carol...",Tweet,SocialFlow,630,1397,"""759251""","""CNN""",cnn,Verified,https://twitter.com/cnn,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220260325783756800""","""CNN""",cnn,"""Airports around the world are increasing heal...",158,234,2020-01-23 08:21:47
1,"""1220256373105184768""","""CNN""",cnn,"""A state of emergency has been extended in New...",91,251,2020-01-23 08:06:05
2,"""1220253611504099328""","""CNN""",cnn,"""Three American crew members have died in Aust...",87,211,2020-01-23 07:55:06
3,"""1220252471756566533""","""CNN""",cnn,"""Police issued an arrest warrant for former NF...",41,109,2020-01-23 07:50:35
4,"""1220250580431536128""","""CNN""",cnn,"""Here are some things you can do to protect yo...",135,257,2020-01-23 07:43:04

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220260325783756800""","""CNN""",cnn,"""Airports around the world are increasing heal...",158,234,2020-01-23 08:21:47,[],[],0,0
1,"""1220256373105184768""","""CNN""",cnn,"""A state of emergency has been extended in New...",91,251,2020-01-23 08:06:05,[],[],0,0
2,"""1220253611504099328""","""CNN""",cnn,"""Three American crew members have died in Aust...",87,211,2020-01-23 07:55:06,[],[],0,0
3,"""1220252471756566533""","""CNN""",cnn,"""Police issued an arrest warrant for former NF...",41,109,2020-01-23 07:50:35,[],[],0,0
4,"""1220250580431536128""","""CNN""",cnn,"""Here are some things you can do to protect yo...",135,257,2020-01-23 07:43:04,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1213148285172535296""","""CNN""",cnn,"""A rafflesia that recently bloomed in a West S...",467,1742,2020-01-03 17:21:05,[],[],0,0
3196,"""1213145517099749377""","""CNN""",cnn,"""Kentucky's Attorney General says he's asking ...",69,326,2020-01-03 17:10:05,[],[],0,0
3197,"""1213143006934683649""","""CNN""",cnn,"""The American Kennel Club has announced two ne...",60,246,2020-01-03 17:00:06,[],[],0,0
3198,"""1213140493716140033""","""CNN""",cnn,"""Google has disabled access of Xiaomi devices ...",189,319,2020-01-03 16:50:07,[],[],0,0
3199,"""1213137973279100929""","""CNN""",cnn,"""Republican Sen. Lindsey Graham of South Carol...",630,1397,2020-01-03 16:40:06,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220260325783756800""","""CNN""",cnn,"""Airports around the world are increasing heal...",158,234,[],[],0,0,2020-01-23,08:21:47
1,"""1220256373105184768""","""CNN""",cnn,"""A state of emergency has been extended in New...",91,251,[],[],0,0,2020-01-23,08:06:05
2,"""1220253611504099328""","""CNN""",cnn,"""Three American crew members have died in Aust...",87,211,[],[],0,0,2020-01-23,07:55:06
3,"""1220252471756566533""","""CNN""",cnn,"""Police issued an arrest warrant for former NF...",41,109,[],[],0,0,2020-01-23,07:50:35
4,"""1220250580431536128""","""CNN""",cnn,"""Here are some things you can do to protect yo...",135,257,[],[],0,0,2020-01-23,07:43:04
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1213148285172535296""","""CNN""",cnn,"""A rafflesia that recently bloomed in a West S...",467,1742,[],[],0,0,2020-01-03,17:21:05
3196,"""1213145517099749377""","""CNN""",cnn,"""Kentucky's Attorney General says he's asking ...",69,326,[],[],0,0,2020-01-03,17:10:05
3197,"""1213143006934683649""","""CNN""",cnn,"""The American Kennel Club has announced two ne...",60,246,[],[],0,0,2020-01-03,17:00:06
3198,"""1213140493716140033""","""CNN""",cnn,"""Google has disabled access of Xiaomi devices ...",189,319,[],[],0,0,2020-01-03,16:50:07
3199,"""1213137973279100929""","""CNN""",cnn,"""Republican Sen. Lindsey Graham of South Carol...",630,1397,[],[],0,0,2020-01-03,16:40:06

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/CNNImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220260325783756800""","""1220260323590012928""",https://pbs.twimg.com/media/EO88TJEWAAAo2Xw.jpg,https://t.co/kNtuRhos5K
1,"""1220244816262574080""","""1220244807492259840""",https://pbs.twimg.com/media/EO8uL_GXUAA5l5o.jpg,https://t.co/xE7kGslI14
2,"""1220244816262574080""","""1220244810554126336""",https://pbs.twimg.com/media/EO8uMKgXsAAOZh_.jpg,https://t.co/xE7kGslI14
3,"""1220242563153780736""","""1220242557587902465""",https://pbs.twimg.com/media/EO8sJBjXUAE4k0N.jpg,https://t.co/NFkAG305cb
4,"""1220242563153780736""","""1220242560817549312""",https://pbs.twimg.com/media/EO8sJNlX0AATwUL.jpg,https://t.co/NFkAG305cb
...,...,...,...,...
229,"""1213456061396594688""","""1213456059907616768""",https://pbs.twimg.com/media/ENcP23lWsAAqrmt.jpg,https://t.co/7evA6AxGeV
230,"""1213274629592289280""","""1213274627855671297""",https://pbs.twimg.com/media/ENZq2IhU4AEeV2o.jpg,https://t.co/v2V3wzzfr5
231,"""1213220924369055745""","""1213220922259197952""",https://pbs.twimg.com/media/ENY6ADlU0AAlXRW.jpg,https://t.co/EifdRGZmG0
232,"""1213217249751916544""","""1213217232945180672""",https://pbs.twimg.com/media/ENY2pT0UcAAenj5.jpg,https://t.co/El51Y6PAm0
233,"""1213203444896608257""","""1213203442832949249""",https://pbs.twimg.com/media/ENYqGnpWwAEeKiL.jpg,https://t.co/ZYPCZG2Ts7

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (234, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (234, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1220260325783756800"  Image added
1    "1220244816262574080"  Image added
2    "1220244816262574080"  Image added
3    "1220242563153780736"  Image added
4    "1220242563153780736"  Image added
..                     ...          ...
229  "1213456061396594688"  Image added
230  "1213274629592289280"  Image added
231  "1213220924369055745"  Image added
232  "1213217249751916544"  Image added
233  "1213203444896608257"  Image added

[234 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220260325783756800""","""CNN""",cnn,"""Airports around the world are increasing heal...",158,234,[],[],0,0,2020-01-23,08:21:47,Image added
1,"""1220256373105184768""","""CNN""",cnn,"""A state of emergency has been extended in New...",91,251,[],[],0,0,2020-01-23,08:06:05,NaN
2,"""1220253611504099328""","""CNN""",cnn,"""Three American crew members have died in Aust...",87,211,[],[],0,0,2020-01-23,07:55:06,NaN
3,"""1220252471756566533""","""CNN""",cnn,"""Police issued an arrest warrant for former NF...",41,109,[],[],0,0,2020-01-23,07:50:35,NaN
4,"""1220250580431536128""","""CNN""",cnn,"""Here are some things you can do to protect yo...",135,257,[],[],0,0,2020-01-23,07:43:04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,"""1213148285172535296""","""CNN""",cnn,"""A rafflesia that recently bloomed in a West S...",467,1742,[],[],0,0,2020-01-03,17:21:05,NaN
3241,"""1213145517099749377""","""CNN""",cnn,"""Kentucky's Attorney General says he's asking ...",69,326,[],[],0,0,2020-01-03,17:10:05,NaN
3242,"""1213143006934683649""","""CNN""",cnn,"""The American Kennel Club has announced two ne...",60,246,[],[],0,0,2020-01-03,17:00:06,NaN
3243,"""1213140493716140033""","""CNN""",cnn,"""Google has disabled access of Xiaomi devices ...",189,319,[],[],0,0,2020-01-03,16:50:07,NaN
3244,"""1213137973279100929""","""CNN""",cnn,"""Republican Sen. Lindsey Graham of South Carol...",630,1397,[],[],0,0,2020-01-03,16:40:06,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/CNNVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220240024190492672""","""1219321716758827013""",https://video.twimg.com/amplify_video/12193217...,https://t.co/b1PCJptd6k
1,"""1220236263363620864""","""1220206613052690435""",https://video.twimg.com/amplify_video/12202066...,https://t.co/Zfsx6Oh1dw
2,"""1220228703583637504""","""1220165060510867457""",https://video.twimg.com/amplify_video/12201650...,https://t.co/ktSwDUKkqF
3,"""1220224935647481856""","""1220207650903941120""",https://video.twimg.com/amplify_video/12202076...,https://t.co/I6kslUcw8z
4,"""1220221165253296129""","""1220201290338373632""",https://video.twimg.com/amplify_video/12202012...,https://t.co/B0tBJHRate
...,...,...,...,...
714,"""1213165663193309184""","""1212824833437949952""",https://video.twimg.com/amplify_video/12128248...,https://t.co/zGJHcZDb5F
715,"""1213160634352836609""","""1212480780737372164""",https://video.twimg.com/amplify_video/12124807...,https://t.co/hRAUt1B6j6
716,"""1213155583794319361""","""1212826502691278850""",https://video.twimg.com/amplify_video/12128265...,https://t.co/QFOsjKiaxR
717,"""1213153110127992833""","""1213152918444134401""",https://video.twimg.com/amplify_video/12131529...,https://t.co/cZV1xCRGt9
718,"""1213143006934683649""","""1213141993355927553""",https://video.twimg.com/amplify_video/12131419...,https://t.co/UXLnxwulUP

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (719, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (719, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1220240024190492672"  Video added
1    "1220236263363620864"  Video added
2    "1220228703583637504"  Video added
3    "1220224935647481856"  Video added
4    "1220221165253296129"  Video added
..                     ...          ...
714  "1213165663193309184"  Video added
715  "1213160634352836609"  Video added
716  "1213155583794319361"  Video added
717  "1213153110127992833"  Video added
718  "1213143006934683649"  Video added

[719 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220260325783756800""","""CNN""",cnn,"""Airports around the world are increasing heal...",158,234,[],[],0,0,2020-01-23,08:21:47,Image added,NaN
1,"""1220256373105184768""","""CNN""",cnn,"""A state of emergency has been extended in New...",91,251,[],[],0,0,2020-01-23,08:06:05,NaN,NaN
2,"""1220253611504099328""","""CNN""",cnn,"""Three American crew members have died in Aust...",87,211,[],[],0,0,2020-01-23,07:55:06,NaN,NaN
3,"""1220252471756566533""","""CNN""",cnn,"""Police issued an arrest warrant for former NF...",41,109,[],[],0,0,2020-01-23,07:50:35,NaN,NaN
4,"""1220250580431536128""","""CNN""",cnn,"""Here are some things you can do to protect yo...",135,257,[],[],0,0,2020-01-23,07:43:04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,"""1213148285172535296""","""CNN""",cnn,"""A rafflesia that recently bloomed in a West S...",467,1742,[],[],0,0,2020-01-03,17:21:05,NaN,NaN
3241,"""1213145517099749377""","""CNN""",cnn,"""Kentucky's Attorney General says he's asking ...",69,326,[],[],0,0,2020-01-03,17:10:05,NaN,NaN
3242,"""1213143006934683649""","""CNN""",cnn,"""The American Kennel Club has announced two ne...",60,246,[],[],0,0,2020-01-03,17:00:06,NaN,Video added
3243,"""1213140493716140033""","""CNN""",cnn,"""Google has disabled access of Xiaomi devices ...",189,319,[],[],0,0,2020-01-03,16:50:07,NaN,NaN
3244,"""1213137973279100929""","""CNN""",cnn,"""Republican Sen. Lindsey Graham of South Carol...",630,1397,[],[],0,0,2020-01-03,16:40:06,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Organisation"

#Create an Vocation column 
Tweets_df['Vocation'] = "News/Media"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3245, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220260325783756800""","""CNN""",cnn,158,234,[],[],0,0,2020-01-23,08:21:47,Image added,-,Organisation,News/Media
1,"""1220256373105184768""","""CNN""",cnn,91,251,[],[],0,0,2020-01-23,08:06:05,-,-,Organisation,News/Media
2,"""1220253611504099328""","""CNN""",cnn,87,211,[],[],0,0,2020-01-23,07:55:06,-,-,Organisation,News/Media
3,"""1220252471756566533""","""CNN""",cnn,41,109,[],[],0,0,2020-01-23,07:50:35,-,-,Organisation,News/Media
4,"""1220250580431536128""","""CNN""",cnn,135,257,[],[],0,0,2020-01-23,07:43:04,-,-,Organisation,News/Media
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,"""1213148285172535296""","""CNN""",cnn,467,1742,[],[],0,0,2020-01-03,17:21:05,-,-,Organisation,News/Media
3241,"""1213145517099749377""","""CNN""",cnn,69,326,[],[],0,0,2020-01-03,17:10:05,-,-,Organisation,News/Media
3242,"""1213143006934683649""","""CNN""",cnn,60,246,[],[],0,0,2020-01-03,17:00:06,-,Video added,Organisation,News/Media
3243,"""1213140493716140033""","""CNN""",cnn,189,319,[],[],0,0,2020-01-03,16:50:07,-,-,Organisation,News/Media
3244,"""1213137973279100929""","""CNN""",cnn,630,1397,[],[],0,0,2020-01-03,16:40:06,-,-,Organisation,News/Media

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3245, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220260325783756800""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,234,158,Image added,-,2020-01-23,08:21:47
"""1220256373105184768""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,251,91,-,-,2020-01-23,08:06:05
"""1220253611504099328""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,211,87,-,-,2020-01-23,07:55:06
"""1220252471756566533""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,109,41,-,-,2020-01-23,07:50:35
"""1220250580431536128""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,257,135,-,-,2020-01-23,07:43:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1213148285172535296""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,1742,467,-,-,2020-01-03,17:21:05
"""1213145517099749377""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,326,69,-,-,2020-01-03,17:10:05
"""1213143006934683649""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,246,60,-,Video added,2020-01-03,17:00:06
"""1213140493716140033""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,319,189,-,-,2020-01-03,16:50:07
"""1213137973279100929""","""CNN""",cnn,Organisation,News/Media,[],0,[],0,1397,630,-,-,2020-01-03,16:40:06

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/CNN_df.csv')