##### ===================================================================================================================

#  Cristiano Ronaldo Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/CristianoRonaldoTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1238497632345096192""",https://twitter.com/cristiano/status/123849763...,2020-03-13 16:10:20,"""For information: https://t.co/rbDpMTcs6s http...",Tweet,Twitter for iPhone,33977,180713,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
1,"""1236956939403374592""",https://twitter.com/cristiano/status/123695693...,2020-03-09 10:08:10,"""So proud to reach 1000 official games in my c...",Tweet,Twitter for iPhone,31855,295806,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
2,"""1234915783949606917""",https://twitter.com/cristiano/status/123491578...,2020-03-03 18:57:21,"""Thank you for all your messages of support fo...",Tweet,Twitter for iPhone,44936,521548,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
3,"""1233495710621995014""",https://twitter.com/cristiano/status/123349571...,2020-02-28 20:54:29,"""Stay focused on your goals ðŸ’ª https://t.co/UNu...",Tweet,Twitter for iPhone,19800,247952,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
4,"""1232351249409945604""",https://twitter.com/cristiano/status/123235124...,2020-02-25 17:06:48,"""Always on my mind... see you tomorrow ðŸ’ª#UCL #...",Tweet,Twitter for iPhone,16006,205101,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""25288412198076416""",https://twitter.com/cristiano/status/252884121...,2011-01-12 20:30:01,"""Yes, it's available here @Alexbaker94 @cristi...",Tweet,WhoSay,71,34,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
3196,"""25284859744227328""",https://twitter.com/cristiano/status/252848597...,2011-01-12 20:15:54,"""Hola. Gracias por el tweet 1000a. @Marielys_8...",Tweet,WhoSay,121,44,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
3197,"""25250134770057216""",https://twitter.com/cristiano/status/252501347...,2011-01-12 17:57:55,"""@Enrique305 Thank you. I'm going to try to ma...",Tweet,WhoSay,121,49,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
3198,"""25114783095201792""",https://twitter.com/cristiano/status/251147830...,2011-01-12 09:00:05,"""Good news. Keep on winning. @shuyingthegreat ...",Tweet,WhoSay,82,47,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected
3199,"""25112508507361280""",https://twitter.com/cristiano/status/251125085...,2011-01-12 08:51:03,"""@Tpolamalu Thank you. Happy and excited to be...",Tweet,WhoSay,46,19,"""155659213""","""Cristiano Ronaldo""",cristiano,Verified,https://twitter.com/cristiano,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,"""For information: https://t.co/rbDpMTcs6s http...",33977,180713,2020-03-13 16:10:20
1,"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,"""So proud to reach 1000 official games in my c...",31855,295806,2020-03-09 10:08:10
2,"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,"""Thank you for all your messages of support fo...",44936,521548,2020-03-03 18:57:21
3,"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,"""Stay focused on your goals ðŸ’ª https://t.co/UNu...",19800,247952,2020-02-28 20:54:29
4,"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,"""Always on my mind... see you tomorrow ðŸ’ª#UCL #...",16006,205101,2020-02-25 17:06:48

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,"""For information: https://t.co/rbDpMTcs6s http...",33977,180713,2020-03-13 16:10:20,[],[],0,0
1,"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,"""So proud to reach 1000 official games in my c...",31855,295806,2020-03-09 10:08:10,[],[],0,0
2,"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,"""Thank you for all your messages of support fo...",44936,521548,2020-03-03 18:57:21,[],[],0,0
3,"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,"""Stay focused on your goals ðŸ’ª https://t.co/UNu...",19800,247952,2020-02-28 20:54:29,[],[],0,0
4,"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,"""Always on my mind... see you tomorrow ðŸ’ª#UCL #...",16006,205101,2020-02-25 17:06:48,[],"[#UCL, #forzajuve]",2,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""25288412198076416""","""Cristiano Ronaldo""",cristiano,"""Yes, it's available here @Alexbaker94 @cristi...",71,34,2011-01-12 20:30:01,"[@Alexbaker94, @cristiano,]",[],0,2
3196,"""25284859744227328""","""Cristiano Ronaldo""",cristiano,"""Hola. Gracias por el tweet 1000a. @Marielys_8...",121,44,2011-01-12 20:15:54,"[@Marielys_8, @Cristiano]",[],0,2
3197,"""25250134770057216""","""Cristiano Ronaldo""",cristiano,"""@Enrique305 Thank you. I'm going to try to ma...",121,49,2011-01-12 17:57:55,[@Enrique305],[],0,1
3198,"""25114783095201792""","""Cristiano Ronaldo""",cristiano,"""Good news. Keep on winning. @shuyingthegreat ...",82,47,2011-01-12 09:00:05,"[@shuyingthegreat, @Cristiano]",[#CRPenaltyGame],1,2
3199,"""25112508507361280""","""Cristiano Ronaldo""",cristiano,"""@Tpolamalu Thank you. Happy and excited to be...",46,19,2011-01-12 08:51:03,[@Tpolamalu],[],0,1

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,"""For information: https://t.co/rbDpMTcs6s http...",33977,180713,[],[],0,0,2020-03-13,16:10:20
1,"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,"""So proud to reach 1000 official games in my c...",31855,295806,[],[],0,0,2020-03-09,10:08:10
2,"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,"""Thank you for all your messages of support fo...",44936,521548,[],[],0,0,2020-03-03,18:57:21
3,"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,"""Stay focused on your goals ðŸ’ª https://t.co/UNu...",19800,247952,[],[],0,0,2020-02-28,20:54:29
4,"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,"""Always on my mind... see you tomorrow ðŸ’ª#UCL #...",16006,205101,[],"[#UCL, #forzajuve]",2,0,2020-02-25,17:06:48
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""25288412198076416""","""Cristiano Ronaldo""",cristiano,"""Yes, it's available here @Alexbaker94 @cristi...",71,34,"[@Alexbaker94, @cristiano,]",[],0,2,2011-01-12,20:30:01
3196,"""25284859744227328""","""Cristiano Ronaldo""",cristiano,"""Hola. Gracias por el tweet 1000a. @Marielys_8...",121,44,"[@Marielys_8, @Cristiano]",[],0,2,2011-01-12,20:15:54
3197,"""25250134770057216""","""Cristiano Ronaldo""",cristiano,"""@Enrique305 Thank you. I'm going to try to ma...",121,49,[@Enrique305],[],0,1,2011-01-12,17:57:55
3198,"""25114783095201792""","""Cristiano Ronaldo""",cristiano,"""Good news. Keep on winning. @shuyingthegreat ...",82,47,"[@shuyingthegreat, @Cristiano]",[#CRPenaltyGame],1,2,2011-01-12,09:00:05
3199,"""25112508507361280""","""Cristiano Ronaldo""",cristiano,"""@Tpolamalu Thank you. Happy and excited to be...",46,19,[@Tpolamalu],[],0,1,2011-01-12,08:51:03

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/CristianoRonaldoImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1238497632345096192""","""1238497626984722432""",https://pbs.twimg.com/media/ETAHB6eWsAAj5pN.jpg,https://t.co/jWzDZX0GJK
1,"""1236956939403374592""","""1236956931551617025""",https://pbs.twimg.com/media/ESqNxouXYAEI2yc.jpg,https://t.co/mLsLC8R3o8
2,"""1233495710621995014""","""1233495705202941958""",https://pbs.twimg.com/media/ER5BzvyXYAY4mY4.jpg,https://t.co/UNuGkAAUXm
3,"""1232351249409945604""","""1232351243307307008""",https://pbs.twimg.com/media/ERow7S_X0AADPJw.jpg,https://t.co/jXSbJoDCMP
4,"""1231313742333448192""","""1231313725694627841""",https://pbs.twimg.com/media/ERaBT0sXUAEoycx.jpg,https://t.co/AzGNpKte4r
...,...,...,...,...
1628,"""281458796755316736""","""281458796763705344""",https://pbs.twimg.com/media/A-fxSNACcAA2s2K.jpg,http://t.co/HrrogoYr
1629,"""277330387779330049""","""277191428533256192""",https://pbs.twimg.com/media/A9jIIriCAAAeByd.png,http://t.co/6INfFvIb
1630,"""265849909683552258""","""265849909691940864""",https://pbs.twimg.com/media/A7B9FZbCAAADsNb.jpg,http://t.co/K7fDgJUc
1631,"""265491924629196800""","""265491924683722752""",https://pbs.twimg.com/media/A683f7WCEAAPpOO.jpg,http://t.co/js6bHDbU
1632,"""148476905920794624""","""147865355321217025""",https://pbs.twimg.com/media/Ag1SwdqCEAElVJk.jpg,http://t.co/Tl2QEVoF

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1633, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1633, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1238497632345096192"  Image added
1     "1236956939403374592"  Image added
2     "1233495710621995014"  Image added
3     "1232351249409945604"  Image added
4     "1231313742333448192"  Image added
...                     ...          ...
1628   "281458796755316736"  Image added
1629   "277330387779330049"  Image added
1630   "265849909683552258"  Image added
1631   "265491924629196800"  Image added
1632   "148476905920794624"  Image added

[1633 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,"""For information: https://t.co/rbDpMTcs6s http...",33977,180713,[],[],0,0,2020-03-13,16:10:20,Image added
1,"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,"""So proud to reach 1000 official games in my c...",31855,295806,[],[],0,0,2020-03-09,10:08:10,Image added
2,"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,"""Thank you for all your messages of support fo...",44936,521548,[],[],0,0,2020-03-03,18:57:21,NaN
3,"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,"""Stay focused on your goals ðŸ’ª https://t.co/UNu...",19800,247952,[],[],0,0,2020-02-28,20:54:29,Image added
4,"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,"""Always on my mind... see you tomorrow ðŸ’ª#UCL #...",16006,205101,[],"[#UCL, #forzajuve]",2,0,2020-02-25,17:06:48,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,"""25288412198076416""","""Cristiano Ronaldo""",cristiano,"""Yes, it's available here @Alexbaker94 @cristi...",71,34,"[@Alexbaker94, @cristiano,]",[],0,2,2011-01-12,20:30:01,NaN
3361,"""25284859744227328""","""Cristiano Ronaldo""",cristiano,"""Hola. Gracias por el tweet 1000a. @Marielys_8...",121,44,"[@Marielys_8, @Cristiano]",[],0,2,2011-01-12,20:15:54,NaN
3362,"""25250134770057216""","""Cristiano Ronaldo""",cristiano,"""@Enrique305 Thank you. I'm going to try to ma...",121,49,[@Enrique305],[],0,1,2011-01-12,17:57:55,NaN
3363,"""25114783095201792""","""Cristiano Ronaldo""",cristiano,"""Good news. Keep on winning. @shuyingthegreat ...",82,47,"[@shuyingthegreat, @Cristiano]",[#CRPenaltyGame],1,2,2011-01-12,09:00:05,NaN
3364,"""25112508507361280""","""Cristiano Ronaldo""",cristiano,"""@Tpolamalu Thank you. Happy and excited to be...",46,19,[@Tpolamalu],[],0,1,2011-01-12,08:51:03,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/CristianoRonaldoVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1226920536267264000""","""1226920510740672514""",https://video.twimg.com/ext_tw_video/122692051...,https://t.co/QNjMQDvfd4
1,"""1210533047076098048""","""1210533003568537600""",https://video.twimg.com/ext_tw_video/121053300...,https://t.co/zDvNMhMaBm
2,"""1210530255284396032""","""1210530086648242176""",https://video.twimg.com/ext_tw_video/121053008...,https://t.co/GgMr9rAUEf
3,"""1204450333830856704""","""1204450160824274944""",https://video.twimg.com/ext_tw_video/120445016...,https://t.co/KKUCVJB1D2
4,"""1189903007976218624""","""1189902911851126786""",https://video.twimg.com/ext_tw_video/118990291...,https://t.co/2kjIZaaJTo
...,...,...,...,...
138,"""710180560644272128""","""710175952966389762""",https://video.twimg.com/ext_tw_video/710175952...,https://t.co/RVWZgJjkqf
139,"""708352465662570496""","""708352386511859712""",https://video.twimg.com/ext_tw_video/708352386...,https://t.co/fEV1YNXtCf
140,"""703295167214850048""","""703295111338323968""",https://video.twimg.com/ext_tw_video/703295111...,https://t.co/2un60wufLH
141,"""672804188422807552""","""672802836225400834""",https://video.twimg.com/ext_tw_video/672802836...,https://t.co/OUrJezzzpJ
142,"""496245042982686720""","""496245039883108352""",https://video.twimg.com/tweet_video/BuMEPAvIQA...,http://t.co/Fv6IwvEl1N

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (143, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (143, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1226920536267264000"  Video added
1    "1210533047076098048"  Video added
2    "1210530255284396032"  Video added
3    "1204450333830856704"  Video added
4    "1189903007976218624"  Video added
..                     ...          ...
138   "710180560644272128"  Video added
139   "708352465662570496"  Video added
140   "703295167214850048"  Video added
141   "672804188422807552"  Video added
142   "496245042982686720"  Video added

[143 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,"""For information: https://t.co/rbDpMTcs6s http...",33977,180713,[],[],0,0,2020-03-13,16:10:20,Image added,NaN
1,"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,"""So proud to reach 1000 official games in my c...",31855,295806,[],[],0,0,2020-03-09,10:08:10,Image added,NaN
2,"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,"""Thank you for all your messages of support fo...",44936,521548,[],[],0,0,2020-03-03,18:57:21,NaN,NaN
3,"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,"""Stay focused on your goals ðŸ’ª https://t.co/UNu...",19800,247952,[],[],0,0,2020-02-28,20:54:29,Image added,NaN
4,"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,"""Always on my mind... see you tomorrow ðŸ’ª#UCL #...",16006,205101,[],"[#UCL, #forzajuve]",2,0,2020-02-25,17:06:48,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,"""25288412198076416""","""Cristiano Ronaldo""",cristiano,"""Yes, it's available here @Alexbaker94 @cristi...",71,34,"[@Alexbaker94, @cristiano,]",[],0,2,2011-01-12,20:30:01,NaN,NaN
3361,"""25284859744227328""","""Cristiano Ronaldo""",cristiano,"""Hola. Gracias por el tweet 1000a. @Marielys_8...",121,44,"[@Marielys_8, @Cristiano]",[],0,2,2011-01-12,20:15:54,NaN,NaN
3362,"""25250134770057216""","""Cristiano Ronaldo""",cristiano,"""@Enrique305 Thank you. I'm going to try to ma...",121,49,[@Enrique305],[],0,1,2011-01-12,17:57:55,NaN,NaN
3363,"""25114783095201792""","""Cristiano Ronaldo""",cristiano,"""Good news. Keep on winning. @shuyingthegreat ...",82,47,"[@shuyingthegreat, @Cristiano]",[#CRPenaltyGame],1,2,2011-01-12,09:00:05,NaN,NaN
3364,"""25112508507361280""","""Cristiano Ronaldo""",cristiano,"""@Tpolamalu Thank you. Happy and excited to be...",46,19,[@Tpolamalu],[],0,1,2011-01-12,08:51:03,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Sports"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3365, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,33977,180713,[],[],0,0,2020-03-13,16:10:20,Image added,-,Male,Sports
1,"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,31855,295806,[],[],0,0,2020-03-09,10:08:10,Image added,-,Male,Sports
2,"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,44936,521548,[],[],0,0,2020-03-03,18:57:21,-,-,Male,Sports
3,"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,19800,247952,[],[],0,0,2020-02-28,20:54:29,Image added,-,Male,Sports
4,"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,16006,205101,[],"[#UCL, #forzajuve]",2,0,2020-02-25,17:06:48,Image added,-,Male,Sports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,"""25288412198076416""","""Cristiano Ronaldo""",cristiano,71,34,"[@Alexbaker94, @cristiano,]",[],0,2,2011-01-12,20:30:01,-,-,Male,Sports
3361,"""25284859744227328""","""Cristiano Ronaldo""",cristiano,121,44,"[@Marielys_8, @Cristiano]",[],0,2,2011-01-12,20:15:54,-,-,Male,Sports
3362,"""25250134770057216""","""Cristiano Ronaldo""",cristiano,121,49,[@Enrique305],[],0,1,2011-01-12,17:57:55,-,-,Male,Sports
3363,"""25114783095201792""","""Cristiano Ronaldo""",cristiano,82,47,"[@shuyingthegreat, @Cristiano]",[#CRPenaltyGame],1,2,2011-01-12,09:00:05,-,-,Male,Sports
3364,"""25112508507361280""","""Cristiano Ronaldo""",cristiano,46,19,[@Tpolamalu],[],0,1,2011-01-12,08:51:03,-,-,Male,Sports

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3365, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1238497632345096192""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,[],0,180713,33977,Image added,-,2020-03-13,16:10:20
"""1236956939403374592""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,[],0,295806,31855,Image added,-,2020-03-09,10:08:10
"""1234915783949606917""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,[],0,521548,44936,-,-,2020-03-03,18:57:21
"""1233495710621995014""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,[],0,247952,19800,Image added,-,2020-02-28,20:54:29
"""1232351249409945604""","""Cristiano Ronaldo""",cristiano,Male,Sports,"[#UCL, #forzajuve]",2,[],0,205101,16006,Image added,-,2020-02-25,17:06:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""25288412198076416""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,"[@Alexbaker94, @cristiano,]",2,34,71,-,-,2011-01-12,20:30:01
"""25284859744227328""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,"[@Marielys_8, @Cristiano]",2,44,121,-,-,2011-01-12,20:15:54
"""25250134770057216""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,[@Enrique305],1,49,121,-,-,2011-01-12,17:57:55
"""25114783095201792""","""Cristiano Ronaldo""",cristiano,Male,Sports,[#CRPenaltyGame],1,"[@shuyingthegreat, @Cristiano]",2,47,82,-,-,2011-01-12,09:00:05
"""25112508507361280""","""Cristiano Ronaldo""",cristiano,Male,Sports,[],0,[@Tpolamalu],1,19,46,-,-,2011-01-12,08:51:03

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/CristianoRonaldo_df.csv')