##### ===================================================================================================================

#  ESPN Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/ESPNTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220229853557018625""",https://twitter.com/sportscenter/status/122022...,2020-01-23 06:20:42,"""â€œCoach, I can win the game for this team. Lea...",Retweet,Khoros,879,4845,"""26257166""","""SportsCenter""",sportscenter,Verified,https://twitter.com/sportscenter,Not Protected
1,"""1220226518712037376""",https://twitter.com/espn/status/12202265187120...,2020-01-23 06:07:27,"""Fans watching Zion go off in his first game ðŸ˜®...",Tweet,Khoros,1682,8050,"""2557521""","""ESPN""",espn,Verified,https://twitter.com/espn,Not Protected
2,"""1220214633442746369""",https://twitter.com/sportsnation/status/122021...,2020-01-23 05:20:13,"""Zion Williamson: 1 career game, 4 three-point...",Retweet,Khoros,2879,14761,"""21254264""","""SportsNation""",sportsnation,Verified,https://twitter.com/sportsnation,Not Protected
3,"""1220212122849857538""",https://twitter.com/espn/status/12202121228498...,2020-01-23 05:10:15,"""Zion put on a show in his NBA debut ðŸ”¥ https:/...",Tweet,Khoros,1821,12816,"""2557521""","""ESPN""",espn,Verified,https://twitter.com/espn,Not Protected
4,"""1220208628751327232""",https://twitter.com/espn/status/12202086287513...,2020-01-23 04:56:22,"""ZION WENT OFF ðŸ˜³\n\n17 points and 4/4 from dee...",Tweet,Khoros,3857,17229,"""2557521""","""ESPN""",espn,Verified,https://twitter.com/espn,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1179855234413129728""",https://twitter.com/mcten/status/1179855234413...,2019-10-03 20:26:23,"""LeBron responds with a game-tying 3, then Ron...",Retweet,Twitter for iPhone,222,1106,"""22494516""","""Dave McMenamin""",mcten,Verified,https://twitter.com/mcten,Not Protected
3196,"""1179829633606397952""",https://twitter.com/espnnba/status/11798296336...,2019-10-03 18:44:39,"""From Kyrie to Kawhi, @kobebryant had some of ...",Retweet,Spredfast app,2109,9711,"""74518740""","""NBA on ESPN""",espnnba,Verified,https://twitter.com/espnnba,Not Protected
3197,"""1179811085765021696""",https://twitter.com/espn/status/11798110857650...,2019-10-03 17:30:57,"""The legend of Zlatan turns 38 ðŸŽˆ https://t.co/...",Tweet,Spredfast app,1321,5934,"""2557521""","""ESPN""",espn,Verified,https://twitter.com/espn,Not Protected
3198,"""1179806280694816768""",https://twitter.com/espn/status/11798062806948...,2019-10-03 17:11:51,"""You can add 'Cardi B album name' to Tiger Woo...",Tweet,Spredfast app,502,4908,"""2557521""","""ESPN""",espn,Verified,https://twitter.com/espn,Not Protected
3199,"""1179797401755901953""",https://twitter.com/sportscenter/status/117979...,2019-10-03 16:36:34,"""Saquon looking quick at Giants practice ðŸ‘€\n\n...",Retweet,Spredfast app,1319,16055,"""26257166""","""SportsCenter""",sportscenter,Verified,https://twitter.com/sportscenter,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220229853557018625""","""SportsCenter""",sportscenter,"""â€œCoach, I can win the game for this team. Lea...",879,4845,2020-01-23 06:20:42
1,"""1220226518712037376""","""ESPN""",espn,"""Fans watching Zion go off in his first game ðŸ˜®...",1682,8050,2020-01-23 06:07:27
2,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,2020-01-23 05:20:13
3,"""1220212122849857538""","""ESPN""",espn,"""Zion put on a show in his NBA debut ðŸ”¥ https:/...",1821,12816,2020-01-23 05:10:15
4,"""1220208628751327232""","""ESPN""",espn,"""ZION WENT OFF ðŸ˜³\n\n17 points and 4/4 from dee...",3857,17229,2020-01-23 04:56:22

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220229853557018625""","""SportsCenter""",sportscenter,"""â€œCoach, I can win the game for this team. Lea...",879,4845,2020-01-23 06:20:42,[@MarcJSpearsESPN)],[],0,1
1,"""1220226518712037376""","""ESPN""",espn,"""Fans watching Zion go off in his first game ðŸ˜®...",1682,8050,2020-01-23 06:07:27,[],[],0,0
2,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,2020-01-23 05:20:13,[],[],0,0
3,"""1220212122849857538""","""ESPN""",espn,"""Zion put on a show in his NBA debut ðŸ”¥ https:/...",1821,12816,2020-01-23 05:10:15,[],[],0,0
4,"""1220208628751327232""","""ESPN""",espn,"""ZION WENT OFF ðŸ˜³\n\n17 points and 4/4 from dee...",3857,17229,2020-01-23 04:56:22,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1179855234413129728""","""Dave McMenamin""",mcten,"""LeBron responds with a game-tying 3, then Ron...",222,1106,2019-10-03 20:26:23,[],[],0,0
3196,"""1179829633606397952""","""NBA on ESPN""",espnnba,"""From Kyrie to Kawhi, @kobebryant had some of ...",2109,9711,2019-10-03 18:44:39,"[@kobebryant, @MambaSportsHQ)]",[],0,2
3197,"""1179811085765021696""","""ESPN""",espn,"""The legend of Zlatan turns 38 ðŸŽˆ https://t.co/...",1321,5934,2019-10-03 17:30:57,[],[],0,0
3198,"""1179806280694816768""","""ESPN""",espn,"""You can add 'Cardi B album name' to Tiger Woo...",502,4908,2019-10-03 17:11:51,[],[],0,0
3199,"""1179797401755901953""","""SportsCenter""",sportscenter,"""Saquon looking quick at Giants practice ðŸ‘€\n\n...",1319,16055,2019-10-03 16:36:34,[@SNYGiants)],[],0,1

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220229853557018625""","""SportsCenter""",sportscenter,"""â€œCoach, I can win the game for this team. Lea...",879,4845,[@MarcJSpearsESPN)],[],0,1,2020-01-23,06:20:42
1,"""1220226518712037376""","""ESPN""",espn,"""Fans watching Zion go off in his first game ðŸ˜®...",1682,8050,[],[],0,0,2020-01-23,06:07:27
2,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,[],[],0,0,2020-01-23,05:20:13
3,"""1220212122849857538""","""ESPN""",espn,"""Zion put on a show in his NBA debut ðŸ”¥ https:/...",1821,12816,[],[],0,0,2020-01-23,05:10:15
4,"""1220208628751327232""","""ESPN""",espn,"""ZION WENT OFF ðŸ˜³\n\n17 points and 4/4 from dee...",3857,17229,[],[],0,0,2020-01-23,04:56:22
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1179855234413129728""","""Dave McMenamin""",mcten,"""LeBron responds with a game-tying 3, then Ron...",222,1106,[],[],0,0,2019-10-03,20:26:23
3196,"""1179829633606397952""","""NBA on ESPN""",espnnba,"""From Kyrie to Kawhi, @kobebryant had some of ...",2109,9711,"[@kobebryant, @MambaSportsHQ)]",[],0,2,2019-10-03,18:44:39
3197,"""1179811085765021696""","""ESPN""",espn,"""The legend of Zlatan turns 38 ðŸŽˆ https://t.co/...",1321,5934,[],[],0,0,2019-10-03,17:30:57
3198,"""1179806280694816768""","""ESPN""",espn,"""You can add 'Cardi B album name' to Tiger Woo...",502,4908,[],[],0,0,2019-10-03,17:11:51
3199,"""1179797401755901953""","""SportsCenter""",sportscenter,"""Saquon looking quick at Giants practice ðŸ‘€\n\n...",1319,16055,[@SNYGiants)],[],0,1,2019-10-03,16:36:34

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/ESPNImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220214633442746369""","""1220214629013639168""",https://pbs.twimg.com/media/EO8SvXgX0AA4rOA.jpg,https://t.co/vlPiX6TCHs
1,"""1220214633442746369""","""1220214631362387968""",https://pbs.twimg.com/media/EO8SvgQW4AAPMiK.jpg,https://t.co/vlPiX6TCHs
2,"""1220212122849857538""","""1220212120626827266""",https://pbs.twimg.com/media/EO8QdXCWkAIqzux.jpg,https://t.co/jwncxMkTd0
3,"""1220174835281731584""","""1220174831896932352""",https://pbs.twimg.com/media/EO7ui3sWsAApOk4.jpg,https://t.co/iXszAO9S2H
4,"""1220140243573190656""","""1220140235587231744""",https://pbs.twimg.com/media/EO7PFGZWoAAlsf2.jpg,https://t.co/UOFLRBX8gC
...,...,...,...,...
1073,"""1179982257576173568""","""1179982255680299009""",https://pbs.twimg.com/media/EGAjnBcWoAEDSIS.jpg,https://t.co/GvEtM6rRan
1074,"""1179966957325557761""","""1179966955555565568""",https://pbs.twimg.com/media/EGAVscCWsAAXUBz.jpg,https://t.co/NT47nZqli2
1075,"""1179913100067311616""","""1179913098305691649""",https://pbs.twimg.com/media/EF_ktiJXYAEgRTZ.jpg,https://t.co/e255BsbBOF
1076,"""1179909057077006342""","""1179909054182907905""",https://pbs.twimg.com/media/EF_hCInW4AEEofl.jpg,https://t.co/VDB8u0OjLw
1077,"""1179806280694816768""","""1179806278924881920""",https://pbs.twimg.com/media/EF-Dj08X0AAxkXL.jpg,https://t.co/dGM4NF5VNN

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1078, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1078, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1220214633442746369"  Image added
1     "1220214633442746369"  Image added
2     "1220212122849857538"  Image added
3     "1220174835281731584"  Image added
4     "1220140243573190656"  Image added
...                     ...          ...
1073  "1179982257576173568"  Image added
1074  "1179966957325557761"  Image added
1075  "1179913100067311616"  Image added
1076  "1179909057077006342"  Image added
1077  "1179806280694816768"  Image added

[1078 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220229853557018625""","""SportsCenter""",sportscenter,"""â€œCoach, I can win the game for this team. Lea...",879,4845,[@MarcJSpearsESPN)],[],0,1,2020-01-23,06:20:42,NaN
1,"""1220226518712037376""","""ESPN""",espn,"""Fans watching Zion go off in his first game ðŸ˜®...",1682,8050,[],[],0,0,2020-01-23,06:07:27,NaN
2,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,[],[],0,0,2020-01-23,05:20:13,Image added
3,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,[],[],0,0,2020-01-23,05:20:13,Image added
4,"""1220212122849857538""","""ESPN""",espn,"""Zion put on a show in his NBA debut ðŸ”¥ https:/...",1821,12816,[],[],0,0,2020-01-23,05:10:15,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,"""1179855234413129728""","""Dave McMenamin""",mcten,"""LeBron responds with a game-tying 3, then Ron...",222,1106,[],[],0,0,2019-10-03,20:26:23,NaN
3342,"""1179829633606397952""","""NBA on ESPN""",espnnba,"""From Kyrie to Kawhi, @kobebryant had some of ...",2109,9711,"[@kobebryant, @MambaSportsHQ)]",[],0,2,2019-10-03,18:44:39,NaN
3343,"""1179811085765021696""","""ESPN""",espn,"""The legend of Zlatan turns 38 ðŸŽˆ https://t.co/...",1321,5934,[],[],0,0,2019-10-03,17:30:57,NaN
3344,"""1179806280694816768""","""ESPN""",espn,"""You can add 'Cardi B album name' to Tiger Woo...",502,4908,[],[],0,0,2019-10-03,17:11:51,Image added
3345,"""1179797401755901953""","""SportsCenter""",sportscenter,"""Saquon looking quick at Giants practice ðŸ‘€\n\n...",1319,16055,[@SNYGiants)],[],0,1,2019-10-03,16:36:34,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/ESPNVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220229853557018625""","""1220229766281695232""",https://video.twimg.com/ext_tw_video/122022976...,https://t.co/DyQ2WvUGU4
1,"""1220226518712037376""","""1220226438500167682""",https://video.twimg.com/ext_tw_video/122022643...,https://t.co/CSkT3Pj0zM
2,"""1220208628751327232""","""1220208437776265217""",https://video.twimg.com/ext_tw_video/122020843...,https://t.co/CfYklzb2Bv
3,"""1220206449479028737""","""1220206373700620288""",https://video.twimg.com/ext_tw_video/122020637...,https://t.co/2EuO0xpJaF
4,"""1220204719286685698""","""1220203837891530753""",https://video.twimg.com/amplify_video/12202038...,https://t.co/1W2x6nEcFT
...,...,...,...,...
1953,"""1179898467046572033""","""1179898399006568454""",https://video.twimg.com/ext_tw_video/117989839...,https://t.co/y5EfOaiUiX
1954,"""1179855234413129728""","""1179855201005498368""",https://video.twimg.com/ext_tw_video/117985520...,https://t.co/Hpkiu9n9WP
1955,"""1179829633606397952""","""1179822128255750144""",https://video.twimg.com/ext_tw_video/117982212...,https://t.co/reLYkWYrT4
1956,"""1179811085765021696""","""1179810925005680640""",https://video.twimg.com/ext_tw_video/117981092...,https://t.co/Gb9dqya6yk
1957,"""1179797401755901953""","""1179782554397925378""",https://video.twimg.com/ext_tw_video/117978255...,https://t.co/B2qKgFSa3c

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1958, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1958, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                   Tweet Id       Videos
0     "1220229853557018625"  Video added
1     "1220226518712037376"  Video added
2     "1220208628751327232"  Video added
3     "1220206449479028737"  Video added
4     "1220204719286685698"  Video added
...                     ...          ...
1953  "1179898467046572033"  Video added
1954  "1179855234413129728"  Video added
1955  "1179829633606397952"  Video added
1956  "1179811085765021696"  Video added
1957  "1179797401755901953"  Video added

[1958 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220229853557018625""","""SportsCenter""",sportscenter,"""â€œCoach, I can win the game for this team. Lea...",879,4845,[@MarcJSpearsESPN)],[],0,1,2020-01-23,06:20:42,NaN,Video added
1,"""1220226518712037376""","""ESPN""",espn,"""Fans watching Zion go off in his first game ðŸ˜®...",1682,8050,[],[],0,0,2020-01-23,06:07:27,NaN,Video added
2,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,[],[],0,0,2020-01-23,05:20:13,Image added,NaN
3,"""1220214633442746369""","""SportsNation""",sportsnation,"""Zion Williamson: 1 career game, 4 three-point...",2879,14761,[],[],0,0,2020-01-23,05:20:13,Image added,NaN
4,"""1220212122849857538""","""ESPN""",espn,"""Zion put on a show in his NBA debut ðŸ”¥ https:/...",1821,12816,[],[],0,0,2020-01-23,05:10:15,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,"""1179855234413129728""","""Dave McMenamin""",mcten,"""LeBron responds with a game-tying 3, then Ron...",222,1106,[],[],0,0,2019-10-03,20:26:23,NaN,Video added
3342,"""1179829633606397952""","""NBA on ESPN""",espnnba,"""From Kyrie to Kawhi, @kobebryant had some of ...",2109,9711,"[@kobebryant, @MambaSportsHQ)]",[],0,2,2019-10-03,18:44:39,NaN,Video added
3343,"""1179811085765021696""","""ESPN""",espn,"""The legend of Zlatan turns 38 ðŸŽˆ https://t.co/...",1321,5934,[],[],0,0,2019-10-03,17:30:57,NaN,Video added
3344,"""1179806280694816768""","""ESPN""",espn,"""You can add 'Cardi B album name' to Tiger Woo...",502,4908,[],[],0,0,2019-10-03,17:11:51,Image added,NaN
3345,"""1179797401755901953""","""SportsCenter""",sportscenter,"""Saquon looking quick at Giants practice ðŸ‘€\n\n...",1319,16055,[@SNYGiants)],[],0,1,2019-10-03,16:36:34,NaN,Video added

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Organisation"

#Create an Vocation column 
Tweets_df['Vocation'] = "Sports"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3346, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220229853557018625""","""SportsCenter""",sportscenter,879,4845,[@MarcJSpearsESPN)],[],0,1,2020-01-23,06:20:42,-,Video added,Organisation,Sports
1,"""1220226518712037376""","""ESPN""",espn,1682,8050,[],[],0,0,2020-01-23,06:07:27,-,Video added,Organisation,Sports
2,"""1220214633442746369""","""SportsNation""",sportsnation,2879,14761,[],[],0,0,2020-01-23,05:20:13,Image added,-,Organisation,Sports
3,"""1220214633442746369""","""SportsNation""",sportsnation,2879,14761,[],[],0,0,2020-01-23,05:20:13,Image added,-,Organisation,Sports
4,"""1220212122849857538""","""ESPN""",espn,1821,12816,[],[],0,0,2020-01-23,05:10:15,Image added,-,Organisation,Sports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,"""1179855234413129728""","""Dave McMenamin""",mcten,222,1106,[],[],0,0,2019-10-03,20:26:23,-,Video added,Organisation,Sports
3342,"""1179829633606397952""","""NBA on ESPN""",espnnba,2109,9711,"[@kobebryant, @MambaSportsHQ)]",[],0,2,2019-10-03,18:44:39,-,Video added,Organisation,Sports
3343,"""1179811085765021696""","""ESPN""",espn,1321,5934,[],[],0,0,2019-10-03,17:30:57,-,Video added,Organisation,Sports
3344,"""1179806280694816768""","""ESPN""",espn,502,4908,[],[],0,0,2019-10-03,17:11:51,Image added,-,Organisation,Sports
3345,"""1179797401755901953""","""SportsCenter""",sportscenter,1319,16055,[@SNYGiants)],[],0,1,2019-10-03,16:36:34,-,Video added,Organisation,Sports

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3346, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220229853557018625""","""SportsCenter""",sportscenter,Organisation,Sports,[],0,[@MarcJSpearsESPN)],1,4845,879,-,Video added,2020-01-23,06:20:42
"""1220226518712037376""","""ESPN""",espn,Organisation,Sports,[],0,[],0,8050,1682,-,Video added,2020-01-23,06:07:27
"""1220214633442746369""","""SportsNation""",sportsnation,Organisation,Sports,[],0,[],0,14761,2879,Image added,-,2020-01-23,05:20:13
"""1220214633442746369""","""SportsNation""",sportsnation,Organisation,Sports,[],0,[],0,14761,2879,Image added,-,2020-01-23,05:20:13
"""1220212122849857538""","""ESPN""",espn,Organisation,Sports,[],0,[],0,12816,1821,Image added,-,2020-01-23,05:10:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1179855234413129728""","""Dave McMenamin""",mcten,Organisation,Sports,[],0,[],0,1106,222,-,Video added,2019-10-03,20:26:23
"""1179829633606397952""","""NBA on ESPN""",espnnba,Organisation,Sports,[],0,"[@kobebryant, @MambaSportsHQ)]",2,9711,2109,-,Video added,2019-10-03,18:44:39
"""1179811085765021696""","""ESPN""",espn,Organisation,Sports,[],0,[],0,5934,1321,-,Video added,2019-10-03,17:30:57
"""1179806280694816768""","""ESPN""",espn,Organisation,Sports,[],0,[],0,4908,502,Image added,-,2019-10-03,17:11:51
"""1179797401755901953""","""SportsCenter""",sportscenter,Organisation,Sports,[],0,[@SNYGiants)],1,16055,1319,-,Video added,2019-10-03,16:36:34

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/ESPN_df.csv')