##### ===================================================================================================================

#  Harry Styles Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/HarryStylesTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1217562122307227649""",https://twitter.com/harry_styles/status/121756...,2020-01-15 21:40:05,"""18 FEB 2020 https://t.co/nk3GRVMufe""",Tweet,Twitter for iPhone,46829,267621,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
1,"""1216363331864485888""",https://twitter.com/harry_styles/status/121636...,2020-01-12 14:16:31,"""HAPPY NEW YEAR! Thank you @BRITs for the nomi...",Tweet,Twitter for iPhone,55571,273738,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
2,"""1209062698484412418""",https://twitter.com/harry_styles/status/120906...,2019-12-23 10:46:25,"""Wishing everyone a wonderful Christmas time. ...",Tweet,Twitter for iPhone,142828,666466,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
3,"""1208085367481614337""",https://twitter.com/harry_styles/status/120808...,2019-12-20 18:02:51,"""FINE LINE LIVE IN LONDON.\nDEC 19 2019. https...",Tweet,Twitter for iPhone,31828,218063,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
4,"""1206686730285441027""",https://twitter.com/harry_styles/status/120668...,2019-12-16 21:25:10,"""Thank you to everyone listening to FINE LINE,...",Tweet,Twitter for iPhone,66469,320991,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""141492074947162113""",https://twitter.com/harry_styles/status/141492...,2011-11-29 12:21:54,"""Big thanks to everyone who got involved in ou...",Tweet,Twitter for iPhone,2924,1045,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
3196,"""141491790871138304""",https://twitter.com/harry_styles/status/141491...,2011-11-29 12:20:46,"""@emmaaclaire happy birthday!!! :) have a good...",Reply,Twitter for iPhone,244,178,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
3197,"""141490261246222336""",https://twitter.com/harry_styles/status/141490...,2011-11-29 12:14:41,"""@niallervibes very well thank :) woke up in a...",Reply,Twitter for iPhone,250,191,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
3198,"""141488568303484928""",https://twitter.com/harry_styles/status/141488...,2011-11-29 12:07:58,"""RT @hotpatooties If you're on Orange please v...",Tweet,Twitter for iPhone,504,376,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected
3199,"""141176393508732928""",https://twitter.com/harry_styles/status/141176...,2011-11-28 15:27:29,"""Trafalgar Square... Let's Do It!!!""",Tweet,Twitter for BlackBerryÂ®,2794,935,"""181561712""","""Harry Styles.""",harry_styles,Verified,https://twitter.com/harry_styles,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1217562122307227649""","""Harry Styles.""",harry_styles,"""18 FEB 2020 https://t.co/nk3GRVMufe""",46829,267621,2020-01-15 21:40:05
1,"""1216363331864485888""","""Harry Styles.""",harry_styles,"""HAPPY NEW YEAR! Thank you @BRITs for the nomi...",55571,273738,2020-01-12 14:16:31
2,"""1209062698484412418""","""Harry Styles.""",harry_styles,"""Wishing everyone a wonderful Christmas time. ...",142828,666466,2019-12-23 10:46:25
3,"""1208085367481614337""","""Harry Styles.""",harry_styles,"""FINE LINE LIVE IN LONDON.\nDEC 19 2019. https...",31828,218063,2019-12-20 18:02:51
4,"""1206686730285441027""","""Harry Styles.""",harry_styles,"""Thank you to everyone listening to FINE LINE,...",66469,320991,2019-12-16 21:25:10

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1217562122307227649""","""Harry Styles.""",harry_styles,"""18 FEB 2020 https://t.co/nk3GRVMufe""",46829,267621,2020-01-15 21:40:05,[],[],0,0
1,"""1216363331864485888""","""Harry Styles.""",harry_styles,"""HAPPY NEW YEAR! Thank you @BRITs for the nomi...",55571,273738,2020-01-12 14:16:31,[@BRITs],[],0,1
2,"""1209062698484412418""","""Harry Styles.""",harry_styles,"""Wishing everyone a wonderful Christmas time. ...",142828,666466,2019-12-23 10:46:25,[],[],0,0
3,"""1208085367481614337""","""Harry Styles.""",harry_styles,"""FINE LINE LIVE IN LONDON.\nDEC 19 2019. https...",31828,218063,2019-12-20 18:02:51,[],[],0,0
4,"""1206686730285441027""","""Harry Styles.""",harry_styles,"""Thank you to everyone listening to FINE LINE,...",66469,320991,2019-12-16 21:25:10,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""141492074947162113""","""Harry Styles.""",harry_styles,"""Big thanks to everyone who got involved in ou...",2924,1045,2011-11-29 12:21:54,[],[],0,0
3196,"""141491790871138304""","""Harry Styles.""",harry_styles,"""@emmaaclaire happy birthday!!! :) have a good...",244,178,2011-11-29 12:20:46,[@emmaaclaire],[],0,1
3197,"""141490261246222336""","""Harry Styles.""",harry_styles,"""@niallervibes very well thank :) woke up in a...",250,191,2011-11-29 12:14:41,[@niallervibes],[],0,1
3198,"""141488568303484928""","""Harry Styles.""",harry_styles,"""RT @hotpatooties If you're on Orange please v...",504,376,2011-11-29 12:07:58,"[@hotpatooties, @BigBoyler]",[],0,2
3199,"""141176393508732928""","""Harry Styles.""",harry_styles,"""Trafalgar Square... Let's Do It!!!""",2794,935,2011-11-28 15:27:29,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1217562122307227649""","""Harry Styles.""",harry_styles,"""18 FEB 2020 https://t.co/nk3GRVMufe""",46829,267621,[],[],0,0,2020-01-15,21:40:05
1,"""1216363331864485888""","""Harry Styles.""",harry_styles,"""HAPPY NEW YEAR! Thank you @BRITs for the nomi...",55571,273738,[@BRITs],[],0,1,2020-01-12,14:16:31
2,"""1209062698484412418""","""Harry Styles.""",harry_styles,"""Wishing everyone a wonderful Christmas time. ...",142828,666466,[],[],0,0,2019-12-23,10:46:25
3,"""1208085367481614337""","""Harry Styles.""",harry_styles,"""FINE LINE LIVE IN LONDON.\nDEC 19 2019. https...",31828,218063,[],[],0,0,2019-12-20,18:02:51
4,"""1206686730285441027""","""Harry Styles.""",harry_styles,"""Thank you to everyone listening to FINE LINE,...",66469,320991,[],[],0,0,2019-12-16,21:25:10
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""141492074947162113""","""Harry Styles.""",harry_styles,"""Big thanks to everyone who got involved in ou...",2924,1045,[],[],0,0,2011-11-29,12:21:54
3196,"""141491790871138304""","""Harry Styles.""",harry_styles,"""@emmaaclaire happy birthday!!! :) have a good...",244,178,[@emmaaclaire],[],0,1,2011-11-29,12:20:46
3197,"""141490261246222336""","""Harry Styles.""",harry_styles,"""@niallervibes very well thank :) woke up in a...",250,191,[@niallervibes],[],0,1,2011-11-29,12:14:41
3198,"""141488568303484928""","""Harry Styles.""",harry_styles,"""RT @hotpatooties If you're on Orange please v...",504,376,"[@hotpatooties, @BigBoyler]",[],0,2,2011-11-29,12:07:58
3199,"""141176393508732928""","""Harry Styles.""",harry_styles,"""Trafalgar Square... Let's Do It!!!""",2794,935,[],[],0,0,2011-11-28,15:27:29

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/HarryStylesImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1217562122307227649""","""1217562108914782208""",https://pbs.twimg.com/media/EOWmSYHXUAA4OWc.jpg,https://t.co/nk3GRVMufe
1,"""1216363331864485888""","""1216363318954352640""",https://pbs.twimg.com/media/EOFj_ngW4AABSSe.jpg,https://t.co/dOBwnZFRhj
2,"""1208085367481614337""","""1208085358640021509""",https://pbs.twimg.com/media/EMP7O6QWwAUZvQe.jpg,https://t.co/leVgGezAJq
3,"""1206256127198892032""","""1206256112707629056""",https://pbs.twimg.com/media/EL17iyIU8AAcUkL.jpg,https://t.co/FIJGiIxh8o
4,"""1206078048912568320""","""1206078043531333633""",https://pbs.twimg.com/media/ELzZlywVUAEb7mG.jpg,https://t.co/DleB884dII
...,...,...,...,...
251,"""155576873554935808""","""155576873559130112""",https://pbs.twimg.com/media/Aii4V5vCAAAD2VG.jpg,http://t.co/WXae8ijP
252,"""154576320435720192""","""154576320439914496""",https://pbs.twimg.com/media/AiUqWC6CEAAQSFt.jpg,http://t.co/w2u9fOei
253,"""153960772672823296""","""153960772677017600""",https://pbs.twimg.com/media/AiL6gczCIAAm_0i.jpg,http://t.co/Lu8IFPKq
254,"""147653667024154624""","""147653667028348928""",https://pbs.twimg.com/media/AgySOlUCMAAOvKY.jpg,http://t.co/wyuhOtse
255,"""146189264001048577""","""146189264005242880""",https://pbs.twimg.com/media/AgdeXG8CIAA84TC.jpg,http://t.co/gbaCLI3j

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (256, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (256, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1217562122307227649"  Image added
1    "1216363331864485888"  Image added
2    "1208085367481614337"  Image added
3    "1206256127198892032"  Image added
4    "1206078048912568320"  Image added
..                     ...          ...
251   "155576873554935808"  Image added
252   "154576320435720192"  Image added
253   "153960772672823296"  Image added
254   "147653667024154624"  Image added
255   "146189264001048577"  Image added

[256 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1217562122307227649""","""Harry Styles.""",harry_styles,"""18 FEB 2020 https://t.co/nk3GRVMufe""",46829,267621,[],[],0,0,2020-01-15,21:40:05,Image added
1,"""1216363331864485888""","""Harry Styles.""",harry_styles,"""HAPPY NEW YEAR! Thank you @BRITs for the nomi...",55571,273738,[@BRITs],[],0,1,2020-01-12,14:16:31,Image added
2,"""1209062698484412418""","""Harry Styles.""",harry_styles,"""Wishing everyone a wonderful Christmas time. ...",142828,666466,[],[],0,0,2019-12-23,10:46:25,NaN
3,"""1208085367481614337""","""Harry Styles.""",harry_styles,"""FINE LINE LIVE IN LONDON.\nDEC 19 2019. https...",31828,218063,[],[],0,0,2019-12-20,18:02:51,Image added
4,"""1206686730285441027""","""Harry Styles.""",harry_styles,"""Thank you to everyone listening to FINE LINE,...",66469,320991,[],[],0,0,2019-12-16,21:25:10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,"""141492074947162113""","""Harry Styles.""",harry_styles,"""Big thanks to everyone who got involved in ou...",2924,1045,[],[],0,0,2011-11-29,12:21:54,NaN
3197,"""141491790871138304""","""Harry Styles.""",harry_styles,"""@emmaaclaire happy birthday!!! :) have a good...",244,178,[@emmaaclaire],[],0,1,2011-11-29,12:20:46,NaN
3198,"""141490261246222336""","""Harry Styles.""",harry_styles,"""@niallervibes very well thank :) woke up in a...",250,191,[@niallervibes],[],0,1,2011-11-29,12:14:41,NaN
3199,"""141488568303484928""","""Harry Styles.""",harry_styles,"""RT @hotpatooties If you're on Orange please v...",504,376,"[@hotpatooties, @BigBoyler]",[],0,2,2011-11-29,12:07:58,NaN
3200,"""141176393508732928""","""Harry Styles.""",harry_styles,"""Trafalgar Square... Let's Do It!!!""",2794,935,[],[],0,0,2011-11-28,15:27:29,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/HarryStylesVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1202626462051753984""","""1202623444971487234""",https://video.twimg.com/amplify_video/12026234...,https://t.co/1bIfZGhaL9
1,"""1192138849675292673""","""1192138713662406656""",https://video.twimg.com/ext_tw_video/119213871...,https://t.co/YOxUcDd20f
2,"""1157320273659682816""","""1157319739208851457""",https://video.twimg.com/ext_tw_video/115731973...,https://t.co/nLwiIJxmvp
3,"""966405260477595649""","""966330274958270464""",https://video.twimg.com/tweet_video/DWkYQ-aX4A...,https://t.co/FXGBl8k3Sg
4,"""924713041375191041""","""924712885129043969""",https://video.twimg.com/ext_tw_video/924712885...,https://t.co/SYBEW3LIWa
5,"""861474972405026816""","""861474959591436288""",https://video.twimg.com/tweet_video/C_SS6VVXcA...,https://t.co/923BeVc8aD
6,"""860818785036521472""","""860818527481077763""",https://video.twimg.com/ext_tw_video/860818527...,https://t.co/yxRKzjaKgD
7,"""784440431979458560""","""784439576186200064""",https://video.twimg.com/ext_tw_video/784439576...,https://t.co/9f9fi2H30i

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (8, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (8, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                Tweet Id       Videos
0  "1202626462051753984"  Video added
1  "1192138849675292673"  Video added
2  "1157320273659682816"  Video added
3   "966405260477595649"  Video added
4   "924713041375191041"  Video added
5   "861474972405026816"  Video added
6   "860818785036521472"  Video added
7   "784440431979458560"  Video added

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1217562122307227649""","""Harry Styles.""",harry_styles,"""18 FEB 2020 https://t.co/nk3GRVMufe""",46829,267621,[],[],0,0,2020-01-15,21:40:05,Image added,NaN
1,"""1216363331864485888""","""Harry Styles.""",harry_styles,"""HAPPY NEW YEAR! Thank you @BRITs for the nomi...",55571,273738,[@BRITs],[],0,1,2020-01-12,14:16:31,Image added,NaN
2,"""1209062698484412418""","""Harry Styles.""",harry_styles,"""Wishing everyone a wonderful Christmas time. ...",142828,666466,[],[],0,0,2019-12-23,10:46:25,NaN,NaN
3,"""1208085367481614337""","""Harry Styles.""",harry_styles,"""FINE LINE LIVE IN LONDON.\nDEC 19 2019. https...",31828,218063,[],[],0,0,2019-12-20,18:02:51,Image added,NaN
4,"""1206686730285441027""","""Harry Styles.""",harry_styles,"""Thank you to everyone listening to FINE LINE,...",66469,320991,[],[],0,0,2019-12-16,21:25:10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,"""141492074947162113""","""Harry Styles.""",harry_styles,"""Big thanks to everyone who got involved in ou...",2924,1045,[],[],0,0,2011-11-29,12:21:54,NaN,NaN
3197,"""141491790871138304""","""Harry Styles.""",harry_styles,"""@emmaaclaire happy birthday!!! :) have a good...",244,178,[@emmaaclaire],[],0,1,2011-11-29,12:20:46,NaN,NaN
3198,"""141490261246222336""","""Harry Styles.""",harry_styles,"""@niallervibes very well thank :) woke up in a...",250,191,[@niallervibes],[],0,1,2011-11-29,12:14:41,NaN,NaN
3199,"""141488568303484928""","""Harry Styles.""",harry_styles,"""RT @hotpatooties If you're on Orange please v...",504,376,"[@hotpatooties, @BigBoyler]",[],0,2,2011-11-29,12:07:58,NaN,NaN
3200,"""141176393508732928""","""Harry Styles.""",harry_styles,"""Trafalgar Square... Let's Do It!!!""",2794,935,[],[],0,0,2011-11-28,15:27:29,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3201, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1217562122307227649""","""Harry Styles.""",harry_styles,46829,267621,[],[],0,0,2020-01-15,21:40:05,Image added,-,Male,Music
1,"""1216363331864485888""","""Harry Styles.""",harry_styles,55571,273738,[@BRITs],[],0,1,2020-01-12,14:16:31,Image added,-,Male,Music
2,"""1209062698484412418""","""Harry Styles.""",harry_styles,142828,666466,[],[],0,0,2019-12-23,10:46:25,-,-,Male,Music
3,"""1208085367481614337""","""Harry Styles.""",harry_styles,31828,218063,[],[],0,0,2019-12-20,18:02:51,Image added,-,Male,Music
4,"""1206686730285441027""","""Harry Styles.""",harry_styles,66469,320991,[],[],0,0,2019-12-16,21:25:10,-,-,Male,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,"""141492074947162113""","""Harry Styles.""",harry_styles,2924,1045,[],[],0,0,2011-11-29,12:21:54,-,-,Male,Music
3197,"""141491790871138304""","""Harry Styles.""",harry_styles,244,178,[@emmaaclaire],[],0,1,2011-11-29,12:20:46,-,-,Male,Music
3198,"""141490261246222336""","""Harry Styles.""",harry_styles,250,191,[@niallervibes],[],0,1,2011-11-29,12:14:41,-,-,Male,Music
3199,"""141488568303484928""","""Harry Styles.""",harry_styles,504,376,"[@hotpatooties, @BigBoyler]",[],0,2,2011-11-29,12:07:58,-,-,Male,Music
3200,"""141176393508732928""","""Harry Styles.""",harry_styles,2794,935,[],[],0,0,2011-11-28,15:27:29,-,-,Male,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3201, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1217562122307227649""","""Harry Styles.""",harry_styles,Male,Music,[],0,[],0,267621,46829,Image added,-,2020-01-15,21:40:05
"""1216363331864485888""","""Harry Styles.""",harry_styles,Male,Music,[],0,[@BRITs],1,273738,55571,Image added,-,2020-01-12,14:16:31
"""1209062698484412418""","""Harry Styles.""",harry_styles,Male,Music,[],0,[],0,666466,142828,-,-,2019-12-23,10:46:25
"""1208085367481614337""","""Harry Styles.""",harry_styles,Male,Music,[],0,[],0,218063,31828,Image added,-,2019-12-20,18:02:51
"""1206686730285441027""","""Harry Styles.""",harry_styles,Male,Music,[],0,[],0,320991,66469,-,-,2019-12-16,21:25:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""141492074947162113""","""Harry Styles.""",harry_styles,Male,Music,[],0,[],0,1045,2924,-,-,2011-11-29,12:21:54
"""141491790871138304""","""Harry Styles.""",harry_styles,Male,Music,[],0,[@emmaaclaire],1,178,244,-,-,2011-11-29,12:20:46
"""141490261246222336""","""Harry Styles.""",harry_styles,Male,Music,[],0,[@niallervibes],1,191,250,-,-,2011-11-29,12:14:41
"""141488568303484928""","""Harry Styles.""",harry_styles,Male,Music,[],0,"[@hotpatooties, @BigBoyler]",2,376,504,-,-,2011-11-29,12:07:58
"""141176393508732928""","""Harry Styles.""",harry_styles,Male,Music,[],0,[],0,935,2794,-,-,2011-11-28,15:27:29

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/HarryStyles_df.csv')