##### ===================================================================================================================

# Jimmy Fallon Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/JimmyFallonTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219730046694383618""",https://twitter.com/jimmyfallon/status/1219730...,2020-01-21 21:14:39,"""#ThereShouldBeALaw that people who pronounce ...",Tweet,Twitter for iPhone,236,3132,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
1,"""1219729849583067136""",https://twitter.com/jimmyfallon/status/1219729...,2020-01-21 21:13:52,"""It’s Hashtags time! Tag a tweet with #ThereSh...",Tweet,Twitter for iPhone,207,3255,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
2,"""1218196761271054341""",https://twitter.com/jimmyfallon/status/1218196...,2020-01-17 15:41:55,"""Friend goals. #happybirthdaylin""",Reply,Twitter for iPhone,51,1825,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
3,"""1218195511787782144""",https://twitter.com/jimmyfallon/status/1218195...,2020-01-17 15:36:57,"""https://t.co/l6mMb0Tdzc""",Reply,Twitter for iPhone,342,9455,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
4,"""1217937309410131969""",https://twitter.com/jimmyfallon/status/1217937...,2020-01-16 22:30:57,"""Kid monologues, kid games, kid interviews, bi...",Tweet,Twitter for iPhone,63,658,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""753569949671645184""",https://twitter.com/jimmyfallon/status/7535699...,2016-07-14 12:40:51,"""Unfortunately had to bump Kristen Wiig, but i...",Tweet,Twitter Web Client,563,2110,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
3196,"""753564046457274368""",https://twitter.com/jimmyfallon/status/7535640...,2016-07-14 12:17:23,""".@ArianaGrande and I combine snaps into a #Sn...",Tweet,Twitter Web Client,6546,17178,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
3197,"""753561347351248897""",https://twitter.com/jimmyfallon/status/7535613...,2016-07-14 12:06:40,"""Tonight is our 500th show! Thanks to all of y...",Tweet,Twitter for iPhone,1032,8778,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
3198,"""753561070304890880""",https://twitter.com/jimmyfallon/status/7535610...,2016-07-14 12:05:34,"""Thank you!! We are very lucky. I feel the lov...",Tweet,Twitter for iPhone,160,1563,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected
3199,"""753397108997259265""",https://twitter.com/jimmyfallon/status/7533971...,2016-07-14 01:14:02,"""That is the monologue mark I stand over every...",Tweet,Twitter for iPhone,219,2411,"""15485441""","""jimmy fallon""",jimmyfallon,Verified,https://twitter.com/jimmyfallon,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,"""#ThereShouldBeALaw that people who pronounce ...",236,3132,2020-01-21 21:14:39
1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,"""It’s Hashtags time! Tag a tweet with #ThereSh...",207,3255,2020-01-21 21:13:52
2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,"""Friend goals. #happybirthdaylin""",51,1825,2020-01-17 15:41:55
3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,"""https://t.co/l6mMb0Tdzc""",342,9455,2020-01-17 15:36:57
4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,"""Kid monologues, kid games, kid interviews, bi...",63,658,2020-01-16 22:30:57

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,"""#ThereShouldBeALaw that people who pronounce ...",236,3132,2020-01-21 21:14:39,[],[#ThereShouldBeALaw],1,0
1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,"""It’s Hashtags time! Tag a tweet with #ThereSh...",207,3255,2020-01-21 21:13:52,[],[#ThereShouldBeALaw],1,0
2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,"""Friend goals. #happybirthdaylin""",51,1825,2020-01-17 15:41:55,[],"[#happybirthdaylin""]",1,0
3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,"""https://t.co/l6mMb0Tdzc""",342,9455,2020-01-17 15:36:57,[],[],0,0
4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,"""Kid monologues, kid games, kid interviews, bi...",63,658,2020-01-16 22:30:57,[@peacockTV],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""753569949671645184""","""jimmy fallon""",jimmyfallon,"""Unfortunately had to bump Kristen Wiig, but i...",563,2110,2016-07-14 12:40:51,[],"[#FallonTonight""]",1,0
3196,"""753564046457274368""","""jimmy fallon""",jimmyfallon,""".@ArianaGrande and I combine snaps into a #Sn...",6546,17178,2016-07-14 12:17:23,[@ArianaGrande],"[#SnapchatDuet, #IntoYou, #FallonTonight""]",3,1
3197,"""753561347351248897""","""jimmy fallon""",jimmyfallon,"""Tonight is our 500th show! Thanks to all of y...",1032,8778,2016-07-14 12:06:40,[],[],0,0
3198,"""753561070304890880""","""jimmy fallon""",jimmyfallon,"""Thank you!! We are very lucky. I feel the lov...",160,1563,2016-07-14 12:05:34,[],[],0,0
3199,"""753397108997259265""","""jimmy fallon""",jimmyfallon,"""That is the monologue mark I stand over every...",219,2411,2016-07-14 01:14:02,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,"""#ThereShouldBeALaw that people who pronounce ...",236,3132,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:14:39
1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,"""It’s Hashtags time! Tag a tweet with #ThereSh...",207,3255,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:13:52
2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,"""Friend goals. #happybirthdaylin""",51,1825,[],"[#happybirthdaylin""]",1,0,2020-01-17,15:41:55
3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,"""https://t.co/l6mMb0Tdzc""",342,9455,[],[],0,0,2020-01-17,15:36:57
4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,"""Kid monologues, kid games, kid interviews, bi...",63,658,[@peacockTV],[],0,1,2020-01-16,22:30:57
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""753569949671645184""","""jimmy fallon""",jimmyfallon,"""Unfortunately had to bump Kristen Wiig, but i...",563,2110,[],"[#FallonTonight""]",1,0,2016-07-14,12:40:51
3196,"""753564046457274368""","""jimmy fallon""",jimmyfallon,""".@ArianaGrande and I combine snaps into a #Sn...",6546,17178,[@ArianaGrande],"[#SnapchatDuet, #IntoYou, #FallonTonight""]",3,1,2016-07-14,12:17:23
3197,"""753561347351248897""","""jimmy fallon""",jimmyfallon,"""Tonight is our 500th show! Thanks to all of y...",1032,8778,[],[],0,0,2016-07-14,12:06:40
3198,"""753561070304890880""","""jimmy fallon""",jimmyfallon,"""Thank you!! We are very lucky. I feel the lov...",160,1563,[],[],0,0,2016-07-14,12:05:34
3199,"""753397108997259265""","""jimmy fallon""",jimmyfallon,"""That is the monologue mark I stand over every...",219,2411,[],[],0,0,2016-07-14,01:14:02

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/JimmyFallonImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1218195511787782144""","""1218195508684099584""",https://pbs.twimg.com/media/EOfmXGIXkAAqcM8.jpg,https://t.co/l6mMb0Tdzc
1,"""1208779192986488832""","""1208779187286396928""",https://pbs.twimg.com/media/EMZyRDYXUAAnLxQ.jpg,https://t.co/gTMMSxuWtd
2,"""1207375938620669952""","""1207375932488650752""",https://pbs.twimg.com/media/EMF2A35XkAA228z.jpg,https://t.co/CY2udj1ILU
3,"""1204145131647053824""","""1204145127767379969""",https://pbs.twimg.com/media/ELX7nSaXkAEzT-I.jpg,https://t.co/G3cQJHEFuU
4,"""1204112479489609728""","""1204112477178519558""",https://pbs.twimg.com/media/ELXd6xfXYAYg-PX.jpg,https://t.co/TUP64s1Jiz
...,...,...,...,...
337,"""770827179798237184""","""770827173003485185""",https://pbs.twimg.com/media/CrKHOtYXYAEtNbO.jpg,https://t.co/QgDqlidlRj
338,"""770116873807618048""","""770116866765389824""",https://pbs.twimg.com/media/CrABNccWgAAnOS2.jpg,https://t.co/O6ZJpXo7hb
339,"""769169267510091776""","""769169208798314496""",https://pbs.twimg.com/media/CqyjUfaXgAAuDOc.jpg,https://t.co/8Yfcddnh7f
340,"""764695727159279616""","""764695713653620736""",https://pbs.twimg.com/media/Cpy-szWWgAAl_8L.jpg,https://t.co/4quWvffosN
341,"""764695015876681728""","""764695006078795780""",https://pbs.twimg.com/media/Cpy-DnbXgAQ27ZR.jpg,https://t.co/DbXHRhtCSs

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (342, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (342, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1218195511787782144"  Image added
1    "1208779192986488832"  Image added
2    "1207375938620669952"  Image added
3    "1204145131647053824"  Image added
4    "1204112479489609728"  Image added
..                     ...          ...
337   "770827179798237184"  Image added
338   "770116873807618048"  Image added
339   "769169267510091776"  Image added
340   "764695727159279616"  Image added
341   "764695015876681728"  Image added

[342 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,"""#ThereShouldBeALaw that people who pronounce ...",236,3132,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:14:39,NaN
1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,"""It’s Hashtags time! Tag a tweet with #ThereSh...",207,3255,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:13:52,NaN
2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,"""Friend goals. #happybirthdaylin""",51,1825,[],"[#happybirthdaylin""]",1,0,2020-01-17,15:41:55,NaN
3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,"""https://t.co/l6mMb0Tdzc""",342,9455,[],[],0,0,2020-01-17,15:36:57,Image added
4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,"""Kid monologues, kid games, kid interviews, bi...",63,658,[@peacockTV],[],0,1,2020-01-16,22:30:57,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,"""753569949671645184""","""jimmy fallon""",jimmyfallon,"""Unfortunately had to bump Kristen Wiig, but i...",563,2110,[],"[#FallonTonight""]",1,0,2016-07-14,12:40:51,NaN
3226,"""753564046457274368""","""jimmy fallon""",jimmyfallon,""".@ArianaGrande and I combine snaps into a #Sn...",6546,17178,[@ArianaGrande],"[#SnapchatDuet, #IntoYou, #FallonTonight""]",3,1,2016-07-14,12:17:23,NaN
3227,"""753561347351248897""","""jimmy fallon""",jimmyfallon,"""Tonight is our 500th show! Thanks to all of y...",1032,8778,[],[],0,0,2016-07-14,12:06:40,NaN
3228,"""753561070304890880""","""jimmy fallon""",jimmyfallon,"""Thank you!! We are very lucky. I feel the lov...",160,1563,[],[],0,0,2016-07-14,12:05:34,NaN
3229,"""753397108997259265""","""jimmy fallon""",jimmyfallon,"""That is the monologue mark I stand over every...",219,2411,[],[],0,0,2016-07-14,01:14:02,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/JimmyFallonVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1217873333972283395""","""1217873219614576640""",https://video.twimg.com/ext_tw_video/121787321...,https://t.co/yZMPXWfNeg
1,"""1217675615635197952""","""1217662552928346112""",https://video.twimg.com/amplify_video/12176625...,https://t.co/LTZ7EgDfZc
2,"""1208876262132998145""","""1208876191354109952""",https://video.twimg.com/ext_tw_video/120887619...,https://t.co/wO63JI2hv5
3,"""1206959737394384898""","""1206915658123894784""",https://video.twimg.com/amplify_video/12069156...,https://t.co/D7mS3LCrSO
4,"""1205126178509639681""","""1205125975677325318""",https://video.twimg.com/ext_tw_video/120512597...,https://t.co/adaGkbM6zW
...,...,...,...,...
287,"""769699721099304961""","""769699525250453504""",https://video.twimg.com/amplify_video/76969952...,https://t.co/rNDEtipClu
288,"""768640506842779648""","""768640466493534209""",https://video.twimg.com/ext_tw_video/768640466...,https://t.co/eEfSouWZK0
289,"""768637987940950021""","""768637958324969473""",https://video.twimg.com/ext_tw_video/768637958...,https://t.co/UgDdK6AF84
290,"""768636251914268672""","""768636183106715648""",https://video.twimg.com/ext_tw_video/768636183...,https://t.co/SKXz9i1qLY
291,"""767528345361874944""","""767528297345478656""",https://video.twimg.com/ext_tw_video/767528297...,https://t.co/iAdEeHcvNM

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (292, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (292, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1217873333972283395"  Video added
1    "1217675615635197952"  Video added
2    "1208876262132998145"  Video added
3    "1206959737394384898"  Video added
4    "1205126178509639681"  Video added
..                     ...          ...
287   "769699721099304961"  Video added
288   "768640506842779648"  Video added
289   "768637987940950021"  Video added
290   "768636251914268672"  Video added
291   "767528345361874944"  Video added

[292 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,"""#ThereShouldBeALaw that people who pronounce ...",236,3132,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:14:39,NaN,NaN
1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,"""It’s Hashtags time! Tag a tweet with #ThereSh...",207,3255,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:13:52,NaN,NaN
2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,"""Friend goals. #happybirthdaylin""",51,1825,[],"[#happybirthdaylin""]",1,0,2020-01-17,15:41:55,NaN,NaN
3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,"""https://t.co/l6mMb0Tdzc""",342,9455,[],[],0,0,2020-01-17,15:36:57,Image added,NaN
4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,"""Kid monologues, kid games, kid interviews, bi...",63,658,[@peacockTV],[],0,1,2020-01-16,22:30:57,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,"""753569949671645184""","""jimmy fallon""",jimmyfallon,"""Unfortunately had to bump Kristen Wiig, but i...",563,2110,[],"[#FallonTonight""]",1,0,2016-07-14,12:40:51,NaN,NaN
3226,"""753564046457274368""","""jimmy fallon""",jimmyfallon,""".@ArianaGrande and I combine snaps into a #Sn...",6546,17178,[@ArianaGrande],"[#SnapchatDuet, #IntoYou, #FallonTonight""]",3,1,2016-07-14,12:17:23,NaN,NaN
3227,"""753561347351248897""","""jimmy fallon""",jimmyfallon,"""Tonight is our 500th show! Thanks to all of y...",1032,8778,[],[],0,0,2016-07-14,12:06:40,NaN,NaN
3228,"""753561070304890880""","""jimmy fallon""",jimmyfallon,"""Thank you!! We are very lucky. I feel the lov...",160,1563,[],[],0,0,2016-07-14,12:05:34,NaN,NaN
3229,"""753397108997259265""","""jimmy fallon""",jimmyfallon,"""That is the monologue mark I stand over every...",219,2411,[],[],0,0,2016-07-14,01:14:02,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Entertainment"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3230, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,236,3132,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:14:39,-,-,Male,Entertainment
1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,207,3255,[],[#ThereShouldBeALaw],1,0,2020-01-21,21:13:52,-,-,Male,Entertainment
2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,51,1825,[],"[#happybirthdaylin""]",1,0,2020-01-17,15:41:55,-,-,Male,Entertainment
3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,342,9455,[],[],0,0,2020-01-17,15:36:57,Image added,-,Male,Entertainment
4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,63,658,[@peacockTV],[],0,1,2020-01-16,22:30:57,-,-,Male,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,"""753569949671645184""","""jimmy fallon""",jimmyfallon,563,2110,[],"[#FallonTonight""]",1,0,2016-07-14,12:40:51,-,-,Male,Entertainment
3226,"""753564046457274368""","""jimmy fallon""",jimmyfallon,6546,17178,[@ArianaGrande],"[#SnapchatDuet, #IntoYou, #FallonTonight""]",3,1,2016-07-14,12:17:23,-,-,Male,Entertainment
3227,"""753561347351248897""","""jimmy fallon""",jimmyfallon,1032,8778,[],[],0,0,2016-07-14,12:06:40,-,-,Male,Entertainment
3228,"""753561070304890880""","""jimmy fallon""",jimmyfallon,160,1563,[],[],0,0,2016-07-14,12:05:34,-,-,Male,Entertainment
3229,"""753397108997259265""","""jimmy fallon""",jimmyfallon,219,2411,[],[],0,0,2016-07-14,01:14:02,-,-,Male,Entertainment

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3230, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[#ThereShouldBeALaw],1,[],0,3132,236,-,-,2020-01-21,21:14:39
"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[#ThereShouldBeALaw],1,[],0,3255,207,-,-,2020-01-21,21:13:52
"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"[#happybirthdaylin""]",1,[],0,1825,51,-,-,2020-01-17,15:41:55
"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17,15:36:57
"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[@peacockTV],1,658,63,-,-,2020-01-16,22:30:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""753569949671645184""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"[#FallonTonight""]",1,[],0,2110,563,-,-,2016-07-14,12:40:51
"""753564046457274368""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"[#SnapchatDuet, #IntoYou, #FallonTonight""]",3,[@ArianaGrande],1,17178,6546,-,-,2016-07-14,12:17:23
"""753561347351248897""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,8778,1032,-,-,2016-07-14,12:06:40
"""753561070304890880""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,1563,160,-,-,2016-07-14,12:05:34
"""753397108997259265""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,2411,219,-,-,2016-07-14,01:14:02

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/JimmyFallon_df.csv')