##### ===================================================================================================================

#  Katy Perry Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/KatyPerryTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219799180723359744""",https://twitter.com/katyperry/status/121979918...,2020-01-22 01:49:22,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",Tweet,Twitter for iPhone,503,4037,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
1,"""1219701567961600001""",https://twitter.com/katyperry/status/121970156...,2020-01-21 19:21:29,"""Yâ€™all! Itâ€™s a New Year &amp; a ðŸŽ¤NEW SEASON OF...",Tweet,Twitter for iPhone,1029,7558,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
2,"""1219169657250168832""",https://twitter.com/katyperry/status/121916965...,2020-01-20 08:07:52,"""the darker the night the brighter the stars âœ¨""",Tweet,Twitter for iPhone,18934,79726,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
3,"""1217216435782422530""",https://twitter.com/katyperry/status/121721643...,2020-01-14 22:46:27,"""âœ¨ #ProtectYourEnergy2020 extends from your he...",Tweet,Twitter for iPhone,802,7246,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
4,"""1216834918241583104""",https://twitter.com/katyperry/status/121683491...,2020-01-13 21:30:26,"""Thatâ€™s sweet and all but Iâ€™m livid and flippi...",Tweet,Twitter for iPhone,735,7453,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,"""758966211455569922""",https://twitter.com/katyperry/status/758966211...,2016-07-29 10:03:40,"""@thedutchass untrue""",Reply,Twitter for iPhone,740,2693,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
3193,"""758966024687329281""",https://twitter.com/katyperry/status/758966024...,2016-07-29 10:02:55,"""@katyskettle sTaHp ur my fav.""",Reply,Twitter for iPhone,757,2659,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
3194,"""758965291191631872""",https://twitter.com/katyperry/status/758965291...,2016-07-29 10:00:00,"""@wtfkates miss u bb""",Reply,Twitter for iPhone,991,3096,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
3195,"""758964275557769216""",https://twitter.com/katyperry/status/758964275...,2016-07-29 09:55:58,"""@FerrasEU don't.give.up.""",Tweet,Twitter for iPhone,1021,2778,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected
3196,"""758963797444792321""",https://twitter.com/katyperry/status/758963797...,2016-07-29 09:54:04,"""@katyscrush @katyssunlight @typosqween calm d...",Reply,Twitter for iPhone,644,2310,"""21447363""","""KATY PERRY""",katyperry,Verified,https://twitter.com/katyperry,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3197, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3197, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,2020-01-22 01:49:22
1,"""1219701567961600001""","""KATY PERRY""",katyperry,"""Yâ€™all! Itâ€™s a New Year &amp; a ðŸŽ¤NEW SEASON OF...",1029,7558,2020-01-21 19:21:29
2,"""1219169657250168832""","""KATY PERRY""",katyperry,"""the darker the night the brighter the stars âœ¨""",18934,79726,2020-01-20 08:07:52
3,"""1217216435782422530""","""KATY PERRY""",katyperry,"""âœ¨ #ProtectYourEnergy2020 extends from your he...",802,7246,2020-01-14 22:46:27
4,"""1216834918241583104""","""KATY PERRY""",katyperry,"""Thatâ€™s sweet and all but Iâ€™m livid and flippi...",735,7453,2020-01-13 21:30:26

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,2020-01-22 01:49:22,[@kpcollections],[#ShoesdayTuesday],1,1
1,"""1219701567961600001""","""KATY PERRY""",katyperry,"""Yâ€™all! Itâ€™s a New Year &amp; a ðŸŽ¤NEW SEASON OF...",1029,7558,2020-01-21 19:21:29,"[@AMERICANIDOLðŸŽ¤, @ABCNetwork!, @lionelrichie, ...",[],0,6
2,"""1219169657250168832""","""KATY PERRY""",katyperry,"""the darker the night the brighter the stars âœ¨""",18934,79726,2020-01-20 08:07:52,[],[],0,0
3,"""1217216435782422530""","""KATY PERRY""",katyperry,"""âœ¨ #ProtectYourEnergy2020 extends from your he...",802,7246,2020-01-14 22:46:27,[@katyperrycollections],"[#ProtectYourEnergy2020, #ShoesdayTuesday]",2,1
4,"""1216834918241583104""","""KATY PERRY""",katyperry,"""Thatâ€™s sweet and all but Iâ€™m livid and flippi...",735,7453,2020-01-13 21:30:26,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3192,"""758966211455569922""","""KATY PERRY""",katyperry,"""@thedutchass untrue""",740,2693,2016-07-29 10:03:40,[@thedutchass],[],0,1
3193,"""758966024687329281""","""KATY PERRY""",katyperry,"""@katyskettle sTaHp ur my fav.""",757,2659,2016-07-29 10:02:55,[@katyskettle],[],0,1
3194,"""758965291191631872""","""KATY PERRY""",katyperry,"""@wtfkates miss u bb""",991,3096,2016-07-29 10:00:00,[@wtfkates],[],0,1
3195,"""758964275557769216""","""KATY PERRY""",katyperry,"""@FerrasEU don't.give.up.""",1021,2778,2016-07-29 09:55:58,[@FerrasEU],[],0,1
3196,"""758963797444792321""","""KATY PERRY""",katyperry,"""@katyscrush @katyssunlight @typosqween calm d...",644,2310,2016-07-29 09:54:04,"[@katyscrush, @katyssunlight, @typosqween]",[],0,3

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3197, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22
1,"""1219701567961600001""","""KATY PERRY""",katyperry,"""Yâ€™all! Itâ€™s a New Year &amp; a ðŸŽ¤NEW SEASON OF...",1029,7558,"[@AMERICANIDOLðŸŽ¤, @ABCNetwork!, @lionelrichie, ...",[],0,6,2020-01-21,19:21:29
2,"""1219169657250168832""","""KATY PERRY""",katyperry,"""the darker the night the brighter the stars âœ¨""",18934,79726,[],[],0,0,2020-01-20,08:07:52
3,"""1217216435782422530""","""KATY PERRY""",katyperry,"""âœ¨ #ProtectYourEnergy2020 extends from your he...",802,7246,[@katyperrycollections],"[#ProtectYourEnergy2020, #ShoesdayTuesday]",2,1,2020-01-14,22:46:27
4,"""1216834918241583104""","""KATY PERRY""",katyperry,"""Thatâ€™s sweet and all but Iâ€™m livid and flippi...",735,7453,[],[],0,0,2020-01-13,21:30:26
...,...,...,...,...,...,...,...,...,...,...,...,...
3192,"""758966211455569922""","""KATY PERRY""",katyperry,"""@thedutchass untrue""",740,2693,[@thedutchass],[],0,1,2016-07-29,10:03:40
3193,"""758966024687329281""","""KATY PERRY""",katyperry,"""@katyskettle sTaHp ur my fav.""",757,2659,[@katyskettle],[],0,1,2016-07-29,10:02:55
3194,"""758965291191631872""","""KATY PERRY""",katyperry,"""@wtfkates miss u bb""",991,3096,[@wtfkates],[],0,1,2016-07-29,10:00:00
3195,"""758964275557769216""","""KATY PERRY""",katyperry,"""@FerrasEU don't.give.up.""",1021,2778,[@FerrasEU],[],0,1,2016-07-29,09:55:58
3196,"""758963797444792321""","""KATY PERRY""",katyperry,"""@katyscrush @katyssunlight @typosqween calm d...",644,2310,"[@katyscrush, @katyssunlight, @typosqween]",[],0,3,2016-07-29,09:54:04

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/KatyPerryImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219799180723359744""","""1219799171990990848""",https://pbs.twimg.com/media/EO2Y4lfWsAAuBSz.jpg,https://t.co/eclDUS7LEx
1,"""1219799180723359744""","""1219799171982643200""",https://pbs.twimg.com/media/EO2Y4ldXUAAuD8V.jpg,https://t.co/eclDUS7LEx
2,"""1219799180723359744""","""1219799171990945797""",https://pbs.twimg.com/media/EO2Y4lfWAAUPset.jpg,https://t.co/eclDUS7LEx
3,"""1219701567961600001""","""1219701558172094467""",https://pbs.twimg.com/media/EO1AGtrWkAMeP5l.jpg,https://t.co/HAQsgGSTZF
4,"""1217216435782422530""","""1217216408464936961""",https://pbs.twimg.com/media/EORr39lUUAEgw7s.jpg,https://t.co/iuM21E86yD
...,...,...,...,...
577,"""765675353377386496""","""765675253070573568""",https://pbs.twimg.com/media/CqA5lgCUMAAzNL3.jpg,https://t.co/tw0lbYJM6Z
578,"""761672398785486849""","""761672391470616577""",https://pbs.twimg.com/media/CpIBASjUEAEyYP9.jpg,https://t.co/QtFBSCQAPY
579,"""761400104083398656""","""761400101545844736""",https://pbs.twimg.com/media/CpEJW7iWIAAFJWk.jpg,https://t.co/kCeLb80rKD
580,"""761385505946734592""","""761385502100578309""",https://pbs.twimg.com/media/CpD8FIXWYAUHOPw.jpg,https://t.co/Z9QJ4YsmVs
581,"""761362289882693633""","""761362287345172482""",https://pbs.twimg.com/media/CpDm92qWgAIQgYq.jpg,https://t.co/gujrr2WWZs

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (582, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (582, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1219799180723359744"  Image added
1    "1219799180723359744"  Image added
2    "1219799180723359744"  Image added
3    "1219701567961600001"  Image added
4    "1217216435782422530"  Image added
..                     ...          ...
577   "765675353377386496"  Image added
578   "761672398785486849"  Image added
579   "761400104083398656"  Image added
580   "761385505946734592"  Image added
581   "761362289882693633"  Image added

[582 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added
1,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added
2,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added
3,"""1219701567961600001""","""KATY PERRY""",katyperry,"""Yâ€™all! Itâ€™s a New Year &amp; a ðŸŽ¤NEW SEASON OF...",1029,7558,"[@AMERICANIDOLðŸŽ¤, @ABCNetwork!, @lionelrichie, ...",[],0,6,2020-01-21,19:21:29,Image added
4,"""1219169657250168832""","""KATY PERRY""",katyperry,"""the darker the night the brighter the stars âœ¨""",18934,79726,[],[],0,0,2020-01-20,08:07:52,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345,"""758966211455569922""","""KATY PERRY""",katyperry,"""@thedutchass untrue""",740,2693,[@thedutchass],[],0,1,2016-07-29,10:03:40,NaN
3346,"""758966024687329281""","""KATY PERRY""",katyperry,"""@katyskettle sTaHp ur my fav.""",757,2659,[@katyskettle],[],0,1,2016-07-29,10:02:55,NaN
3347,"""758965291191631872""","""KATY PERRY""",katyperry,"""@wtfkates miss u bb""",991,3096,[@wtfkates],[],0,1,2016-07-29,10:00:00,NaN
3348,"""758964275557769216""","""KATY PERRY""",katyperry,"""@FerrasEU don't.give.up.""",1021,2778,[@FerrasEU],[],0,1,2016-07-29,09:55:58,NaN
3349,"""758963797444792321""","""KATY PERRY""",katyperry,"""@katyscrush @katyssunlight @typosqween calm d...",644,2310,"[@katyscrush, @katyssunlight, @typosqween]",[],0,3,2016-07-29,09:54:04,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/KatyPerryVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1211750684246175744""","""1211750653426487296""",https://video.twimg.com/ext_tw_video/121175065...,https://t.co/Ixi6MAu9Pv
1,"""1210028733064564742""","""1210028716375433217""",https://video.twimg.com/ext_tw_video/121002871...,https://t.co/x8P8IHYPZ5
2,"""1209645021659455488""","""1209644996917202944""",https://video.twimg.com/ext_tw_video/120964499...,https://t.co/ebT2sPHLpu
3,"""1208814280507674624""","""1208814250182893568""",https://video.twimg.com/ext_tw_video/120881425...,https://t.co/wYEfpBbv7W
4,"""1208594916302999552""","""1208594867674206208""",https://video.twimg.com/ext_tw_video/120859486...,https://t.co/B60TBaYscU
...,...,...,...,...
427,"""761337675462877189""","""761337588057772032""",https://video.twimg.com/tweet_video/CpDQgKpWEA...,https://t.co/GDcPSZ2tjD
428,"""761337302085808128""","""761337259186544640""",https://video.twimg.com/tweet_video/CpDQNBgVYA...,https://t.co/Ctbs7DCjhF
429,"""761337196326506497""","""761337160003747840""",https://video.twimg.com/tweet_video/CpDQHQBUAA...,https://t.co/YaAIJPSLTa
430,"""761337026859900928""","""761336951106576384""",https://video.twimg.com/tweet_video/CpDP7F0WIA...,https://t.co/fJgRAwP4Dr
431,"""759784914568871936""","""759784831576215552""",https://video.twimg.com/ext_tw_video/759784831...,https://t.co/b6L1wngzzu

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (432, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (432, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1211750684246175744"  Video added
1    "1210028733064564742"  Video added
2    "1209645021659455488"  Video added
3    "1208814280507674624"  Video added
4    "1208594916302999552"  Video added
..                     ...          ...
427   "761337675462877189"  Video added
428   "761337302085808128"  Video added
429   "761337196326506497"  Video added
430   "761337026859900928"  Video added
431   "759784914568871936"  Video added

[432 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added,NaN
1,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added,NaN
2,"""1219799180723359744""","""KATY PERRY""",katyperry,"""Step into your destiny with The Bondie ðŸ”®âœ¨ #Sh...",503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added,NaN
3,"""1219701567961600001""","""KATY PERRY""",katyperry,"""Yâ€™all! Itâ€™s a New Year &amp; a ðŸŽ¤NEW SEASON OF...",1029,7558,"[@AMERICANIDOLðŸŽ¤, @ABCNetwork!, @lionelrichie, ...",[],0,6,2020-01-21,19:21:29,Image added,NaN
4,"""1219169657250168832""","""KATY PERRY""",katyperry,"""the darker the night the brighter the stars âœ¨""",18934,79726,[],[],0,0,2020-01-20,08:07:52,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345,"""758966211455569922""","""KATY PERRY""",katyperry,"""@thedutchass untrue""",740,2693,[@thedutchass],[],0,1,2016-07-29,10:03:40,NaN,NaN
3346,"""758966024687329281""","""KATY PERRY""",katyperry,"""@katyskettle sTaHp ur my fav.""",757,2659,[@katyskettle],[],0,1,2016-07-29,10:02:55,NaN,NaN
3347,"""758965291191631872""","""KATY PERRY""",katyperry,"""@wtfkates miss u bb""",991,3096,[@wtfkates],[],0,1,2016-07-29,10:00:00,NaN,NaN
3348,"""758964275557769216""","""KATY PERRY""",katyperry,"""@FerrasEU don't.give.up.""",1021,2778,[@FerrasEU],[],0,1,2016-07-29,09:55:58,NaN,NaN
3349,"""758963797444792321""","""KATY PERRY""",katyperry,"""@katyscrush @katyssunlight @typosqween calm d...",644,2310,"[@katyscrush, @katyssunlight, @typosqween]",[],0,3,2016-07-29,09:54:04,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3350, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1219799180723359744""","""KATY PERRY""",katyperry,503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added,-,Female,Music
1,"""1219799180723359744""","""KATY PERRY""",katyperry,503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added,-,Female,Music
2,"""1219799180723359744""","""KATY PERRY""",katyperry,503,4037,[@kpcollections],[#ShoesdayTuesday],1,1,2020-01-22,01:49:22,Image added,-,Female,Music
3,"""1219701567961600001""","""KATY PERRY""",katyperry,1029,7558,"[@AMERICANIDOLðŸŽ¤, @ABCNetwork!, @lionelrichie, ...",[],0,6,2020-01-21,19:21:29,Image added,-,Female,Music
4,"""1219169657250168832""","""KATY PERRY""",katyperry,18934,79726,[],[],0,0,2020-01-20,08:07:52,-,-,Female,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345,"""758966211455569922""","""KATY PERRY""",katyperry,740,2693,[@thedutchass],[],0,1,2016-07-29,10:03:40,-,-,Female,Music
3346,"""758966024687329281""","""KATY PERRY""",katyperry,757,2659,[@katyskettle],[],0,1,2016-07-29,10:02:55,-,-,Female,Music
3347,"""758965291191631872""","""KATY PERRY""",katyperry,991,3096,[@wtfkates],[],0,1,2016-07-29,10:00:00,-,-,Female,Music
3348,"""758964275557769216""","""KATY PERRY""",katyperry,1021,2778,[@FerrasEU],[],0,1,2016-07-29,09:55:58,-,-,Female,Music
3349,"""758963797444792321""","""KATY PERRY""",katyperry,644,2310,"[@katyscrush, @katyssunlight, @typosqween]",[],0,3,2016-07-29,09:54:04,-,-,Female,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3350, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1219799180723359744""","""KATY PERRY""",katyperry,Female,Music,[#ShoesdayTuesday],1,[@kpcollections],1,4037,503,Image added,-,2020-01-22,01:49:22
"""1219799180723359744""","""KATY PERRY""",katyperry,Female,Music,[#ShoesdayTuesday],1,[@kpcollections],1,4037,503,Image added,-,2020-01-22,01:49:22
"""1219799180723359744""","""KATY PERRY""",katyperry,Female,Music,[#ShoesdayTuesday],1,[@kpcollections],1,4037,503,Image added,-,2020-01-22,01:49:22
"""1219701567961600001""","""KATY PERRY""",katyperry,Female,Music,[],0,"[@AMERICANIDOLðŸŽ¤, @ABCNetwork!, @lionelrichie, ...",6,7558,1029,Image added,-,2020-01-21,19:21:29
"""1219169657250168832""","""KATY PERRY""",katyperry,Female,Music,[],0,[],0,79726,18934,-,-,2020-01-20,08:07:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""758966211455569922""","""KATY PERRY""",katyperry,Female,Music,[],0,[@thedutchass],1,2693,740,-,-,2016-07-29,10:03:40
"""758966024687329281""","""KATY PERRY""",katyperry,Female,Music,[],0,[@katyskettle],1,2659,757,-,-,2016-07-29,10:02:55
"""758965291191631872""","""KATY PERRY""",katyperry,Female,Music,[],0,[@wtfkates],1,3096,991,-,-,2016-07-29,10:00:00
"""758964275557769216""","""KATY PERRY""",katyperry,Female,Music,[],0,[@FerrasEU],1,2778,1021,-,-,2016-07-29,09:55:58
"""758963797444792321""","""KATY PERRY""",katyperry,Female,Music,[],0,"[@katyscrush, @katyssunlight, @typosqween]",3,2310,644,-,-,2016-07-29,09:54:04

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/KatyPerry_df.csv')