##### ===================================================================================================================

#  Kim Kardashian Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/KimKardashianTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220003863425478658""",https://twitter.com/kimkardashian/status/12200...,2020-01-22 15:22:42,"""Morning Madness https://t.co/1fXrBJfVND""",Tweet,Twitter for iPhone,14976,202723,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected
1,"""1219746621396701184""",https://twitter.com/kyliejenner/status/1219746...,2020-01-21 22:20:30,"""New Video LIVE ðŸ–¤ https://t.co/GJVCCJjm7z""",Retweet,Twitter for iPhone,355,4288,"""236699098""","""Kylie Jenner""",kyliejenner,Verified,https://twitter.com/kyliejenner,Not Protected
2,"""1219718526073802752""",https://twitter.com/nordstrom/status/121971852...,2020-01-21 20:28:52,"""Coming soon: SKIMS. Created by @KimKardashian...",Retweet,Khoros Marketing,180,2520,"""15162193""","""Nordstrom""",nordstrom,Verified,https://twitter.com/nordstrom,Not Protected
3,"""1219715780817772544""",https://twitter.com/skims/status/1219715780817...,2020-01-21 20:17:58,"""SKIMS is excited to announce our first retail...",Retweet,Twitter Web App,167,2310,"""1149099376968495104""","""SKIMS""",skims,Verified,https://twitter.com/skims,Not Protected
4,"""1219666190743638017""",https://twitter.com/kimkardashian/status/12196...,2020-01-21 17:00:54,"""The @skims Essential Bodysuit collection is a...",Tweet,Twitter for iPhone,120,2604,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1053544465464315905""",https://twitter.com/kimkardashian/status/10535...,2018-10-20 07:12:29,"""Watching the new season of Making A Murderer ...",Tweet,Twitter for iPhone,854,16299,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected
3196,"""1053510498405085184""",https://twitter.com/kimkardashian/status/10535...,2018-10-20 04:57:30,"""I surprised my adorable goddaughter Sophia Pi...",Tweet,Twitter for iPhone,232,4254,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected
3197,"""1053444214820790272""",https://twitter.com/kimkardashian/status/10534...,2018-10-20 00:34:07,"""Turquoise Tears @kkwbeauty Flashing Lights Co...",Tweet,Twitter for iPhone,340,3769,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected
3198,"""1053434735307841536""",https://twitter.com/kimkardashian/status/10534...,2018-10-19 23:56:27,"""Legends https://t.co/0bpaQNQlZV""",Tweet,Twitter for iPhone,626,15617,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected
3199,"""1053434602927251456""",https://twitter.com/kimkardashian/status/10534...,2018-10-19 23:55:55,"""Everyone tune in to watch Sophia!!! https://t...",Tweet,Twitter for iPhone,126,2996,"""25365536""","""Kim Kardashian West""",kimkardashian,Verified,https://twitter.com/kimkardashian,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,"""Morning Madness https://t.co/1fXrBJfVND""",14976,202723,2020-01-22 15:22:42
1,"""1219746621396701184""","""Kylie Jenner""",kyliejenner,"""New Video LIVE ðŸ–¤ https://t.co/GJVCCJjm7z""",355,4288,2020-01-21 22:20:30
2,"""1219718526073802752""","""Nordstrom""",nordstrom,"""Coming soon: SKIMS. Created by @KimKardashian...",180,2520,2020-01-21 20:28:52
3,"""1219715780817772544""","""SKIMS""",skims,"""SKIMS is excited to announce our first retail...",167,2310,2020-01-21 20:17:58
4,"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,"""The @skims Essential Bodysuit collection is a...",120,2604,2020-01-21 17:00:54

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,"""Morning Madness https://t.co/1fXrBJfVND""",14976,202723,2020-01-22 15:22:42,[],[],0,0
1,"""1219746621396701184""","""Kylie Jenner""",kyliejenner,"""New Video LIVE ðŸ–¤ https://t.co/GJVCCJjm7z""",355,4288,2020-01-21 22:20:30,[],[],0,0
2,"""1219718526073802752""","""Nordstrom""",nordstrom,"""Coming soon: SKIMS. Created by @KimKardashian...",180,2520,2020-01-21 20:28:52,"[@KimKardashian,, @skims]",[],0,2
3,"""1219715780817772544""","""SKIMS""",skims,"""SKIMS is excited to announce our first retail...",167,2310,2020-01-21 20:17:58,"[@Nordstrom,]",[],0,1
4,"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,"""The @skims Essential Bodysuit collection is a...",120,2604,2020-01-21 17:00:54,[@skims],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1053544465464315905""","""Kim Kardashian West""",kimkardashian,"""Watching the new season of Making A Murderer ...",854,16299,2018-10-20 07:12:29,[],[],0,0
3196,"""1053510498405085184""","""Kim Kardashian West""",kimkardashian,"""I surprised my adorable goddaughter Sophia Pi...",232,4254,2018-10-20 04:57:30,[@DWTSJuniors],[#DWTSJuniors],1,1
3197,"""1053444214820790272""","""Kim Kardashian West""",kimkardashian,"""Turquoise Tears @kkwbeauty Flashing Lights Co...",340,3769,2018-10-20 00:34:07,"[@kkwbeauty, @david_lachapelle, @chrisappleton...",[],0,4
3198,"""1053434735307841536""","""Kim Kardashian West""",kimkardashian,"""Legends https://t.co/0bpaQNQlZV""",626,15617,2018-10-19 23:56:27,[],[],0,0
3199,"""1053434602927251456""","""Kim Kardashian West""",kimkardashian,"""Everyone tune in to watch Sophia!!! https://t...",126,2996,2018-10-19 23:55:55,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,"""Morning Madness https://t.co/1fXrBJfVND""",14976,202723,[],[],0,0,2020-01-22,15:22:42
1,"""1219746621396701184""","""Kylie Jenner""",kyliejenner,"""New Video LIVE ðŸ–¤ https://t.co/GJVCCJjm7z""",355,4288,[],[],0,0,2020-01-21,22:20:30
2,"""1219718526073802752""","""Nordstrom""",nordstrom,"""Coming soon: SKIMS. Created by @KimKardashian...",180,2520,"[@KimKardashian,, @skims]",[],0,2,2020-01-21,20:28:52
3,"""1219715780817772544""","""SKIMS""",skims,"""SKIMS is excited to announce our first retail...",167,2310,"[@Nordstrom,]",[],0,1,2020-01-21,20:17:58
4,"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,"""The @skims Essential Bodysuit collection is a...",120,2604,[@skims],[],0,1,2020-01-21,17:00:54
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1053544465464315905""","""Kim Kardashian West""",kimkardashian,"""Watching the new season of Making A Murderer ...",854,16299,[],[],0,0,2018-10-20,07:12:29
3196,"""1053510498405085184""","""Kim Kardashian West""",kimkardashian,"""I surprised my adorable goddaughter Sophia Pi...",232,4254,[@DWTSJuniors],[#DWTSJuniors],1,1,2018-10-20,04:57:30
3197,"""1053444214820790272""","""Kim Kardashian West""",kimkardashian,"""Turquoise Tears @kkwbeauty Flashing Lights Co...",340,3769,"[@kkwbeauty, @david_lachapelle, @chrisappleton...",[],0,4,2018-10-20,00:34:07
3198,"""1053434735307841536""","""Kim Kardashian West""",kimkardashian,"""Legends https://t.co/0bpaQNQlZV""",626,15617,[],[],0,0,2018-10-19,23:56:27
3199,"""1053434602927251456""","""Kim Kardashian West""",kimkardashian,"""Everyone tune in to watch Sophia!!! https://t...",126,2996,[],[],0,0,2018-10-19,23:55:55

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/KimKardashianImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220003863425478658""","""1220003850901307392""",https://pbs.twimg.com/media/EO5TCd2UwAAwhyI.jpg,https://t.co/1fXrBJfVND
1,"""1219718526073802752""","""1219718521405476866""",https://pbs.twimg.com/media/EO1PiGpWkAIFjjk.jpg,https://t.co/vlvH45CwLT
2,"""1219617435268988929""","""1219617430558760965""",https://pbs.twimg.com/media/EOzzl15UYAUEtXH.jpg,https://t.co/vMCBg1A4Ke
3,"""1219617435268988929""","""1219617430562983937""",https://pbs.twimg.com/media/EOzzl16U0AEoFCv.jpg,https://t.co/vMCBg1A4Ke
4,"""1219394267346604035""","""1219394261302632448""",https://pbs.twimg.com/media/EOwonroX4AAYl7n.jpg,https://t.co/aVDtK5a9kn
...,...,...,...,...
2123,"""1053874175138361345""","""1053874170524655616""",https://pbs.twimg.com/media/DqAc-XQU4AAjAYm.jpg,https://t.co/4L9Y7FcwxQ
2124,"""1053850041511624704""","""1053850038059728897""",https://pbs.twimg.com/media/DqAHBq0VAAEl3AO.jpg,https://t.co/6AA7BCoJr6
2125,"""1053753859024154624""","""1053753854766923776""",https://pbs.twimg.com/media/Dp-vjEIUwAArAZi.jpg,https://t.co/mF4shlsJmi
2126,"""1053444214820790272""","""1053444209456246784""",https://pbs.twimg.com/media/Dp6V7VdU8AAmmul.jpg,https://t.co/UaKyEPwSsE
2127,"""1053434735307841536""","""1053434730362822656""",https://pbs.twimg.com/media/Dp6NTlFV4AActSb.jpg,https://t.co/0bpaQNQlZV

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2128, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2128, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1220003863425478658"  Image added
1     "1219718526073802752"  Image added
2     "1219617435268988929"  Image added
3     "1219617435268988929"  Image added
4     "1219394267346604035"  Image added
...                     ...          ...
2123  "1053874175138361345"  Image added
2124  "1053850041511624704"  Image added
2125  "1053753859024154624"  Image added
2126  "1053444214820790272"  Image added
2127  "1053434735307841536"  Image added

[2128 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,"""Morning Madness https://t.co/1fXrBJfVND""",14976,202723,[],[],0,0,2020-01-22,15:22:42,Image added
1,"""1219746621396701184""","""Kylie Jenner""",kyliejenner,"""New Video LIVE ðŸ–¤ https://t.co/GJVCCJjm7z""",355,4288,[],[],0,0,2020-01-21,22:20:30,NaN
2,"""1219718526073802752""","""Nordstrom""",nordstrom,"""Coming soon: SKIMS. Created by @KimKardashian...",180,2520,"[@KimKardashian,, @skims]",[],0,2,2020-01-21,20:28:52,Image added
3,"""1219715780817772544""","""SKIMS""",skims,"""SKIMS is excited to announce our first retail...",167,2310,"[@Nordstrom,]",[],0,1,2020-01-21,20:17:58,NaN
4,"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,"""The @skims Essential Bodysuit collection is a...",120,2604,[@skims],[],0,1,2020-01-21,17:00:54,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,"""1053544465464315905""","""Kim Kardashian West""",kimkardashian,"""Watching the new season of Making A Murderer ...",854,16299,[],[],0,0,2018-10-20,07:12:29,NaN
3974,"""1053510498405085184""","""Kim Kardashian West""",kimkardashian,"""I surprised my adorable goddaughter Sophia Pi...",232,4254,[@DWTSJuniors],[#DWTSJuniors],1,1,2018-10-20,04:57:30,NaN
3975,"""1053444214820790272""","""Kim Kardashian West""",kimkardashian,"""Turquoise Tears @kkwbeauty Flashing Lights Co...",340,3769,"[@kkwbeauty, @david_lachapelle, @chrisappleton...",[],0,4,2018-10-20,00:34:07,Image added
3976,"""1053434735307841536""","""Kim Kardashian West""",kimkardashian,"""Legends https://t.co/0bpaQNQlZV""",626,15617,[],[],0,0,2018-10-19,23:56:27,Image added
3977,"""1053434602927251456""","""Kim Kardashian West""",kimkardashian,"""Everyone tune in to watch Sophia!!! https://t...",126,2996,[],[],0,0,2018-10-19,23:55:55,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/KimKardashianVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219715780817772544""","""1219715083384717312""",https://video.twimg.com/ext_tw_video/121971508...,https://t.co/bHPemRXMPG
1,"""1219666190743638017""","""1219666109768405001""",https://video.twimg.com/ext_tw_video/121966610...,https://t.co/KEwqbuI6ix
2,"""1218748723410300929""","""1218748449589383171""",https://video.twimg.com/ext_tw_video/121874844...,https://t.co/d5AvuvQE7a
3,"""1218744892450426880""","""1218197607224369152""",https://video.twimg.com/amplify_video/12181976...,https://t.co/mgVegMBHNq
4,"""1218323518196084736""","""1218323482313809922""",https://video.twimg.com/ext_tw_video/121832348...,https://t.co/L3P1t7pfMl
...,...,...,...,...
555,"""1054117277149339648""","""1054117038258618368""",https://video.twimg.com/ext_tw_video/105411703...,https://t.co/jZXpnK695L
556,"""1054078222629892096""","""1054078130833391616""",https://video.twimg.com/ext_tw_video/105407813...,https://t.co/9ZwxBys8Bs
557,"""1053865827647184896""","""1053865403665903616""",https://video.twimg.com/ext_tw_video/105386540...,https://t.co/VtSw7QLU1a
558,"""1053706938964295680""","""1053706884228628481""",https://video.twimg.com/ext_tw_video/105370688...,https://t.co/hpv8HFH6kQ
559,"""1053510498405085184""","""1053510275079368704""",https://video.twimg.com/ext_tw_video/105351027...,https://t.co/zQDDdky8YH

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (560, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (560, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1219715780817772544"  Video added
1    "1219666190743638017"  Video added
2    "1218748723410300929"  Video added
3    "1218744892450426880"  Video added
4    "1218323518196084736"  Video added
..                     ...          ...
555  "1054117277149339648"  Video added
556  "1054078222629892096"  Video added
557  "1053865827647184896"  Video added
558  "1053706938964295680"  Video added
559  "1053510498405085184"  Video added

[560 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,"""Morning Madness https://t.co/1fXrBJfVND""",14976,202723,[],[],0,0,2020-01-22,15:22:42,Image added,NaN
1,"""1219746621396701184""","""Kylie Jenner""",kyliejenner,"""New Video LIVE ðŸ–¤ https://t.co/GJVCCJjm7z""",355,4288,[],[],0,0,2020-01-21,22:20:30,NaN,NaN
2,"""1219718526073802752""","""Nordstrom""",nordstrom,"""Coming soon: SKIMS. Created by @KimKardashian...",180,2520,"[@KimKardashian,, @skims]",[],0,2,2020-01-21,20:28:52,Image added,NaN
3,"""1219715780817772544""","""SKIMS""",skims,"""SKIMS is excited to announce our first retail...",167,2310,"[@Nordstrom,]",[],0,1,2020-01-21,20:17:58,NaN,Video added
4,"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,"""The @skims Essential Bodysuit collection is a...",120,2604,[@skims],[],0,1,2020-01-21,17:00:54,NaN,Video added
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,"""1053544465464315905""","""Kim Kardashian West""",kimkardashian,"""Watching the new season of Making A Murderer ...",854,16299,[],[],0,0,2018-10-20,07:12:29,NaN,NaN
3974,"""1053510498405085184""","""Kim Kardashian West""",kimkardashian,"""I surprised my adorable goddaughter Sophia Pi...",232,4254,[@DWTSJuniors],[#DWTSJuniors],1,1,2018-10-20,04:57:30,NaN,Video added
3975,"""1053444214820790272""","""Kim Kardashian West""",kimkardashian,"""Turquoise Tears @kkwbeauty Flashing Lights Co...",340,3769,"[@kkwbeauty, @david_lachapelle, @chrisappleton...",[],0,4,2018-10-20,00:34:07,Image added,NaN
3976,"""1053434735307841536""","""Kim Kardashian West""",kimkardashian,"""Legends https://t.co/0bpaQNQlZV""",626,15617,[],[],0,0,2018-10-19,23:56:27,Image added,NaN
3977,"""1053434602927251456""","""Kim Kardashian West""",kimkardashian,"""Everyone tune in to watch Sophia!!! https://t...",126,2996,[],[],0,0,2018-10-19,23:55:55,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Other"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3978, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,14976,202723,[],[],0,0,2020-01-22,15:22:42,Image added,-,Female,Other
1,"""1219746621396701184""","""Kylie Jenner""",kyliejenner,355,4288,[],[],0,0,2020-01-21,22:20:30,-,-,Female,Other
2,"""1219718526073802752""","""Nordstrom""",nordstrom,180,2520,"[@KimKardashian,, @skims]",[],0,2,2020-01-21,20:28:52,Image added,-,Female,Other
3,"""1219715780817772544""","""SKIMS""",skims,167,2310,"[@Nordstrom,]",[],0,1,2020-01-21,20:17:58,-,Video added,Female,Other
4,"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,120,2604,[@skims],[],0,1,2020-01-21,17:00:54,-,Video added,Female,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,"""1053544465464315905""","""Kim Kardashian West""",kimkardashian,854,16299,[],[],0,0,2018-10-20,07:12:29,-,-,Female,Other
3974,"""1053510498405085184""","""Kim Kardashian West""",kimkardashian,232,4254,[@DWTSJuniors],[#DWTSJuniors],1,1,2018-10-20,04:57:30,-,Video added,Female,Other
3975,"""1053444214820790272""","""Kim Kardashian West""",kimkardashian,340,3769,"[@kkwbeauty, @david_lachapelle, @chrisappleton...",[],0,4,2018-10-20,00:34:07,Image added,-,Female,Other
3976,"""1053434735307841536""","""Kim Kardashian West""",kimkardashian,626,15617,[],[],0,0,2018-10-19,23:56:27,Image added,-,Female,Other
3977,"""1053434602927251456""","""Kim Kardashian West""",kimkardashian,126,2996,[],[],0,0,2018-10-19,23:55:55,-,-,Female,Other

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3978, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220003863425478658""","""Kim Kardashian West""",kimkardashian,Female,Other,[],0,[],0,202723,14976,Image added,-,2020-01-22,15:22:42
"""1219746621396701184""","""Kylie Jenner""",kyliejenner,Female,Other,[],0,[],0,4288,355,-,-,2020-01-21,22:20:30
"""1219718526073802752""","""Nordstrom""",nordstrom,Female,Other,[],0,"[@KimKardashian,, @skims]",2,2520,180,Image added,-,2020-01-21,20:28:52
"""1219715780817772544""","""SKIMS""",skims,Female,Other,[],0,"[@Nordstrom,]",1,2310,167,-,Video added,2020-01-21,20:17:58
"""1219666190743638017""","""Kim Kardashian West""",kimkardashian,Female,Other,[],0,[@skims],1,2604,120,-,Video added,2020-01-21,17:00:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1053544465464315905""","""Kim Kardashian West""",kimkardashian,Female,Other,[],0,[],0,16299,854,-,-,2018-10-20,07:12:29
"""1053510498405085184""","""Kim Kardashian West""",kimkardashian,Female,Other,[#DWTSJuniors],1,[@DWTSJuniors],1,4254,232,-,Video added,2018-10-20,04:57:30
"""1053444214820790272""","""Kim Kardashian West""",kimkardashian,Female,Other,[],0,"[@kkwbeauty, @david_lachapelle, @chrisappleton...",4,3769,340,Image added,-,2018-10-20,00:34:07
"""1053434735307841536""","""Kim Kardashian West""",kimkardashian,Female,Other,[],0,[],0,15617,626,Image added,-,2018-10-19,23:56:27
"""1053434602927251456""","""Kim Kardashian West""",kimkardashian,Female,Other,[],0,[],0,2996,126,-,-,2018-10-19,23:55:55

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/KimKardashian_df.csv')