##### ===================================================================================================================

#  Liam Payne Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/LiamPayneTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219907832239329280""",https://twitter.com/liampayne/status/121990783...,2020-01-22 09:01:06,"""Proud to show you my first campaign with HUGO...",Tweet,Twitter for iPhone,6061,28537,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
1,"""1218122712582889472""",https://twitter.com/liampayne/status/121812271...,2020-01-17 10:47:40,"""Tickets now on sale for @WolvesRaces! See you...",Tweet,Twitter for iPhone,3617,19097,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
2,"""1217858564389330946""",https://twitter.com/liampayne/status/121785856...,2020-01-16 17:18:03,"""Thanks to the amazing team that worked so har...",Tweet,Twitter for iPhone,6602,35032,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
3,"""1217511386877779974""",https://twitter.com/tenerifeziam/status/121751...,2020-01-15 18:18:29,"""I just made this pet playlist for my dog and ...",Retweet,Twitter for iPhone,626,5901,"""930997525""","""luiza ❯❯❯❯""",tenerifeziam,Non-Verified,https://twitter.com/tenerifeziam,Not Protected
4,"""1217504211983880192""",https://twitter.com/liampayne/status/121750421...,2020-01-15 17:49:58,"""Live Forever with @CheatCodesMusic live at th...",Tweet,Twitter for iPhone,5186,25010,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""423190253588205568""",https://twitter.com/liampayne/status/423190253...,2014-01-14 20:29:53,"""I'd just like to be able to walk outside as e...",Tweet,Twitter for iPhone,82899,122650,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
3196,"""423189717354807296""",https://twitter.com/liampayne/status/423189717...,2014-01-14 20:27:45,"""I know my friends have tweeted a lot of pictu...",Tweet,Twitter for iPhone,82664,120309,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
3197,"""422784589829242881""",https://twitter.com/liampayne/status/422784589...,2014-01-13 17:37:55,"""Happy birthday @Laurastanway have a good one""",Tweet,Twitter for iPhone,27960,58426,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
3198,"""422330014093557760""",https://twitter.com/liampayne/status/422330014...,2014-01-12 11:31:36,"""Had some strange dreams yesterday wonder what...",Tweet,Twitter for iPhone,72885,108140,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected
3199,"""422158624224722944""",https://twitter.com/liampayne/status/422158624...,2014-01-12 00:10:34,"""Rap battles in the car so funny aha""",Tweet,Twitter for iPhone,71477,115884,"""158314798""","""Liam""",liampayne,Verified,https://twitter.com/liampayne,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1219907832239329280""","""Liam""",liampayne,"""Proud to show you my first campaign with HUGO...",6061,28537,2020-01-22 09:01:06
1,"""1218122712582889472""","""Liam""",liampayne,"""Tickets now on sale for @WolvesRaces! See you...",3617,19097,2020-01-17 10:47:40
2,"""1217858564389330946""","""Liam""",liampayne,"""Thanks to the amazing team that worked so har...",6602,35032,2020-01-16 17:18:03
3,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,2020-01-15 18:18:29
4,"""1217504211983880192""","""Liam""",liampayne,"""Live Forever with @CheatCodesMusic live at th...",5186,25010,2020-01-15 17:49:58

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1219907832239329280""","""Liam""",liampayne,"""Proud to show you my first campaign with HUGO...",6061,28537,2020-01-22 09:01:06,[],"[#MyTimeIsNow, #HUGOMAN]",2,0
1,"""1218122712582889472""","""Liam""",liampayne,"""Tickets now on sale for @WolvesRaces! See you...",3617,19097,2020-01-17 10:47:40,[@WolvesRaces!],[],0,1
2,"""1217858564389330946""","""Liam""",liampayne,"""Thanks to the amazing team that worked so har...",6602,35032,2020-01-16 17:18:03,[],[],0,0
3,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,2020-01-15 18:18:29,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2
4,"""1217504211983880192""","""Liam""",liampayne,"""Live Forever with @CheatCodesMusic live at th...",5186,25010,2020-01-15 17:49:58,"[@CheatCodesMusic, @BRITs, @youtube]",[],0,3
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""423190253588205568""","""Liam""",liampayne,"""I'd just like to be able to walk outside as e...",82899,122650,2014-01-14 20:29:53,[],[],0,0
3196,"""423189717354807296""","""Liam""",liampayne,"""I know my friends have tweeted a lot of pictu...",82664,120309,2014-01-14 20:27:45,[],[],0,0
3197,"""422784589829242881""","""Liam""",liampayne,"""Happy birthday @Laurastanway have a good one""",27960,58426,2014-01-13 17:37:55,[@Laurastanway],[],0,1
3198,"""422330014093557760""","""Liam""",liampayne,"""Had some strange dreams yesterday wonder what...",72885,108140,2014-01-12 11:31:36,[],[],0,0
3199,"""422158624224722944""","""Liam""",liampayne,"""Rap battles in the car so funny aha""",71477,115884,2014-01-12 00:10:34,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1219907832239329280""","""Liam""",liampayne,"""Proud to show you my first campaign with HUGO...",6061,28537,[],"[#MyTimeIsNow, #HUGOMAN]",2,0,2020-01-22,09:01:06
1,"""1218122712582889472""","""Liam""",liampayne,"""Tickets now on sale for @WolvesRaces! See you...",3617,19097,[@WolvesRaces!],[],0,1,2020-01-17,10:47:40
2,"""1217858564389330946""","""Liam""",liampayne,"""Thanks to the amazing team that worked so har...",6602,35032,[],[],0,0,2020-01-16,17:18:03
3,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29
4,"""1217504211983880192""","""Liam""",liampayne,"""Live Forever with @CheatCodesMusic live at th...",5186,25010,"[@CheatCodesMusic, @BRITs, @youtube]",[],0,3,2020-01-15,17:49:58
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""423190253588205568""","""Liam""",liampayne,"""I'd just like to be able to walk outside as e...",82899,122650,[],[],0,0,2014-01-14,20:29:53
3196,"""423189717354807296""","""Liam""",liampayne,"""I know my friends have tweeted a lot of pictu...",82664,120309,[],[],0,0,2014-01-14,20:27:45
3197,"""422784589829242881""","""Liam""",liampayne,"""Happy birthday @Laurastanway have a good one""",27960,58426,[@Laurastanway],[],0,1,2014-01-13,17:37:55
3198,"""422330014093557760""","""Liam""",liampayne,"""Had some strange dreams yesterday wonder what...",72885,108140,[],[],0,0,2014-01-12,11:31:36
3199,"""422158624224722944""","""Liam""",liampayne,"""Rap battles in the car so funny aha""",71477,115884,[],[],0,0,2014-01-12,00:10:34

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/LiamPayneImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1218122712582889472""","""1218122708287991808""",https://pbs.twimg.com/media/EOekJjhXsAAZiP0.jpg,https://t.co/lF0ldPtOpa
1,"""1217511386877779974""","""1217511372516405250""",https://pbs.twimg.com/media/EOV4JITWsAItuhE.jpg,https://t.co/AYYhDBkCOl
2,"""1217511386877779974""","""1217511372415696898""",https://pbs.twimg.com/media/EOV4JH7WAAIEybs.jpg,https://t.co/AYYhDBkCOl
3,"""1216791923949801474""","""1216791919105388549""",https://pbs.twimg.com/media/EOLpzbfXsAUVeek.jpg,https://t.co/bXUMYCsiRW
4,"""1216011882596835328""","""1216011868675985408""",https://pbs.twimg.com/media/EOAkWhMXUAAzPTn.jpg,https://t.co/LVeR5qwIHq
...,...,...,...,...
860,"""458074665559523328""","""458074665463074816""",https://pbs.twimg.com/media/BltoezOIUAAS694.jpg,http://t.co/qOjI1LNqr1
861,"""433641609310515200""","""433641609180504064""",https://pbs.twimg.com/media/BgSavvsIYAADYiT.jpg,http://t.co/bSTzMJQGBm
862,"""431072357214871552""","""431072356988379136""",https://pbs.twimg.com/media/Bft6BlbIYAAZxyj.jpg,http://t.co/SqPgQbdfGd
863,"""430710650017689601""","""430710649745076224""",https://pbs.twimg.com/media/BfoxDc8IcAAO7H1.jpg,http://t.co/ti9eyKGRoU
864,"""424776525096165377""","""424776524932612096""",https://pbs.twimg.com/media/BeUb_7WIgAAWEM0.jpg,http://t.co/FDsqtyr5Ht

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (865, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (865, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1218122712582889472"  Image added
1    "1217511386877779974"  Image added
2    "1217511386877779974"  Image added
3    "1216791923949801474"  Image added
4    "1216011882596835328"  Image added
..                     ...          ...
860   "458074665559523328"  Image added
861   "433641609310515200"  Image added
862   "431072357214871552"  Image added
863   "430710650017689601"  Image added
864   "424776525096165377"  Image added

[865 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1219907832239329280""","""Liam""",liampayne,"""Proud to show you my first campaign with HUGO...",6061,28537,[],"[#MyTimeIsNow, #HUGOMAN]",2,0,2020-01-22,09:01:06,NaN
1,"""1218122712582889472""","""Liam""",liampayne,"""Tickets now on sale for @WolvesRaces! See you...",3617,19097,[@WolvesRaces!],[],0,1,2020-01-17,10:47:40,Image added
2,"""1217858564389330946""","""Liam""",liampayne,"""Thanks to the amazing team that worked so har...",6602,35032,[],[],0,0,2020-01-16,17:18:03,NaN
3,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29,Image added
4,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,"""423190253588205568""","""Liam""",liampayne,"""I'd just like to be able to walk outside as e...",82899,122650,[],[],0,0,2014-01-14,20:29:53,NaN
3375,"""423189717354807296""","""Liam""",liampayne,"""I know my friends have tweeted a lot of pictu...",82664,120309,[],[],0,0,2014-01-14,20:27:45,NaN
3376,"""422784589829242881""","""Liam""",liampayne,"""Happy birthday @Laurastanway have a good one""",27960,58426,[@Laurastanway],[],0,1,2014-01-13,17:37:55,NaN
3377,"""422330014093557760""","""Liam""",liampayne,"""Had some strange dreams yesterday wonder what...",72885,108140,[],[],0,0,2014-01-12,11:31:36,NaN
3378,"""422158624224722944""","""Liam""",liampayne,"""Rap battles in the car so funny aha""",71477,115884,[],[],0,0,2014-01-12,00:10:34,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/LiamPayneVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219907832239329280""","""1219907784587739136""",https://video.twimg.com/ext_tw_video/121990778...,https://t.co/9rDlOqEROE
1,"""1217858564389330946""","""1217858458894176260""",https://video.twimg.com/ext_tw_video/121785845...,https://t.co/5g7XCPMZGh
2,"""1217504211983880192""","""1217504003182989313""",https://video.twimg.com/ext_tw_video/121750400...,https://t.co/Ae8kJlRZvR
3,"""1215981686934003716""","""1215760735046963200""",https://video.twimg.com/amplify_video/12157607...,https://t.co/fFSJQtxNHh
4,"""1215321609118142464""","""1215321370583654400""",https://video.twimg.com/ext_tw_video/121532137...,https://t.co/UeKSWLakfE
...,...,...,...,...
488,"""660138096491630592""","""660138033656786944""",https://video.twimg.com/ext_tw_video/660138033...,https://t.co/MTbVyKU8xG
489,"""659882199660044288""","""659882126200971264""",https://video.twimg.com/ext_tw_video/659882126...,https://t.co/sdf8d4jeb1
490,"""659789440097886208""","""659789287215538177""",https://video.twimg.com/ext_tw_video/659789287...,https://t.co/bVnd6SHvW2
491,"""654677803179249664""","""654677789010845698""",https://video.twimg.com/ext_tw_video/654677789...,http://t.co/4ifl7qr30M
492,"""617821132268417024""","""617820569690591232""",https://video.twimg.com/ext_tw_video/617820569...,http://t.co/OZmxoVykOj

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (493, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (493, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1219907832239329280"  Video added
1    "1217858564389330946"  Video added
2    "1217504211983880192"  Video added
3    "1215981686934003716"  Video added
4    "1215321609118142464"  Video added
..                     ...          ...
488   "660138096491630592"  Video added
489   "659882199660044288"  Video added
490   "659789440097886208"  Video added
491   "654677803179249664"  Video added
492   "617821132268417024"  Video added

[493 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1219907832239329280""","""Liam""",liampayne,"""Proud to show you my first campaign with HUGO...",6061,28537,[],"[#MyTimeIsNow, #HUGOMAN]",2,0,2020-01-22,09:01:06,NaN,Video added
1,"""1218122712582889472""","""Liam""",liampayne,"""Tickets now on sale for @WolvesRaces! See you...",3617,19097,[@WolvesRaces!],[],0,1,2020-01-17,10:47:40,Image added,NaN
2,"""1217858564389330946""","""Liam""",liampayne,"""Thanks to the amazing team that worked so har...",6602,35032,[],[],0,0,2020-01-16,17:18:03,NaN,Video added
3,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29,Image added,NaN
4,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,"""I just made this pet playlist for my dog and ...",626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,"""423190253588205568""","""Liam""",liampayne,"""I'd just like to be able to walk outside as e...",82899,122650,[],[],0,0,2014-01-14,20:29:53,NaN,NaN
3375,"""423189717354807296""","""Liam""",liampayne,"""I know my friends have tweeted a lot of pictu...",82664,120309,[],[],0,0,2014-01-14,20:27:45,NaN,NaN
3376,"""422784589829242881""","""Liam""",liampayne,"""Happy birthday @Laurastanway have a good one""",27960,58426,[@Laurastanway],[],0,1,2014-01-13,17:37:55,NaN,NaN
3377,"""422330014093557760""","""Liam""",liampayne,"""Had some strange dreams yesterday wonder what...",72885,108140,[],[],0,0,2014-01-12,11:31:36,NaN,NaN
3378,"""422158624224722944""","""Liam""",liampayne,"""Rap battles in the car so funny aha""",71477,115884,[],[],0,0,2014-01-12,00:10:34,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3379, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1219907832239329280""","""Liam""",liampayne,6061,28537,[],"[#MyTimeIsNow, #HUGOMAN]",2,0,2020-01-22,09:01:06,-,Video added,Male,Music
1,"""1218122712582889472""","""Liam""",liampayne,3617,19097,[@WolvesRaces!],[],0,1,2020-01-17,10:47:40,Image added,-,Male,Music
2,"""1217858564389330946""","""Liam""",liampayne,6602,35032,[],[],0,0,2020-01-16,17:18:03,-,Video added,Male,Music
3,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29,Image added,-,Male,Music
4,"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,626,5901,"[@LiamPayne, @CheatCodesMusic]",[#LiveForever],1,2,2020-01-15,18:18:29,Image added,-,Male,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,"""423190253588205568""","""Liam""",liampayne,82899,122650,[],[],0,0,2014-01-14,20:29:53,-,-,Male,Music
3375,"""423189717354807296""","""Liam""",liampayne,82664,120309,[],[],0,0,2014-01-14,20:27:45,-,-,Male,Music
3376,"""422784589829242881""","""Liam""",liampayne,27960,58426,[@Laurastanway],[],0,1,2014-01-13,17:37:55,-,-,Male,Music
3377,"""422330014093557760""","""Liam""",liampayne,72885,108140,[],[],0,0,2014-01-12,11:31:36,-,-,Male,Music
3378,"""422158624224722944""","""Liam""",liampayne,71477,115884,[],[],0,0,2014-01-12,00:10:34,-,-,Male,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3379, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1219907832239329280""","""Liam""",liampayne,Male,Music,"[#MyTimeIsNow, #HUGOMAN]",2,[],0,28537,6061,-,Video added,2020-01-22,09:01:06
"""1218122712582889472""","""Liam""",liampayne,Male,Music,[],0,[@WolvesRaces!],1,19097,3617,Image added,-,2020-01-17,10:47:40
"""1217858564389330946""","""Liam""",liampayne,Male,Music,[],0,[],0,35032,6602,-,Video added,2020-01-16,17:18:03
"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,Male,Music,[#LiveForever],1,"[@LiamPayne, @CheatCodesMusic]",2,5901,626,Image added,-,2020-01-15,18:18:29
"""1217511386877779974""","""luiza ❯❯❯❯""",tenerifeziam,Male,Music,[#LiveForever],1,"[@LiamPayne, @CheatCodesMusic]",2,5901,626,Image added,-,2020-01-15,18:18:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""423190253588205568""","""Liam""",liampayne,Male,Music,[],0,[],0,122650,82899,-,-,2014-01-14,20:29:53
"""423189717354807296""","""Liam""",liampayne,Male,Music,[],0,[],0,120309,82664,-,-,2014-01-14,20:27:45
"""422784589829242881""","""Liam""",liampayne,Male,Music,[],0,[@Laurastanway],1,58426,27960,-,-,2014-01-13,17:37:55
"""422330014093557760""","""Liam""",liampayne,Male,Music,[],0,[],0,108140,72885,-,-,2014-01-12,11:31:36
"""422158624224722944""","""Liam""",liampayne,Male,Music,[],0,[],0,115884,71477,-,-,2014-01-12,00:10:34

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/LiamPayne_df.csv')