##### ===================================================================================================================

#  Louis Tomlinson Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/LouisTomlinsonTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220048849533853696""",https://twitter.com/louis_tomlinson/status/122...,2020-01-22 18:21:27,"""I’m holding an exclusive album event on the 4...",Tweet,Twitter for iPhone,8271,38197,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
1,"""1219944777296359426""",https://twitter.com/louis_tomlinson/status/121...,2020-01-22 11:27:55,"""Thanks for all the love for the video for Wal...",Tweet,Twitter for Android,16065,75060,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
2,"""1219944469027573760""",https://twitter.com/louis_tomlinson/status/121...,2020-01-22 11:26:41,"""@90lwts @wallslwts Doing vocals with Helene""",Reply,Twitter for Android,1065,5720,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
3,"""1219942418918838272""",https://twitter.com/louis_tomlinson/status/121...,2020-01-22 11:18:32,"""@emilyeavis @GlastoFest This is amazing! Love...",Reply,Twitter for Android,790,4580,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
4,"""1219929592707854337""",https://twitter.com/louis_tomlinson/status/121...,2020-01-22 10:27:34,"""Just landed back from La. Straight into the o...",Tweet,Twitter for Android,10588,60438,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""179923956101427200""",https://twitter.com/louis_tomlinson/status/179...,2012-03-14 13:36:28,"""@nevadaclyres Hope you get better :) x""",Reply,Twitter Web Client,200,302,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
3196,"""179923884731138048""",https://twitter.com/louis_tomlinson/status/179...,2012-03-14 13:36:11,"""@xjuliannee Blue unicorn! x""",Reply,Twitter Web Client,726,563,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
3197,"""179923806545129475""",https://twitter.com/louis_tomlinson/status/179...,2012-03-14 13:35:52,"""@ohheyhannahh haha. Not really feeling it if ...",Tweet,Twitter Web Client,271,345,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
3198,"""179923566773542913""",https://twitter.com/louis_tomlinson/status/179...,2012-03-14 13:34:55,"""@GagaFor1D of course :) x""",Tweet,Twitter Web Client,274,339,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected
3199,"""179923467452432384""",https://twitter.com/louis_tomlinson/status/179...,2012-03-14 13:34:32,"""@marshsara Good luck :) x""",Reply,Twitter Web Client,195,291,"""84279963""","""Louis Tomlinson""",louis_tomlinson,Verified,https://twitter.com/louis_tomlinson,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,"""I’m holding an exclusive album event on the 4...",8271,38197,2020-01-22 18:21:27
1,"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,"""Thanks for all the love for the video for Wal...",16065,75060,2020-01-22 11:27:55
2,"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,"""@90lwts @wallslwts Doing vocals with Helene""",1065,5720,2020-01-22 11:26:41
3,"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,"""@emilyeavis @GlastoFest This is amazing! Love...",790,4580,2020-01-22 11:18:32
4,"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,"""Just landed back from La. Straight into the o...",10588,60438,2020-01-22 10:27:34

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,"""I’m holding an exclusive album event on the 4...",8271,38197,2020-01-22 18:21:27,[],[],0,0
1,"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,"""Thanks for all the love for the video for Wal...",16065,75060,2020-01-22 11:27:55,[],[],0,0
2,"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,"""@90lwts @wallslwts Doing vocals with Helene""",1065,5720,2020-01-22 11:26:41,"[@90lwts, @wallslwts]",[],0,2
3,"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,"""@emilyeavis @GlastoFest This is amazing! Love...",790,4580,2020-01-22 11:18:32,"[@emilyeavis, @GlastoFest]",[],0,2
4,"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,"""Just landed back from La. Straight into the o...",10588,60438,2020-01-22 10:27:34,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""179923956101427200""","""Louis Tomlinson""",louis_tomlinson,"""@nevadaclyres Hope you get better :) x""",200,302,2012-03-14 13:36:28,[@nevadaclyres],[],0,1
3196,"""179923884731138048""","""Louis Tomlinson""",louis_tomlinson,"""@xjuliannee Blue unicorn! x""",726,563,2012-03-14 13:36:11,[@xjuliannee],[],0,1
3197,"""179923806545129475""","""Louis Tomlinson""",louis_tomlinson,"""@ohheyhannahh haha. Not really feeling it if ...",271,345,2012-03-14 13:35:52,[@ohheyhannahh],[],0,1
3198,"""179923566773542913""","""Louis Tomlinson""",louis_tomlinson,"""@GagaFor1D of course :) x""",274,339,2012-03-14 13:34:55,[@GagaFor1D],[],0,1
3199,"""179923467452432384""","""Louis Tomlinson""",louis_tomlinson,"""@marshsara Good luck :) x""",195,291,2012-03-14 13:34:32,[@marshsara],[],0,1

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,"""I’m holding an exclusive album event on the 4...",8271,38197,[],[],0,0,2020-01-22,18:21:27
1,"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,"""Thanks for all the love for the video for Wal...",16065,75060,[],[],0,0,2020-01-22,11:27:55
2,"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,"""@90lwts @wallslwts Doing vocals with Helene""",1065,5720,"[@90lwts, @wallslwts]",[],0,2,2020-01-22,11:26:41
3,"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,"""@emilyeavis @GlastoFest This is amazing! Love...",790,4580,"[@emilyeavis, @GlastoFest]",[],0,2,2020-01-22,11:18:32
4,"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,"""Just landed back from La. Straight into the o...",10588,60438,[],[],0,0,2020-01-22,10:27:34
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""179923956101427200""","""Louis Tomlinson""",louis_tomlinson,"""@nevadaclyres Hope you get better :) x""",200,302,[@nevadaclyres],[],0,1,2012-03-14,13:36:28
3196,"""179923884731138048""","""Louis Tomlinson""",louis_tomlinson,"""@xjuliannee Blue unicorn! x""",726,563,[@xjuliannee],[],0,1,2012-03-14,13:36:11
3197,"""179923806545129475""","""Louis Tomlinson""",louis_tomlinson,"""@ohheyhannahh haha. Not really feeling it if ...",271,345,[@ohheyhannahh],[],0,1,2012-03-14,13:35:52
3198,"""179923566773542913""","""Louis Tomlinson""",louis_tomlinson,"""@GagaFor1D of course :) x""",274,339,[@GagaFor1D],[],0,1,2012-03-14,13:34:55
3199,"""179923467452432384""","""Louis Tomlinson""",louis_tomlinson,"""@marshsara Good luck :) x""",195,291,[@marshsara],[],0,1,2012-03-14,13:34:32

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/LouisTomlinsonImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220048849533853696""","""1220048841916985349""",https://pbs.twimg.com/media/EO579ScWsAUo8q-.jpg,https://t.co/XJ47pO84rI
1,"""1219722635694825474""","""1219722628811890689""",https://pbs.twimg.com/media/EO1TRL7WoAEFV_o.jpg,https://t.co/wvNUxXKTIh
2,"""1219571960063107073""","""1219571946792374272""",https://pbs.twimg.com/media/EOzKOVqXUAAiEC8.jpg,https://t.co/XtdhrmE9Ia
3,"""1219370684079468544""","""1219370680166182913""",https://pbs.twimg.com/media/EOwTLFDU8AEreDE.jpg,https://t.co/o8rChZpqqR
4,"""1218262840735420417""","""1218262835253383169""",https://pbs.twimg.com/media/EOgjmBJWkAEY73e.jpg,https://t.co/P40FsMnNIX
...,...,...,...,...
177,"""230034135836684288""","""230033523652845568""",https://pbs.twimg.com/media/AzE-RV_CYAAMtyW.jpg,http://t.co/8kc7UseZ
178,"""224834599530921986""","""224834599535116289""",https://pbs.twimg.com/media/Ax7F4IaCAAEiTu-.jpg,http://t.co/85phEtge
179,"""197713326686482432""","""197713326690676737""",https://pbs.twimg.com/media/Ar5rORzCMAE_R4n.jpg,http://t.co/RZghs3y2
180,"""191709671764144129""","""191709671772532736""",https://pbs.twimg.com/media/AqkW7kYCMAAIe6S.jpg,http://t.co/l7SCgtm0
181,"""187283084549435392""","""187283084557824000""",https://pbs.twimg.com/media/Aplc-R-CMAAp4z_.jpg,http://t.co/8QzDmylZ

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (182, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (182, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1220048849533853696"  Image added
1    "1219722635694825474"  Image added
2    "1219571960063107073"  Image added
3    "1219370684079468544"  Image added
4    "1218262840735420417"  Image added
..                     ...          ...
177   "230034135836684288"  Image added
178   "224834599530921986"  Image added
179   "197713326686482432"  Image added
180   "191709671764144129"  Image added
181   "187283084549435392"  Image added

[182 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,"""I’m holding an exclusive album event on the 4...",8271,38197,[],[],0,0,2020-01-22,18:21:27,Image added
1,"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,"""Thanks for all the love for the video for Wal...",16065,75060,[],[],0,0,2020-01-22,11:27:55,NaN
2,"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,"""@90lwts @wallslwts Doing vocals with Helene""",1065,5720,"[@90lwts, @wallslwts]",[],0,2,2020-01-22,11:26:41,NaN
3,"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,"""@emilyeavis @GlastoFest This is amazing! Love...",790,4580,"[@emilyeavis, @GlastoFest]",[],0,2,2020-01-22,11:18:32,NaN
4,"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,"""Just landed back from La. Straight into the o...",10588,60438,[],[],0,0,2020-01-22,10:27:34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,"""179923956101427200""","""Louis Tomlinson""",louis_tomlinson,"""@nevadaclyres Hope you get better :) x""",200,302,[@nevadaclyres],[],0,1,2012-03-14,13:36:28,NaN
3214,"""179923884731138048""","""Louis Tomlinson""",louis_tomlinson,"""@xjuliannee Blue unicorn! x""",726,563,[@xjuliannee],[],0,1,2012-03-14,13:36:11,NaN
3215,"""179923806545129475""","""Louis Tomlinson""",louis_tomlinson,"""@ohheyhannahh haha. Not really feeling it if ...",271,345,[@ohheyhannahh],[],0,1,2012-03-14,13:35:52,NaN
3216,"""179923566773542913""","""Louis Tomlinson""",louis_tomlinson,"""@GagaFor1D of course :) x""",274,339,[@GagaFor1D],[],0,1,2012-03-14,13:34:55,NaN
3217,"""179923467452432384""","""Louis Tomlinson""",louis_tomlinson,"""@marshsara Good luck :) x""",195,291,[@marshsara],[],0,1,2012-03-14,13:34:32,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/LouisTomlinsonVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219305470722215936""","""1219305376413356039""",https://video.twimg.com/ext_tw_video/121930537...,https://t.co/I7xvROMwqs
1,"""1219244558808244224""","""1219244521525075968""",https://video.twimg.com/ext_tw_video/121924452...,https://t.co/jsG80irclV
2,"""1219014539796238336""","""1219014359915159553""",https://video.twimg.com/ext_tw_video/121901435...,https://t.co/AyCZHZz5IT
3,"""1218123839772725248""","""1218123803429044224""",https://video.twimg.com/ext_tw_video/121812380...,https://t.co/xlsAWsY3U8
4,"""1218106615922089984""","""1218106589682507779""",https://video.twimg.com/ext_tw_video/121810658...,https://t.co/iZ3pp4rBgT
...,...,...,...,...
65,"""738312989959426048""","""738312852545654788""",https://video.twimg.com/ext_tw_video/738312852...,https://t.co/vqbYRZIdEb
66,"""738019334962982912""","""738018876517142528""",https://video.twimg.com/ext_tw_video/738018876...,https://t.co/rRu78tv14f
67,"""661583002556891136""","""661582908231143428""",https://video.twimg.com/ext_tw_video/661582908...,https://t.co/jvkqqRns24
68,"""654345584523014144""","""654345564906213376""",https://video.twimg.com/ext_tw_video/654345564...,http://t.co/88KH85i25T
69,"""631941621337227264""","""631941436460691456""",https://video.twimg.com/ext_tw_video/631941436...,http://t.co/ZBKeKMdAtS

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (70, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (70, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                 Tweet Id       Videos
0   "1219305470722215936"  Video added
1   "1219244558808244224"  Video added
2   "1219014539796238336"  Video added
3   "1218123839772725248"  Video added
4   "1218106615922089984"  Video added
..                    ...          ...
65   "738312989959426048"  Video added
66   "738019334962982912"  Video added
67   "661583002556891136"  Video added
68   "654345584523014144"  Video added
69   "631941621337227264"  Video added

[70 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,"""I’m holding an exclusive album event on the 4...",8271,38197,[],[],0,0,2020-01-22,18:21:27,Image added,NaN
1,"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,"""Thanks for all the love for the video for Wal...",16065,75060,[],[],0,0,2020-01-22,11:27:55,NaN,NaN
2,"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,"""@90lwts @wallslwts Doing vocals with Helene""",1065,5720,"[@90lwts, @wallslwts]",[],0,2,2020-01-22,11:26:41,NaN,NaN
3,"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,"""@emilyeavis @GlastoFest This is amazing! Love...",790,4580,"[@emilyeavis, @GlastoFest]",[],0,2,2020-01-22,11:18:32,NaN,NaN
4,"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,"""Just landed back from La. Straight into the o...",10588,60438,[],[],0,0,2020-01-22,10:27:34,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,"""179923956101427200""","""Louis Tomlinson""",louis_tomlinson,"""@nevadaclyres Hope you get better :) x""",200,302,[@nevadaclyres],[],0,1,2012-03-14,13:36:28,NaN,NaN
3214,"""179923884731138048""","""Louis Tomlinson""",louis_tomlinson,"""@xjuliannee Blue unicorn! x""",726,563,[@xjuliannee],[],0,1,2012-03-14,13:36:11,NaN,NaN
3215,"""179923806545129475""","""Louis Tomlinson""",louis_tomlinson,"""@ohheyhannahh haha. Not really feeling it if ...",271,345,[@ohheyhannahh],[],0,1,2012-03-14,13:35:52,NaN,NaN
3216,"""179923566773542913""","""Louis Tomlinson""",louis_tomlinson,"""@GagaFor1D of course :) x""",274,339,[@GagaFor1D],[],0,1,2012-03-14,13:34:55,NaN,NaN
3217,"""179923467452432384""","""Louis Tomlinson""",louis_tomlinson,"""@marshsara Good luck :) x""",195,291,[@marshsara],[],0,1,2012-03-14,13:34:32,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3218, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,8271,38197,[],[],0,0,2020-01-22,18:21:27,Image added,-,Male,Music
1,"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,16065,75060,[],[],0,0,2020-01-22,11:27:55,-,-,Male,Music
2,"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,1065,5720,"[@90lwts, @wallslwts]",[],0,2,2020-01-22,11:26:41,-,-,Male,Music
3,"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,790,4580,"[@emilyeavis, @GlastoFest]",[],0,2,2020-01-22,11:18:32,-,-,Male,Music
4,"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,10588,60438,[],[],0,0,2020-01-22,10:27:34,-,-,Male,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,"""179923956101427200""","""Louis Tomlinson""",louis_tomlinson,200,302,[@nevadaclyres],[],0,1,2012-03-14,13:36:28,-,-,Male,Music
3214,"""179923884731138048""","""Louis Tomlinson""",louis_tomlinson,726,563,[@xjuliannee],[],0,1,2012-03-14,13:36:11,-,-,Male,Music
3215,"""179923806545129475""","""Louis Tomlinson""",louis_tomlinson,271,345,[@ohheyhannahh],[],0,1,2012-03-14,13:35:52,-,-,Male,Music
3216,"""179923566773542913""","""Louis Tomlinson""",louis_tomlinson,274,339,[@GagaFor1D],[],0,1,2012-03-14,13:34:55,-,-,Male,Music
3217,"""179923467452432384""","""Louis Tomlinson""",louis_tomlinson,195,291,[@marshsara],[],0,1,2012-03-14,13:34:32,-,-,Male,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3218, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220048849533853696""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[],0,38197,8271,Image added,-,2020-01-22,18:21:27
"""1219944777296359426""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[],0,75060,16065,-,-,2020-01-22,11:27:55
"""1219944469027573760""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,"[@90lwts, @wallslwts]",2,5720,1065,-,-,2020-01-22,11:26:41
"""1219942418918838272""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,"[@emilyeavis, @GlastoFest]",2,4580,790,-,-,2020-01-22,11:18:32
"""1219929592707854337""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[],0,60438,10588,-,-,2020-01-22,10:27:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""179923956101427200""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[@nevadaclyres],1,302,200,-,-,2012-03-14,13:36:28
"""179923884731138048""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[@xjuliannee],1,563,726,-,-,2012-03-14,13:36:11
"""179923806545129475""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[@ohheyhannahh],1,345,271,-,-,2012-03-14,13:35:52
"""179923566773542913""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[@GagaFor1D],1,339,274,-,-,2012-03-14,13:34:55
"""179923467452432384""","""Louis Tomlinson""",louis_tomlinson,Male,Music,[],0,[@marshsara],1,291,195,-,-,2012-03-14,13:34:32

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/LouisTomlinson_df.csv')