In [1]:
import pymongo
from pymongo import MongoClient
import os
from os import listdir
import pandas as pd
import re
import glob

In [2]:
globarr = glob.glob("../NewDataframes/*.*")
print(globarr)

['../NewDataframes\\AkshayKumar_df.csv', '../NewDataframes\\AmitabhBachchan_df.csv', '../NewDataframes\\ArianaGrande_df.csv', '../NewDataframes\\BarackObama_df.csv', '../NewDataframes\\BBC_df.csv', '../NewDataframes\\BillGates_df.csv', '../NewDataframes\\BritneySpears_df.csv', '../NewDataframes\\BrunoMars_df.csv', '../NewDataframes\\CNNBreaking_df.csv', '../NewDataframes\\CNN_df.csv', '../NewDataframes\\CristianoRonaldo_df.csv', '../NewDataframes\\DonaldTrump_df.csv', '../NewDataframes\\Drake_df.csv', '../NewDataframes\\ESPN_df.csv', '../NewDataframes\\FCBarcelona_df.csv', '../NewDataframes\\HarryStyles_df.csv', '../NewDataframes\\Instagram_df.csv', '../NewDataframes\\JimmyFallon_df.csv', '../NewDataframes\\JLo_df.csv', '../NewDataframes\\JustinBieber_df.csv', '../NewDataframes\\JustinTimberlake_df.csv', '../NewDataframes\\KatyPerry_df.csv', '../NewDataframes\\KevinHart_df.csv', '../NewDataframes\\KimKardashian_df.csv', '../NewDataframes\\LadyGaga_df.csv', '../NewDataframes\\LeBronJames_df.csv', '../NewDataframes\\LiamPayne_df.csv', '../NewDataframes\\LilWayne_df.csv', '../NewDataframes\\LouisTomlinson_df.csv', '../NewDataframes\\MileyCyrus_df.csv', '../NewDataframes\\NarendraModi_df.csv', '../NewDataframes\\NASA_df.csv', '../NewDataframes\\NeymarJr_df.csv', '../NewDataframes\\NiallHoran_df.csv', '../NewDataframes\\NYTimes_df.csv', '../NewDataframes\\Oprah_df.csv', '../NewDataframes\\Pink_df.csv', '../NewDataframes\\RealMadrid_df.csv', '../NewDataframes\\Rihanna_df.csv', '../NewDataframes\\SalmanKhan_df.csv', '../NewDataframes\\SelenaGomez_df.csv', '../NewDataframes\\ShahRukhKhan_df.csv', '../NewDataframes\\Shakira_df.csv', '../NewDataframes\\SportsCenter_df.csv', '../NewDataframes\\TaylorSwift_df.csv', '../NewDataframes\\TheEllenShow_df.csv', '../NewDataframes\\Twitter_df.csv', '../NewDataframes\\ViratKohli_df.csv', '../NewDataframes\\WizKhalifa_df.csv', '../NewDataframes\\Youtube_df.csv']

In [3]:
master_merged_df = pd.DataFrame()
list_of_dataframes = []

for filename in globarr:
    identity1 = filename.replace("_df.csv","")
    identity2 = identity1.replace("../NewDataframes\\","")
    re_outer = re.compile(r'([^A-Z ])([A-Z])')
    re_inner = re.compile(r'(?<!^)([A-Z])([^A-Z])')
    identity = re_outer.sub(r'\1 \2', re_inner.sub(r' \1\2', identity2))
    temp_df = pd.DataFrame()
    temp_df = pd.read_csv(filename)
    temp_df["Identity"] = identity
    list_of_dataframes.append(temp_df)
    
    
master_merged_df = pd.concat(list_of_dataframes)
master_merged_df.head()

,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,"""1220262518519521281""","""Akshay Kumar""",akshaykumar,Male,Entertainment,"['#FilhallPart2', '#desimelodies', '#CapeOfGoo...",3,"['@NupurSanon', '@bpraak', '@AmmyVirk', '@your...",8,3495,740,Image added,-,2020-01-23,08:30:30,Akshay Kumar
1,"""1220236816604749824""","""Akshay Kumar""",akshaykumar,Male,Entertainment,"['#Durgavati', '#CapeOfGoodFilms']",2,"['@bhumipednekar', '@itsBhushanKumar', '@vikra...",5,7335,790,Image added,-,2020-01-23,06:48:22,Akshay Kumar
2,"""1219804361133477890""","""Akshay Kumar""",akshaykumar,Male,Entertainment,"['#Activa6G,', '#GameOfSixes', '#6ChangesTheGa...",3,"['@taapsee', '@StarSportsIndia', '@honda2wheel...",3,11087,1076,-,Video added,2020-01-22,02:09:57,Akshay Kumar
3,"""1219491375793635329""","""Akshay Kumar""",akshaykumar,Male,Entertainment,[],0,[],0,19572,1445,-,Video added,2020-01-21,05:26:15,Akshay Kumar
4,"""1219156453354655745""","""Akshay Kumar""",akshaykumar,Male,Entertainment,"['#MondayVibes', '#LetsDoThis']",2,[],0,30880,1868,Image added,-,2020-01-20,07:15:23,Akshay Kumar

In [4]:
master_merged_df.shape

(161397, 16)

In [5]:
master_merged_df.to_csv('../NewDataframes/Master_Merged_df.csv')

In [6]:
client = MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

In [8]:
master_merged_df.reset_index(inplace=True)
data_dict = master_merged_df.to_dict("records")

In [10]:
# Insert collection
mongo_collection.insert_many(data_dict)

In [ ]:
# for filename in globarr:
#     identity1 = filename.replace("_df.csv","")
#     identity2 = identity1.replace("../NewDataframes\\","")
#     re_outer = re.compile(r'([^A-Z ])([A-Z])')
#     re_inner = re.compile(r'(?<!^)([A-Z])([^A-Z])')
#     identity = re_outer.sub(r'\1 \2', re_inner.sub(r' \1\2', identity2))
#     temp_df = pd.DataFrame()
#     temp_df = pd.read_csv(filename)
#     temp_df["Identity"] = identity
#     list_of_dataframes.append(temp_df)

In [ ]:
# temp_df = pd.read_csv('../deleteme\\BillGates_df.csv')

# temp_df

In [ ]:
# temp_df["Identity"] = "Gatesey"
# temp_df