In [ ]:
# Doesnt work!! 


# import pymongo

# client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
# mongo_db = client["Tweets_DB"]
# mongo_collection = mongo_db["Combined_Tweets"]

# for x in mongo_collection.find({},{ "_id": 0, "Hashtags(#)": 1, "Identity": "Akshay Kumar"}).limit(10):
#   print(x)
#     dict_result = x.to_dict()

In [28]:
# Set Up PyMongo
import pymongo
import pandas as pd
from flask import jsonify

client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

# Define A Person to Query
# Searches for non-empty hashtag results 
QueryIdentity = "NASA"
testoutput =  mongo_collection.find( { "Identity": QueryIdentity, "Hashtags(#)": {"$ne" : '[]'} },{ "_id": 0, "Hashtags(#)": 1} ).limit(50)

test_df = pd.DataFrame(list(testoutput))
test_df.head(50)

                         Hashtags(#)
0                    ['#NASASocial']
1                       ['#Artemis']
2                       ['#AskNASA']
3                      ['#AskNASA:']
4   ['#NASASocial', '#StateofNASA!']
5                      ['#Mars2020']
6                    ['#MLKDay2020']
7                    ['#MLKDay2020']
8                    ['#MLKDay2020']
9                    ['#MLKDay2020']
10                     ['#Mars2020']
11                     ['#askNASA!']
12                     ['#askNASA!']
13                     ['#askNASA!']
14                     ['#askNASA!']
15                  ['#DidYouKnow:']
16                       ['#Cygnus']
17                  ['#StateOfNASA']
18                   ['#CrewDragon']
19                       ['#MLKDay']
20                      ['#MLKDay:']
21                      ['#AskNASA']
22                      ['#AskNASA']
23                      ['#AskNASA']
24                      ['#AskNASA']
25                      ['#AskNASA']
26                     ['#AskNASA:']
27                      ['#AskNASA']
28                   ['#CrewDragon']
29                   ['#CrewDragon']
30                      ['#AskNASA']
31                   ['#CrewDragon']
32                 ['#CrewDragon’s']
33                   ['#CrewDragon']
34                   ['#CrewDragon']
35                 ['#CrewDragon’s']
36                   ['#CrewDragon']
37                 ['#CrewDragon’s']
38                   ['#CrewDragon']
39                 ['#CrewDragon’s']
40                  ['#CrewDragon:']
41                   ['#CrewDragon']
42      ['#Artemis', '#StateofNASA']
43                  ['#StateOfNASA']
44                  ['#StateOfNASA']
45                  ['#StateOfNASA']
46                  ['#StateOfNASA']
47       ['#Antares', '#NASASocial']
48                   ['#CrewDragon']
49                 ['#CrewDragon’s']

In [37]:
eval(test_df['Hashtags(#)'][0])

['#NASASocial']

In [50]:
import numpy as np 
# [eval(x) for x in test_df["Hashtags(#)"]]
testarray = [eval(x) for x in test_df["Hashtags(#)"]]
testarray

[['#NASASocial'],
 ['#Artemis'],
 ['#AskNASA'],
 ['#AskNASA:'],
 ['#NASASocial', '#StateofNASA!'],
 ['#Mars2020'],
 ['#MLKDay2020'],
 ['#MLKDay2020'],
 ['#MLKDay2020'],
 ['#MLKDay2020'],
 ['#Mars2020'],
 ['#askNASA!'],
 ['#askNASA!'],
 ['#askNASA!'],
 ['#askNASA!'],
 ['#DidYouKnow:'],
 ['#Cygnus'],
 ['#StateOfNASA'],
 ['#CrewDragon'],
 ['#MLKDay'],
 ['#MLKDay:'],
 ['#AskNASA'],
 ['#AskNASA'],
 ['#AskNASA'],
 ['#AskNASA'],
 ['#AskNASA'],
 ['#AskNASA:'],
 ['#AskNASA'],
 ['#CrewDragon'],
 ['#CrewDragon'],
 ['#AskNASA'],
 ['#CrewDragon'],
 ['#CrewDragon’s'],
 ['#CrewDragon'],
 ['#CrewDragon'],
 ['#CrewDragon’s'],
 ['#CrewDragon'],
 ['#CrewDragon’s'],
 ['#CrewDragon'],
 ['#CrewDragon’s'],
 ['#CrewDragon:'],
 ['#CrewDragon'],
 ['#Artemis', '#StateofNASA'],
 ['#StateOfNASA'],
 ['#StateOfNASA'],
 ['#StateOfNASA'],
 ['#StateOfNASA'],
 ['#Antares', '#NASASocial'],
 ['#CrewDragon'],
 ['#CrewDragon’s']]

In [51]:
flatten_list = []
for l1 in testarray:
    for l2 in l1:
        flatten_list.append(l2)
        
flatten_list

['#NASASocial',
 '#Artemis',
 '#AskNASA',
 '#AskNASA:',
 '#NASASocial',
 '#StateofNASA!',
 '#Mars2020',
 '#MLKDay2020',
 '#MLKDay2020',
 '#MLKDay2020',
 '#MLKDay2020',
 '#Mars2020',
 '#askNASA!',
 '#askNASA!',
 '#askNASA!',
 '#askNASA!',
 '#DidYouKnow:',
 '#Cygnus',
 '#StateOfNASA',
 '#CrewDragon',
 '#MLKDay',
 '#MLKDay:',
 '#AskNASA',
 '#AskNASA',
 '#AskNASA',
 '#AskNASA',
 '#AskNASA',
 '#AskNASA:',
 '#AskNASA',
 '#CrewDragon',
 '#CrewDragon',
 '#AskNASA',
 '#CrewDragon',
 '#CrewDragon’s',
 '#CrewDragon',
 '#CrewDragon',
 '#CrewDragon’s',
 '#CrewDragon',
 '#CrewDragon’s',
 '#CrewDragon',
 '#CrewDragon’s',
 '#CrewDragon:',
 '#CrewDragon',
 '#Artemis',
 '#StateofNASA',
 '#StateOfNASA',
 '#StateOfNASA',
 '#StateOfNASA',
 '#StateOfNASA',
 '#Antares',
 '#NASASocial',
 '#CrewDragon',
 '#CrewDragon’s']

In [29]:
print(jsonify(test_df))

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.

In [18]:
# Set up Pandas, Query Atlas for ALL results matching the twitter Identity 

identity_df = pd.DataFrame(list(mongo_collection.find({"Identity": QueryIdentity})))

In [20]:

identity_df

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b4f81c,54641,0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3132,236,-,-,2020-01-21,21:14:39,Jimmy Fallon
1,60be2af24a7a5d65a6b4f81d,54642,1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3255,207,-,-,2020-01-21,21:13:52,Jimmy Fallon
2,60be2af24a7a5d65a6b4f81e,54643,2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#happybirthdaylin""']",1,[],0,1825,51,-,-,2020-01-17,15:41:55,Jimmy Fallon
3,60be2af24a7a5d65a6b4f81f,54644,3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17,15:36:57,Jimmy Fallon
4,60be2af24a7a5d65a6b4f820,54645,4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,['@peacockTV'],1,658,63,-,-,2020-01-16,22:30:57,Jimmy Fallon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,60be2af24a7a5d65a6b504b5,57866,3225,"""753569949671645184""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#FallonTonight""']",1,[],0,2110,563,-,-,2016-07-14,12:40:51,Jimmy Fallon
3226,60be2af24a7a5d65a6b504b6,57867,3226,"""753564046457274368""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#SnapchatDuet', '#IntoYou', '#FallonTonight""']",3,['@ArianaGrande'],1,17178,6546,-,-,2016-07-14,12:17:23,Jimmy Fallon
3227,60be2af24a7a5d65a6b504b7,57868,3227,"""753561347351248897""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,8778,1032,-,-,2016-07-14,12:06:40,Jimmy Fallon
3228,60be2af24a7a5d65a6b504b8,57869,3228,"""753561070304890880""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,1563,160,-,-,2016-07-14,12:05:34,Jimmy Fallon
3229,60be2af24a7a5d65a6b504b9,57870,3229,"""753397108997259265""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,2411,219,-,-,2016-07-14,01:14:02,Jimmy Fallon

In [21]:
identity_df['Time'] = pd.to_datetime(identity_df["Time"],format='%H:%M:%S')
# mega_df["Time"] = mega_df["Time"].dt.time
identity_df["Date"] = pd.to_datetime(identity_df["Date"],format="%Y-%M-%d")

In [12]:
identity_df.head()

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b4f81c,54641,0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3132,236,-,-,2020-01-21 00:01:00,1900-01-01 21:14:39,Jimmy Fallon
1,60be2af24a7a5d65a6b4f81d,54642,1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3255,207,-,-,2020-01-21 00:01:00,1900-01-01 21:13:52,Jimmy Fallon
2,60be2af24a7a5d65a6b4f81e,54643,2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#happybirthdaylin""']",1,[],0,1825,51,-,-,2020-01-17 00:01:00,1900-01-01 15:41:55,Jimmy Fallon
3,60be2af24a7a5d65a6b4f81f,54644,3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17 00:01:00,1900-01-01 15:36:57,Jimmy Fallon
4,60be2af24a7a5d65a6b4f820,54645,4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,['@peacockTV'],1,658,63,-,-,2020-01-16 00:01:00,1900-01-01 22:30:57,Jimmy Fallon

In [55]:
identity_df.groupby(pd.Grouper(key='Date', freq='D'))
identity_df.sum()

level_0                                                181705265
index                                                    5214835
Tweet Id       "1219730046694383618""1219729849583067136""121...
Name           "jimmy fallon""jimmy fallon""jimmy fallon""jim...
Username       jimmyfallonjimmyfallonjimmyfallonjimmyfallonji...
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMa...
Vocation       EntertainmentEntertainmentEntertainmentEnterta...
Hashtags(#)    ['#ThereShouldBeALaw']['#ThereShouldBeALaw']['...
Total #                                                     3031
Mentions(@)    [][][][]['@peacockTV']['@Lin_Manuel!!!'][]['@L...
Total @                                                     3831
Likes                                                   18981907
Retweets                                                 4084738
Images         ---Image added---------------------------Image...
Videos         -------Video addedVideo added-----------------...
Identity       Jimmy FallonJimmy FallonJimmy FallonJimmy Fall...
dtype: object