In [6]:
# Doesnt work!! 


# import pymongo

# client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
# mongo_db = client["Tweets_DB"]
# mongo_collection = mongo_db["Combined_Tweets"]

# for x in mongo_collection.find({},{ "_id": 0, "Hashtags(#)": 1, "Identity": "Akshay Kumar"}).limit(10):
#   print(x)
#     dict_result = x.to_dict()

In [7]:
# Set Up PyMongo
import pymongo
import pandas as pd
from flask import jsonify

client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

# Define A Person to Query
# Searches for non-empty hashtag results 
QueryIdentity = "Jimmy Fallon"
testoutput =  mongo_collection.find( { "Identity": QueryIdentity, "Hashtags(#)": {"$ne" : '[]'} },{ "_id": 0, "Hashtags(#)": 1} ).limit(50)

test_df = pd.DataFrame(list(testoutput))
test_df.head(50)

                                          Hashtags(#)
0                              ['#ThereShouldBeALaw']
1                              ['#ThereShouldBeALaw']
2                              ['#happybirthdaylin"']
3                                            ['#40"']
4                                  ['#FallonTonight']
5                            ['#DumbestFamilyFight"']
6                            ['#DumbestFamilyFight.']
7                                 ['#FallonTonight"']
8                         ['#FallonTonight', '#NBC"']
9                                 ['#FallonTonight"']
10                        ['#RuinAMovieWithOneWord"']
11                        ['#RuinAMovieWithOneWord.']
12                 ['#CNNNYE', '#JäGer', '#imagine"']
13                      ['#CNNNYE', '#HappyNewYear"']
14                                 ['#FallonTonight']
15                                    ['#ThisIsBaby']
16                                           ['#SNL']
17      ['#HappyHolidays', '#GetTheF**kOutOfMyHouse']
18                                 ['#JonathanGroff']
19                                ['#FallonTonight"']
20              ['#InTheHeightsMovie', '#Summer2020']
21                                 ['#FallonTonight']
22                                ['#FallonTonight"']
23                                           ['#QLS']
24                                      ['#2019MAMA']
25            ['#TheSeriousGoose', '#GivingTuesday!']
26                                ['#FallonTonight"']
27                 ['#FallonTonight', '#PartyPatrol']
28      ['#HappyThanksgiving', '#FallonThanksgiving']
29  ['#MacysDayParade!', '#FallonThanksgiving', '#...
30              ['#babyyoda', '#FallonThanksgiving"']
31                           ['#FallonThanksgiving"']
32                           ['#FallonThanksgiving"']
33                           ['#FallonThanksgiving"']
34                           ['#FallonThanksgiving"']
35                           ['#FallonThanksgiving"']
36                           ['#FallonThanksgiving"']
37              ['#thankful', '#FallonThanksgiving"']
38                           ['#FallonThanksgiving"']
39    ['#FallonThanksGiving', '#ThanksGivingRuined"']
40                           ['#FallonThanksgiving"']
41                           ['#FallonThanksgiving"']
42                           ['#FallonThanksgiving"']
43                           ['#FallonThanksgiving"']
44                           ['#FallonThanksgiving"']
45          ['#HappyThanksgiving', '#FeedingAmerica']
46   ['#StarWars', '#ReyRapRecap', '#FallonTonight"']
47                          ['#TurkeyDayTraditions"']
48                          ['#TurkeyDayTraditions.']
49                                ['#AmericanUtopia']

In [2]:
eval(test_df['Hashtags(#)'][0])

['#ThereShouldBeALaw']

In [3]:
import numpy as np 
# [eval(x) for x in test_df["Hashtags(#)"]]
testarray = [eval(x) for x in test_df["Hashtags(#)"]]
testarray

[['#ThereShouldBeALaw'],
 ['#ThereShouldBeALaw'],
 ['#happybirthdaylin"'],
 ['#40"'],
 ['#FallonTonight'],
 ['#DumbestFamilyFight"'],
 ['#DumbestFamilyFight.'],
 ['#FallonTonight"'],
 ['#FallonTonight', '#NBC"'],
 ['#FallonTonight"'],
 ['#RuinAMovieWithOneWord"'],
 ['#RuinAMovieWithOneWord.'],
 ['#CNNNYE', '#JäGer', '#imagine"'],
 ['#CNNNYE', '#HappyNewYear"'],
 ['#FallonTonight'],
 ['#ThisIsBaby'],
 ['#SNL'],
 ['#HappyHolidays', '#GetTheF**kOutOfMyHouse'],
 ['#JonathanGroff'],
 ['#FallonTonight"'],
 ['#InTheHeightsMovie', '#Summer2020'],
 ['#FallonTonight'],
 ['#FallonTonight"'],
 ['#QLS'],
 ['#2019MAMA'],
 ['#TheSeriousGoose', '#GivingTuesday!'],
 ['#FallonTonight"'],
 ['#FallonTonight', '#PartyPatrol'],
 ['#HappyThanksgiving', '#FallonThanksgiving'],
 ['#MacysDayParade!', '#FallonThanksgiving', '#HappyThanksgiving"'],
 ['#babyyoda', '#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#thankful', '#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksGiving', '#ThanksGivingRuined"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#HappyThanksgiving', '#FeedingAmerica'],
 ['#StarWars', '#ReyRapRecap', '#FallonTonight"'],
 ['#TurkeyDayTraditions"'],
 ['#TurkeyDayTraditions.'],
 ['#AmericanUtopia']]

In [5]:
flatten_list = []
for l1 in testarray:
    for l2 in l1:
        l2 = l2.replace('"','')
        flatten_list.append(l2)
        
flatten_list

['#ThereShouldBeALaw',
 '#ThereShouldBeALaw',
 '#happybirthdaylin',
 '#40',
 '#FallonTonight',
 '#DumbestFamilyFight',
 '#DumbestFamilyFight.',
 '#FallonTonight',
 '#FallonTonight',
 '#NBC',
 '#FallonTonight',
 '#RuinAMovieWithOneWord',
 '#RuinAMovieWithOneWord.',
 '#CNNNYE',
 '#JäGer',
 '#imagine',
 '#CNNNYE',
 '#HappyNewYear',
 '#FallonTonight',
 '#ThisIsBaby',
 '#SNL',
 '#HappyHolidays',
 '#GetTheF**kOutOfMyHouse',
 '#JonathanGroff',
 '#FallonTonight',
 '#InTheHeightsMovie',
 '#Summer2020',
 '#FallonTonight',
 '#FallonTonight',
 '#QLS',
 '#2019MAMA',
 '#TheSeriousGoose',
 '#GivingTuesday!',
 '#FallonTonight',
 '#FallonTonight',
 '#PartyPatrol',
 '#HappyThanksgiving',
 '#FallonThanksgiving',
 '#MacysDayParade!',
 '#FallonThanksgiving',
 '#HappyThanksgiving',
 '#babyyoda',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#thankful',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksGiving',
 '#ThanksGivingRuined',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#FallonThanksgiving',
 '#HappyThanksgiving',
 '#FeedingAmerica',
 '#StarWars',
 '#ReyRapRecap',
 '#FallonTonight',
 '#TurkeyDayTraditions',
 '#TurkeyDayTraditions.',
 '#AmericanUtopia']

In [ ]:
print(jsonify(test_df))

In [10]:
# Set up Pandas, Query Atlas for ALL results matching the twitter Identity 

identity_df = pd.DataFrame(list(mongo_collection.find({"Identity": QueryIdentity})))
# identity_df = pd.DataFrame(list(mongo_collection.find()))

In [21]:

Identity_List = identity_df["Identity"].unique()
print(Identity_List)

['Akshay Kumar' 'Amitabh Bachchan' 'Ariana Grande' 'Barack Obama' 'BBC'
 'Bill Gates' 'Britney Spears' 'Bruno Mars' 'CNN Breaking' 'CNN'
 'Cristiano Ronaldo' 'Donald Trump' 'Drake' 'ESPN' 'FC Barcelona'
 'Harry Styles' 'Instagram' 'Jimmy Fallon' 'J Lo' 'Justin Bieber'
 'Justin Timberlake' 'Katy Perry' 'Kevin Hart' 'Kim Kardashian'
 'Lady Gaga' 'Le Bron James' 'Liam Payne' 'Lil Wayne' 'Louis Tomlinson'
 'Miley Cyrus' 'Narendra Modi' 'NASA' 'Neymar Jr' 'Niall Horan' 'NY Times'
 'Oprah' 'Pink' 'Real Madrid' 'Rihanna' 'Salman Khan' 'Selena Gomez'
 'Shah Rukh Khan' 'Shakira' 'Sports Center' 'Taylor Swift'
 'The Ellen Show' 'Twitter' 'Virat Kohli' 'Wiz Khalifa' 'Youtube']

In [ ]:
identity_df['Time'] = pd.to_datetime(identity_df["Time"],format='%H:%M:%S')
# mega_df["Time"] = mega_df["Time"].dt.time
identity_df["Date"] = pd.to_datetime(identity_df["Date"],format="%Y-%M-%d")

In [ ]:
identity_df.head()

In [ ]:
identity_df.groupby(pd.Grouper(key='Date', freq='D'))
identity_df.sum()

In [22]:
newlist = ['Akshay Kumar', 'Amitabh Bachchan', 'Ariana Grande', 'Barack Obama', 'BBC', 'Bill Gates', 'Britney Spears', 'Bruno Mars', 'CNN Breaking', 'CNN', 'Cristiano Ronaldo', 'Donald Trump', 'Drake', 'ESPN', 'FC Barcelona', 'Harry Styles', 'Instagram', 'Jimmy Fallon', 'J Lo', 'Justin Bieber', 'Justin Timberlake', 'Katy Perry', 'Kevin Hart', 'Kim Kardashian', 'Lady Gaga', 'Le Bron James', 'Liam Payne', 'Lil Wayne', 'Louis Tomlinson', 'Miley Cyrus', 'Narendra Modi', 'NASA', 'Neymar Jr', 'Niall Horan', 'NY Times', 'Oprah', 'Pink', 'Real Madrid', 'Rihanna', 'Salman Khan', 'Selena Gomez', 'Shah Rukh Khan', 'Shakira', 'Sports Center', 'Taylor Swift', 'The Ellen Show', 'Twitter', 'Virat Kohli', 'Wiz Khalifa', 'Youtube']

In [24]:
for x in newlist:
    print(x)

Akshay Kumar
Amitabh Bachchan
Ariana Grande
Barack Obama
BBC
Bill Gates
Britney Spears
Bruno Mars
CNN Breaking
CNN
Cristiano Ronaldo
Donald Trump
Drake
ESPN
FC Barcelona
Harry Styles
Instagram
Jimmy Fallon
J Lo
Justin Bieber
Justin Timberlake
Katy Perry
Kevin Hart
Kim Kardashian
Lady Gaga
Le Bron James
Liam Payne
Lil Wayne
Louis Tomlinson
Miley Cyrus
Narendra Modi
NASA
Neymar Jr
Niall Horan
NY Times
Oprah
Pink
Real Madrid
Rihanna
Salman Khan
Selena Gomez
Shah Rukh Khan
Shakira
Sports Center
Taylor Swift
The Ellen Show
Twitter
Virat Kohli
Wiz Khalifa
Youtube

In [3]:
import pymongo
import pandas as pd

# Manually Set QueryIdentity for development purposes
QueryIdentity = "Katy Perry"

# Set Up Database Connection 
client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

# Query Database - Simple Query, SQL > "Where Identity = Taylor Swift"
# Convert Query Result to Pandas Dataframe 
identity_df = pd.DataFrame(list(mongo_collection.find({"Identity": QueryIdentity})))


# Try to fix Date and Time 
identity_df['Time'] = pd.to_datetime(identity_df["Time"],format='%H:%M:%S')
identity_df["Date"] = pd.to_datetime(identity_df["Date"],format="%Y-%M-%d")

# Create GroupBy DF, group by Day 
groupby_df = identity_df.groupby(pd.Grouper(key='Date', freq='D'))

# This is the bit that needs more work - 
# Get Average Tweets / Likes / ReTweets per tweet or day 
# Get Total Tweets / Likes / ReTweets 
# Get Total @ and # mentions

In [4]:
identity_df

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b52b62,67767,0,"""1219799180723359744""","""KATY PERRY""",katyperry,Female,Music,['#ShoesdayTuesday'],1,['@kpcollections'],1,4037,503,Image added,-,2020-01-22 00:01:00,1900-01-01 01:49:22,Katy Perry
1,60be2af24a7a5d65a6b52b63,67768,1,"""1219799180723359744""","""KATY PERRY""",katyperry,Female,Music,['#ShoesdayTuesday'],1,['@kpcollections'],1,4037,503,Image added,-,2020-01-22 00:01:00,1900-01-01 01:49:22,Katy Perry
2,60be2af24a7a5d65a6b52b64,67769,2,"""1219799180723359744""","""KATY PERRY""",katyperry,Female,Music,['#ShoesdayTuesday'],1,['@kpcollections'],1,4037,503,Image added,-,2020-01-22 00:01:00,1900-01-01 01:49:22,Katy Perry
3,60be2af24a7a5d65a6b52b65,67770,3,"""1219701567961600001""","""KATY PERRY""",katyperry,Female,Music,[],0,"['@AMERICANIDOL🎤', '@ABCNetwork!', '@lionelric...",6,7558,1029,Image added,-,2020-01-21 00:01:00,1900-01-01 19:21:29,Katy Perry
4,60be2af24a7a5d65a6b52b66,67771,4,"""1219169657250168832""","""KATY PERRY""",katyperry,Female,Music,[],0,[],0,79726,18934,-,-,2020-01-20 00:01:00,1900-01-01 08:07:52,Katy Perry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345,60be2af24a7a5d65a6b53873,71112,3345,"""758966211455569922""","""KATY PERRY""",katyperry,Female,Music,[],0,['@thedutchass'],1,2693,740,-,-,2016-01-29 00:07:00,1900-01-01 10:03:40,Katy Perry
3346,60be2af24a7a5d65a6b53874,71113,3346,"""758966024687329281""","""KATY PERRY""",katyperry,Female,Music,[],0,['@katyskettle'],1,2659,757,-,-,2016-01-29 00:07:00,1900-01-01 10:02:55,Katy Perry
3347,60be2af24a7a5d65a6b53875,71114,3347,"""758965291191631872""","""KATY PERRY""",katyperry,Female,Music,[],0,['@wtfkates'],1,3096,991,-,-,2016-01-29 00:07:00,1900-01-01 10:00:00,Katy Perry
3348,60be2af24a7a5d65a6b53876,71115,3348,"""758964275557769216""","""KATY PERRY""",katyperry,Female,Music,[],0,['@FerrasEU'],1,2778,1021,-,-,2016-01-29 00:07:00,1900-01-01 09:55:58,Katy Perry
3349,60be2af24a7a5d65a6b53877,71116,3349,"""758963797444792321""","""KATY PERRY""",katyperry,Female,Music,[],0,"['@katyscrush', '@katyssunlight', '@typosqween']",3,2310,644,-,-,2016-01-29 00:07:00,1900-01-01 09:54:04,Katy Perry