##### ===================================================================================================================

#  Narendra Modi Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/NarendraModiTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220177983740219392""",https://twitter.com/narendramodi/status/122017...,2020-01-23 02:54:35,"""Tributes to the great Balasaheb Thackeray on ...",Tweet,Twitter for iPhone,5655,32463,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
1,"""1220177665203888128""",https://twitter.com/narendramodi/status/122017...,2020-01-23 02:53:19,"""India will always remain grateful to Netaji S...",Tweet,Twitter Media Studio,6110,22894,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
2,"""1220176946044243971""",https://twitter.com/narendramodi/status/122017...,2020-01-23 02:50:28,"""On 23rd January 1897, Janakinath Bose wrote i...",Tweet,Twitter for iPhone,5444,21372,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
3,"""1219991121943621632""",https://twitter.com/narendramodi/status/121999...,2020-01-22 14:32:04,"""In line with our focus on speedy and timely c...",Reply,Twitter Web App,1352,6719,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
4,"""1219991120202981377""",https://twitter.com/narendramodi/status/121999...,2020-01-22 14:32:04,"""We had an excellent Pragati Session today, du...",Tweet,Twitter Web App,3145,17192,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1103122427213688837""",https://twitter.com/narendramodi/status/110312...,2019-03-06 02:37:36,"""Looking forward to being in Kancheepuram for ...",Tweet,Twitter for iPhone,3479,16422,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
3196,"""1103122074044940289""",https://twitter.com/narendramodi/status/110312...,2019-03-06 02:36:12,"""The foundation stone for the resitement of BP...",Tweet,Twitter for iPhone,2655,10954,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
3197,"""1103121800395923457""",https://twitter.com/narendramodi/status/110312...,2019-03-06 02:35:06,"""I will be in Kalaburagi today to launch key d...",Tweet,Twitter for iPhone,4587,26890,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
3198,"""1102971120460988417""",https://twitter.com/narendramodi/status/110297...,2019-03-05 16:36:21,"""Last month, I had the honour of seeking the b...",Reply,Twitter for iPhone,4442,26545,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected
3199,"""1102971102207332356""",https://twitter.com/narendramodi/status/110297...,2019-03-05 16:36:17,"""Boro Ma Binapani Thakur was an icon of our ti...",Tweet,Twitter for iPhone,3859,20643,"""18839785""","""Narendra Modi""",narendramodi,Verified,https://twitter.com/narendramodi,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220177983740219392""","""Narendra Modi""",narendramodi,"""Tributes to the great Balasaheb Thackeray on ...",5655,32463,2020-01-23 02:54:35
1,"""1220177665203888128""","""Narendra Modi""",narendramodi,"""India will always remain grateful to Netaji S...",6110,22894,2020-01-23 02:53:19
2,"""1220176946044243971""","""Narendra Modi""",narendramodi,"""On 23rd January 1897, Janakinath Bose wrote i...",5444,21372,2020-01-23 02:50:28
3,"""1219991121943621632""","""Narendra Modi""",narendramodi,"""In line with our focus on speedy and timely c...",1352,6719,2020-01-22 14:32:04
4,"""1219991120202981377""","""Narendra Modi""",narendramodi,"""We had an excellent Pragati Session today, du...",3145,17192,2020-01-22 14:32:04

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220177983740219392""","""Narendra Modi""",narendramodi,"""Tributes to the great Balasaheb Thackeray on ...",5655,32463,2020-01-23 02:54:35,[],[],0,0
1,"""1220177665203888128""","""Narendra Modi""",narendramodi,"""India will always remain grateful to Netaji S...",6110,22894,2020-01-23 02:53:19,[],[],0,0
2,"""1220176946044243971""","""Narendra Modi""",narendramodi,"""On 23rd January 1897, Janakinath Bose wrote i...",5444,21372,2020-01-23 02:50:28,[],[],0,0
3,"""1219991121943621632""","""Narendra Modi""",narendramodi,"""In line with our focus on speedy and timely c...",1352,6719,2020-01-22 14:32:04,[],[],0,0
4,"""1219991120202981377""","""Narendra Modi""",narendramodi,"""We had an excellent Pragati Session today, du...",3145,17192,2020-01-22 14:32:04,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1103122427213688837""","""Narendra Modi""",narendramodi,"""Looking forward to being in Kancheepuram for ...",3479,16422,2019-03-06 02:37:36,[],[],0,0
3196,"""1103122074044940289""","""Narendra Modi""",narendramodi,"""The foundation stone for the resitement of BP...",2655,10954,2019-03-06 02:36:12,[@BJP4Karnataka],[],0,1
3197,"""1103121800395923457""","""Narendra Modi""",narendramodi,"""I will be in Kalaburagi today to launch key d...",4587,26890,2019-03-06 02:35:06,[],[],0,0
3198,"""1102971120460988417""","""Narendra Modi""",narendramodi,"""Last month, I had the honour of seeking the b...",4442,26545,2019-03-05 16:36:21,[],[],0,0
3199,"""1102971102207332356""","""Narendra Modi""",narendramodi,"""Boro Ma Binapani Thakur was an icon of our ti...",3859,20643,2019-03-05 16:36:17,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220177983740219392""","""Narendra Modi""",narendramodi,"""Tributes to the great Balasaheb Thackeray on ...",5655,32463,[],[],0,0,2020-01-23,02:54:35
1,"""1220177665203888128""","""Narendra Modi""",narendramodi,"""India will always remain grateful to Netaji S...",6110,22894,[],[],0,0,2020-01-23,02:53:19
2,"""1220176946044243971""","""Narendra Modi""",narendramodi,"""On 23rd January 1897, Janakinath Bose wrote i...",5444,21372,[],[],0,0,2020-01-23,02:50:28
3,"""1219991121943621632""","""Narendra Modi""",narendramodi,"""In line with our focus on speedy and timely c...",1352,6719,[],[],0,0,2020-01-22,14:32:04
4,"""1219991120202981377""","""Narendra Modi""",narendramodi,"""We had an excellent Pragati Session today, du...",3145,17192,[],[],0,0,2020-01-22,14:32:04
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1103122427213688837""","""Narendra Modi""",narendramodi,"""Looking forward to being in Kancheepuram for ...",3479,16422,[],[],0,0,2019-03-06,02:37:36
3196,"""1103122074044940289""","""Narendra Modi""",narendramodi,"""The foundation stone for the resitement of BP...",2655,10954,[@BJP4Karnataka],[],0,1,2019-03-06,02:36:12
3197,"""1103121800395923457""","""Narendra Modi""",narendramodi,"""I will be in Kalaburagi today to launch key d...",4587,26890,[],[],0,0,2019-03-06,02:35:06
3198,"""1102971120460988417""","""Narendra Modi""",narendramodi,"""Last month, I had the honour of seeking the b...",4442,26545,[],[],0,0,2019-03-05,16:36:21
3199,"""1102971102207332356""","""Narendra Modi""",narendramodi,"""Boro Ma Binapani Thakur was an icon of our ti...",3859,20643,[],[],0,0,2019-03-05,16:36:17

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/NarendraModiImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220176946044243971""","""1220176936007274498""",https://pbs.twimg.com/media/EO7wdWHWkAIJfYL.jpg,https://t.co/wp3UjudKJ4
1,"""1219629103122386947""","""1219629081274277891""",https://pbs.twimg.com/media/EOz-MAMW4AMwVpW.jpg,https://t.co/l2UXLZRFmx
2,"""1219629103122386947""","""1219629081383391232""",https://pbs.twimg.com/media/EOz-MAmX0AAJ5Hl.jpg,https://t.co/l2UXLZRFmx
3,"""1219267126747287553""","""1219267108200075266""",https://pbs.twimg.com/media/EOu0-ZaVUAIazm-.jpg,https://t.co/FgWxF9Fr79
4,"""1219267126747287553""","""1219267108174888960""",https://pbs.twimg.com/media/EOu0-ZUVAAApRBw.jpg,https://t.co/FgWxF9Fr79
...,...,...,...,...
1921,"""1103332562057994241""","""1103331945897840641""",https://pbs.twimg.com/media/D0_SjyCU0AEX99I.jpg,https://t.co/f3KIY8UAaC
1922,"""1103332562057994241""","""1103331957658677249""",https://pbs.twimg.com/media/D0_Skd2U8AEGL0n.jpg,https://t.co/f3KIY8UAaC
1923,"""1103332562057994241""","""1103331976067465217""",https://pbs.twimg.com/media/D0_SlibUwAEo953.jpg,https://t.co/f3KIY8UAaC
1924,"""1103332562057994241""","""1103332025002409987""",https://pbs.twimg.com/media/D0_SoYuUwAMy1N_.jpg,https://t.co/f3KIY8UAaC
1925,"""1102971120460988417""","""1102971108393914368""",https://pbs.twimg.com/media/D06KYRlWkAA-gmu.jpg,https://t.co/kiD1FC3HWc

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1926, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1926, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1220176946044243971"  Image added
1     "1219629103122386947"  Image added
2     "1219629103122386947"  Image added
3     "1219267126747287553"  Image added
4     "1219267126747287553"  Image added
...                     ...          ...
1921  "1103332562057994241"  Image added
1922  "1103332562057994241"  Image added
1923  "1103332562057994241"  Image added
1924  "1103332562057994241"  Image added
1925  "1102971120460988417"  Image added

[1926 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220177983740219392""","""Narendra Modi""",narendramodi,"""Tributes to the great Balasaheb Thackeray on ...",5655,32463,[],[],0,0,2020-01-23,02:54:35,NaN
1,"""1220177665203888128""","""Narendra Modi""",narendramodi,"""India will always remain grateful to Netaji S...",6110,22894,[],[],0,0,2020-01-23,02:53:19,NaN
2,"""1220176946044243971""","""Narendra Modi""",narendramodi,"""On 23rd January 1897, Janakinath Bose wrote i...",5444,21372,[],[],0,0,2020-01-23,02:50:28,Image added
3,"""1219991121943621632""","""Narendra Modi""",narendramodi,"""In line with our focus on speedy and timely c...",1352,6719,[],[],0,0,2020-01-22,14:32:04,NaN
4,"""1219991120202981377""","""Narendra Modi""",narendramodi,"""We had an excellent Pragati Session today, du...",3145,17192,[],[],0,0,2020-01-22,14:32:04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4359,"""1103122427213688837""","""Narendra Modi""",narendramodi,"""Looking forward to being in Kancheepuram for ...",3479,16422,[],[],0,0,2019-03-06,02:37:36,NaN
4360,"""1103122074044940289""","""Narendra Modi""",narendramodi,"""The foundation stone for the resitement of BP...",2655,10954,[@BJP4Karnataka],[],0,1,2019-03-06,02:36:12,NaN
4361,"""1103121800395923457""","""Narendra Modi""",narendramodi,"""I will be in Kalaburagi today to launch key d...",4587,26890,[],[],0,0,2019-03-06,02:35:06,NaN
4362,"""1102971120460988417""","""Narendra Modi""",narendramodi,"""Last month, I had the honour of seeking the b...",4442,26545,[],[],0,0,2019-03-05,16:36:21,Image added
4363,"""1102971102207332356""","""Narendra Modi""",narendramodi,"""Boro Ma Binapani Thakur was an icon of our ti...",3859,20643,[],[],0,0,2019-03-05,16:36:17,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/NarendraModiVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220177665203888128""","""1220031674739593216""",https://video.twimg.com/amplify_video/12200316...,https://t.co/otUlFanULs
1,"""1219266447517466624""","""1219194247984730112""",https://video.twimg.com/amplify_video/12191942...,https://t.co/egTiK9UwhS
2,"""1219265722624266247""","""1219194214828765184""",https://video.twimg.com/amplify_video/12191942...,https://t.co/fWBXmMtjRe
3,"""1216309761538322432""","""1216303867085742080""",https://video.twimg.com/amplify_video/12163038...,https://t.co/aKsVRZEb8F
4,"""1216309187623305217""","""1216267197820985344""",https://video.twimg.com/amplify_video/12162671...,https://t.co/p1Ym6mmL7r
...,...,...,...,...
746,"""1103336713433374720""","""1103286054008676353""",https://video.twimg.com/amplify_video/11032860...,https://t.co/eOotEiXHTr
747,"""1103336509975998465""","""1103285876229005313""",https://video.twimg.com/amplify_video/11032858...,https://t.co/BFQR3HWYp4
748,"""1103336410319335424""","""1103335470652547072""",https://video.twimg.com/amplify_video/11033354...,https://t.co/mpdULpCU2C
749,"""1103332994578710528""","""1103227942249922560""",https://video.twimg.com/amplify_video/11032279...,https://t.co/jU5ZKrMAU8
750,"""1103332800353062912""","""1103226817266229263""",https://video.twimg.com/amplify_video/11032268...,https://t.co/iv75z0Mmwq

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (751, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (751, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1220177665203888128"  Video added
1    "1219266447517466624"  Video added
2    "1219265722624266247"  Video added
3    "1216309761538322432"  Video added
4    "1216309187623305217"  Video added
..                     ...          ...
746  "1103336713433374720"  Video added
747  "1103336509975998465"  Video added
748  "1103336410319335424"  Video added
749  "1103332994578710528"  Video added
750  "1103332800353062912"  Video added

[751 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220177983740219392""","""Narendra Modi""",narendramodi,"""Tributes to the great Balasaheb Thackeray on ...",5655,32463,[],[],0,0,2020-01-23,02:54:35,NaN,NaN
1,"""1220177665203888128""","""Narendra Modi""",narendramodi,"""India will always remain grateful to Netaji S...",6110,22894,[],[],0,0,2020-01-23,02:53:19,NaN,Video added
2,"""1220176946044243971""","""Narendra Modi""",narendramodi,"""On 23rd January 1897, Janakinath Bose wrote i...",5444,21372,[],[],0,0,2020-01-23,02:50:28,Image added,NaN
3,"""1219991121943621632""","""Narendra Modi""",narendramodi,"""In line with our focus on speedy and timely c...",1352,6719,[],[],0,0,2020-01-22,14:32:04,NaN,NaN
4,"""1219991120202981377""","""Narendra Modi""",narendramodi,"""We had an excellent Pragati Session today, du...",3145,17192,[],[],0,0,2020-01-22,14:32:04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4359,"""1103122427213688837""","""Narendra Modi""",narendramodi,"""Looking forward to being in Kancheepuram for ...",3479,16422,[],[],0,0,2019-03-06,02:37:36,NaN,NaN
4360,"""1103122074044940289""","""Narendra Modi""",narendramodi,"""The foundation stone for the resitement of BP...",2655,10954,[@BJP4Karnataka],[],0,1,2019-03-06,02:36:12,NaN,NaN
4361,"""1103121800395923457""","""Narendra Modi""",narendramodi,"""I will be in Kalaburagi today to launch key d...",4587,26890,[],[],0,0,2019-03-06,02:35:06,NaN,NaN
4362,"""1102971120460988417""","""Narendra Modi""",narendramodi,"""Last month, I had the honour of seeking the b...",4442,26545,[],[],0,0,2019-03-05,16:36:21,Image added,NaN
4363,"""1102971102207332356""","""Narendra Modi""",narendramodi,"""Boro Ma Binapani Thakur was an icon of our ti...",3859,20643,[],[],0,0,2019-03-05,16:36:17,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Politics"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (4364, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220177983740219392""","""Narendra Modi""",narendramodi,5655,32463,[],[],0,0,2020-01-23,02:54:35,-,-,Male,Politics
1,"""1220177665203888128""","""Narendra Modi""",narendramodi,6110,22894,[],[],0,0,2020-01-23,02:53:19,-,Video added,Male,Politics
2,"""1220176946044243971""","""Narendra Modi""",narendramodi,5444,21372,[],[],0,0,2020-01-23,02:50:28,Image added,-,Male,Politics
3,"""1219991121943621632""","""Narendra Modi""",narendramodi,1352,6719,[],[],0,0,2020-01-22,14:32:04,-,-,Male,Politics
4,"""1219991120202981377""","""Narendra Modi""",narendramodi,3145,17192,[],[],0,0,2020-01-22,14:32:04,-,-,Male,Politics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4359,"""1103122427213688837""","""Narendra Modi""",narendramodi,3479,16422,[],[],0,0,2019-03-06,02:37:36,-,-,Male,Politics
4360,"""1103122074044940289""","""Narendra Modi""",narendramodi,2655,10954,[@BJP4Karnataka],[],0,1,2019-03-06,02:36:12,-,-,Male,Politics
4361,"""1103121800395923457""","""Narendra Modi""",narendramodi,4587,26890,[],[],0,0,2019-03-06,02:35:06,-,-,Male,Politics
4362,"""1102971120460988417""","""Narendra Modi""",narendramodi,4442,26545,[],[],0,0,2019-03-05,16:36:21,Image added,-,Male,Politics
4363,"""1102971102207332356""","""Narendra Modi""",narendramodi,3859,20643,[],[],0,0,2019-03-05,16:36:17,-,-,Male,Politics

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (4364, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220177983740219392""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,32463,5655,-,-,2020-01-23,02:54:35
"""1220177665203888128""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,22894,6110,-,Video added,2020-01-23,02:53:19
"""1220176946044243971""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,21372,5444,Image added,-,2020-01-23,02:50:28
"""1219991121943621632""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,6719,1352,-,-,2020-01-22,14:32:04
"""1219991120202981377""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,17192,3145,-,-,2020-01-22,14:32:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1103122427213688837""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,16422,3479,-,-,2019-03-06,02:37:36
"""1103122074044940289""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[@BJP4Karnataka],1,10954,2655,-,-,2019-03-06,02:36:12
"""1103121800395923457""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,26890,4587,-,-,2019-03-06,02:35:06
"""1102971120460988417""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,26545,4442,Image added,-,2019-03-05,16:36:21
"""1102971102207332356""","""Narendra Modi""",narendramodi,Male,Politics,[],0,[],0,20643,3859,-,-,2019-03-05,16:36:17

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/NarendraModi_df.csv')