##### ===================================================================================================================

#  Niall Horan Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/NiallHoranTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219645653900546048""",https://twitter.com/niallofficial/status/12196...,2020-01-21 15:39:18,"""@SiriusXMHits1 Fuckkkkkk""",Reply,Twitter for iPhone,1175,8208,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
1,"""1219625949718859778""",https://twitter.com/niallofficial/status/12196...,2020-01-21 14:21:00,"""Huge congratulations to my beautiful friend P...",Tweet,Twitter for iPhone,6245,45056,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
2,"""1218932300106358787""",https://twitter.com/niallofficial/status/12189...,2020-01-19 16:24:41,"""@nialleraustria Cmon now""",Reply,Twitter for iPhone,278,2007,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
3,"""1218772971260710913""",https://twitter.com/niallofficial/status/12187...,2020-01-19 05:51:34,"""ðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ª""",Tweet,Twitter for iPhone,8547,77130,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
4,"""1218673172939231232""",https://twitter.com/niallofficial/status/12186...,2020-01-18 23:15:00,"""@NJHsSTLRckstr2 ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚""",Reply,Twitter for iPhone,257,1887,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""865359712245698561""",https://twitter.com/niallofficial/status/86535...,2017-05-19 00:13:27,"""Great day with all the radio stations in Chic...",Tweet,Twitter for iPhone,18247,60261,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
3196,"""865281066797383681""",https://twitter.com/theellenshow/status/865281...,2017-05-18 19:00:57,""".@NiallOfficial's new music is here, and you ...",Retweet,Twitter Web Client,10578,30754,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
3197,"""865269249857794049""",https://twitter.com/niallofficial/status/86526...,2017-05-18 18:13:59,"""@BezChristiaan happy birthday dude ! Shooting...",Tweet,Twitter for iPhone,1675,4114,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
3198,"""865268733195026432""",https://twitter.com/niallofficial/status/86526...,2017-05-18 18:11:56,"""Sad to hear about Chris Cornell . Was literal...",Tweet,Twitter for iPhone,17402,58310,"""105119490""","""Niall Horan""",niallofficial,Verified,https://twitter.com/niallofficial,Not Protected
3199,"""865191341755650048""",https://twitter.com/challenge_tour/status/8651...,2017-05-18 13:04:25,"""How do you celebrate turning 23? ðŸ¤” \n\nWith a...",Retweet,Twitter Web Client,3319,14614,"""179944945""","""Challenge Tour""",challenge_tour,Verified,https://twitter.com/challenge_tour,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1219645653900546048""","""Niall Horan""",niallofficial,"""@SiriusXMHits1 Fuckkkkkk""",1175,8208,2020-01-21 15:39:18
1,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,2020-01-21 14:21:00
2,"""1218932300106358787""","""Niall Horan""",niallofficial,"""@nialleraustria Cmon now""",278,2007,2020-01-19 16:24:41
3,"""1218772971260710913""","""Niall Horan""",niallofficial,"""ðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ª""",8547,77130,2020-01-19 05:51:34
4,"""1218673172939231232""","""Niall Horan""",niallofficial,"""@NJHsSTLRckstr2 ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚""",257,1887,2020-01-18 23:15:00

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1219645653900546048""","""Niall Horan""",niallofficial,"""@SiriusXMHits1 Fuckkkkkk""",1175,8208,2020-01-21 15:39:18,[@SiriusXMHits1],[],0,1
1,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,2020-01-21 14:21:00,[@PaulSmithDesign],[#PaulSmith50],1,1
2,"""1218932300106358787""","""Niall Horan""",niallofficial,"""@nialleraustria Cmon now""",278,2007,2020-01-19 16:24:41,[@nialleraustria],[],0,1
3,"""1218772971260710913""","""Niall Horan""",niallofficial,"""ðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ª""",8547,77130,2020-01-19 05:51:34,[],[],0,0
4,"""1218673172939231232""","""Niall Horan""",niallofficial,"""@NJHsSTLRckstr2 ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚""",257,1887,2020-01-18 23:15:00,[@NJHsSTLRckstr2],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""865359712245698561""","""Niall Horan""",niallofficial,"""Great day with all the radio stations in Chic...",18247,60261,2017-05-19 00:13:27,[],[],0,0
3196,"""865281066797383681""","""Ellen DeGeneres""",theellenshow,""".@NiallOfficial's new music is here, and you ...",10578,30754,2017-05-18 19:00:57,[@NiallOfficial's],[],0,1
3197,"""865269249857794049""","""Niall Horan""",niallofficial,"""@BezChristiaan happy birthday dude ! Shooting...",1675,4114,2017-05-18 18:13:59,[@BezChristiaan],[],0,1
3198,"""865268733195026432""","""Niall Horan""",niallofficial,"""Sad to hear about Chris Cornell . Was literal...",17402,58310,2017-05-18 18:11:56,[],[],0,0
3199,"""865191341755650048""","""Challenge Tour""",challenge_tour,"""How do you celebrate turning 23? ðŸ¤” \n\nWith a...",3319,14614,2017-05-18 13:04:25,[@BezChristiaan],[#MatchPlay9],1,1

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1219645653900546048""","""Niall Horan""",niallofficial,"""@SiriusXMHits1 Fuckkkkkk""",1175,8208,[@SiriusXMHits1],[],0,1,2020-01-21,15:39:18
1,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00
2,"""1218932300106358787""","""Niall Horan""",niallofficial,"""@nialleraustria Cmon now""",278,2007,[@nialleraustria],[],0,1,2020-01-19,16:24:41
3,"""1218772971260710913""","""Niall Horan""",niallofficial,"""ðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ªðŸ‡®ðŸ‡ª""",8547,77130,[],[],0,0,2020-01-19,05:51:34
4,"""1218673172939231232""","""Niall Horan""",niallofficial,"""@NJHsSTLRckstr2 ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚""",257,1887,[@NJHsSTLRckstr2],[],0,1,2020-01-18,23:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""865359712245698561""","""Niall Horan""",niallofficial,"""Great day with all the radio stations in Chic...",18247,60261,[],[],0,0,2017-05-19,00:13:27
3196,"""865281066797383681""","""Ellen DeGeneres""",theellenshow,""".@NiallOfficial's new music is here, and you ...",10578,30754,[@NiallOfficial's],[],0,1,2017-05-18,19:00:57
3197,"""865269249857794049""","""Niall Horan""",niallofficial,"""@BezChristiaan happy birthday dude ! Shooting...",1675,4114,[@BezChristiaan],[],0,1,2017-05-18,18:13:59
3198,"""865268733195026432""","""Niall Horan""",niallofficial,"""Sad to hear about Chris Cornell . Was literal...",17402,58310,[],[],0,0,2017-05-18,18:11:56
3199,"""865191341755650048""","""Challenge Tour""",challenge_tour,"""How do you celebrate turning 23? ðŸ¤” \n\nWith a...",3319,14614,[@BezChristiaan],[#MatchPlay9],1,1,2017-05-18,13:04:25

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/NiallHoranImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219625949718859778""","""1219625942559199232""",https://pbs.twimg.com/media/EOz7VTkXkAAqtLu.jpg,https://t.co/TcJXqTOIS2
1,"""1219625949718859778""","""1219625942567485440""",https://pbs.twimg.com/media/EOz7VTmWAAA91DH.jpg,https://t.co/TcJXqTOIS2
2,"""1219625949718859778""","""1219625942567485442""",https://pbs.twimg.com/media/EOz7VTmWAAIXzkp.jpg,https://t.co/TcJXqTOIS2
3,"""1218569661362659328""","""1218569654693715974""",https://pbs.twimg.com/media/EOk6pQoW4AYTmTk.jpg,https://t.co/90RagqZwH5
4,"""1218568028197203969""","""1218568018474696705""",https://pbs.twimg.com/media/EOk5KBPWAAEXSgy.jpg,https://t.co/XeiteeH5u7
...,...,...,...,...
835,"""866092429862109184""","""864510513073410048""",https://pbs.twimg.com/media/C_9buzRU0AAI1tJ.jpg,https://t.co/Wdz9v5PbZo
836,"""865605476930641921""","""865595914496352256""",https://pbs.twimg.com/media/DAM25eqVoAAVF0x.jpg,https://t.co/hgYKTREJk6
837,"""865583352488656896""","""865581837841813505""",https://pbs.twimg.com/media/DAMqGHCXUAE315_.jpg,https://t.co/1vvVmVj8kA
838,"""865385016410472449""","""865316932706107392""",https://pbs.twimg.com/media/DAI5KmgUAAACnhf.jpg,https://t.co/q13LydVjgl
839,"""865191341755650048""","""865191091233972226""",https://pbs.twimg.com/media/DAHGtqfVYAIIrLJ.jpg,https://t.co/xBPjhzCYPi

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (840, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (840, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1219625949718859778"  Image added
1    "1219625949718859778"  Image added
2    "1219625949718859778"  Image added
3    "1218569661362659328"  Image added
4    "1218568028197203969"  Image added
..                     ...          ...
835   "866092429862109184"  Image added
836   "865605476930641921"  Image added
837   "865583352488656896"  Image added
838   "865385016410472449"  Image added
839   "865191341755650048"  Image added

[840 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1219645653900546048""","""Niall Horan""",niallofficial,"""@SiriusXMHits1 Fuckkkkkk""",1175,8208,[@SiriusXMHits1],[],0,1,2020-01-21,15:39:18,NaN
1,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added
2,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added
3,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added
4,"""1218932300106358787""","""Niall Horan""",niallofficial,"""@nialleraustria Cmon now""",278,2007,[@nialleraustria],[],0,1,2020-01-19,16:24:41,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,"""865359712245698561""","""Niall Horan""",niallofficial,"""Great day with all the radio stations in Chic...",18247,60261,[],[],0,0,2017-05-19,00:13:27,NaN
3361,"""865281066797383681""","""Ellen DeGeneres""",theellenshow,""".@NiallOfficial's new music is here, and you ...",10578,30754,[@NiallOfficial's],[],0,1,2017-05-18,19:00:57,NaN
3362,"""865269249857794049""","""Niall Horan""",niallofficial,"""@BezChristiaan happy birthday dude ! Shooting...",1675,4114,[@BezChristiaan],[],0,1,2017-05-18,18:13:59,NaN
3363,"""865268733195026432""","""Niall Horan""",niallofficial,"""Sad to hear about Chris Cornell . Was literal...",17402,58310,[],[],0,0,2017-05-18,18:11:56,NaN
3364,"""865191341755650048""","""Challenge Tour""",challenge_tour,"""How do you celebrate turning 23? ðŸ¤” \n\nWith a...",3319,14614,[@BezChristiaan],[#MatchPlay9],1,1,2017-05-18,13:04:25,Image added

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/NiallHoranVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1216008898395758595""","""1216008883661103104""",https://video.twimg.com/tweet_video/EOAhoxJW4A...,https://t.co/0YxW4O6dez
1,"""1214777476095733760""","""1214745676086595585""",https://video.twimg.com/amplify_video/12147456...,https://t.co/Q40KLO9WCc
2,"""1213190216686743553""","""1213190143416455172""",https://video.twimg.com/ext_tw_video/121319014...,https://t.co/rl9ytOuYbn
3,"""1212505510533947393""","""1212505495992291329""",https://video.twimg.com/ext_tw_video/121250549...,https://t.co/GgEptzpGzA
4,"""1211245067861741569""","""1211245057384353793""",https://video.twimg.com/tweet_video/EM809lVXkA...,https://t.co/JazRiij6BD
...,...,...,...,...
348,"""867884041802043392""","""867884025972699139""",https://video.twimg.com/tweet_video/DAtX7GJWsA...,https://t.co/ob6VBQycGx
349,"""866688903247515651""","""866688898822541312""",https://video.twimg.com/tweet_video/DAcY9ikXkA...,https://t.co/xVZ9kzw473
350,"""866638794988171264""","""866638750415294464""",https://video.twimg.com/ext_tw_video/866638750...,https://t.co/QM1chJ5JUa
351,"""865763340899037184""","""865763291481743364""",https://video.twimg.com/ext_tw_video/865763291...,https://t.co/3wADTry0Fb
352,"""865281066797383681""","""865280999600472066""",https://video.twimg.com/tweet_video/DAIYfBQUwA...,https://t.co/leS2EhRvOg

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (353, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (353, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1216008898395758595"  Video added
1    "1214777476095733760"  Video added
2    "1213190216686743553"  Video added
3    "1212505510533947393"  Video added
4    "1211245067861741569"  Video added
..                     ...          ...
348   "867884041802043392"  Video added
349   "866688903247515651"  Video added
350   "866638794988171264"  Video added
351   "865763340899037184"  Video added
352   "865281066797383681"  Video added

[353 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1219645653900546048""","""Niall Horan""",niallofficial,"""@SiriusXMHits1 Fuckkkkkk""",1175,8208,[@SiriusXMHits1],[],0,1,2020-01-21,15:39:18,NaN,NaN
1,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added,NaN
2,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added,NaN
3,"""1219625949718859778""","""Niall Horan""",niallofficial,"""Huge congratulations to my beautiful friend P...",6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added,NaN
4,"""1218932300106358787""","""Niall Horan""",niallofficial,"""@nialleraustria Cmon now""",278,2007,[@nialleraustria],[],0,1,2020-01-19,16:24:41,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,"""865359712245698561""","""Niall Horan""",niallofficial,"""Great day with all the radio stations in Chic...",18247,60261,[],[],0,0,2017-05-19,00:13:27,NaN,NaN
3361,"""865281066797383681""","""Ellen DeGeneres""",theellenshow,""".@NiallOfficial's new music is here, and you ...",10578,30754,[@NiallOfficial's],[],0,1,2017-05-18,19:00:57,NaN,Video added
3362,"""865269249857794049""","""Niall Horan""",niallofficial,"""@BezChristiaan happy birthday dude ! Shooting...",1675,4114,[@BezChristiaan],[],0,1,2017-05-18,18:13:59,NaN,NaN
3363,"""865268733195026432""","""Niall Horan""",niallofficial,"""Sad to hear about Chris Cornell . Was literal...",17402,58310,[],[],0,0,2017-05-18,18:11:56,NaN,NaN
3364,"""865191341755650048""","""Challenge Tour""",challenge_tour,"""How do you celebrate turning 23? ðŸ¤” \n\nWith a...",3319,14614,[@BezChristiaan],[#MatchPlay9],1,1,2017-05-18,13:04:25,Image added,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3365, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1219645653900546048""","""Niall Horan""",niallofficial,1175,8208,[@SiriusXMHits1],[],0,1,2020-01-21,15:39:18,-,-,Male,Music
1,"""1219625949718859778""","""Niall Horan""",niallofficial,6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added,-,Male,Music
2,"""1219625949718859778""","""Niall Horan""",niallofficial,6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added,-,Male,Music
3,"""1219625949718859778""","""Niall Horan""",niallofficial,6245,45056,[@PaulSmithDesign],[#PaulSmith50],1,1,2020-01-21,14:21:00,Image added,-,Male,Music
4,"""1218932300106358787""","""Niall Horan""",niallofficial,278,2007,[@nialleraustria],[],0,1,2020-01-19,16:24:41,-,-,Male,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,"""865359712245698561""","""Niall Horan""",niallofficial,18247,60261,[],[],0,0,2017-05-19,00:13:27,-,-,Male,Music
3361,"""865281066797383681""","""Ellen DeGeneres""",theellenshow,10578,30754,[@NiallOfficial's],[],0,1,2017-05-18,19:00:57,-,Video added,Male,Music
3362,"""865269249857794049""","""Niall Horan""",niallofficial,1675,4114,[@BezChristiaan],[],0,1,2017-05-18,18:13:59,-,-,Male,Music
3363,"""865268733195026432""","""Niall Horan""",niallofficial,17402,58310,[],[],0,0,2017-05-18,18:11:56,-,-,Male,Music
3364,"""865191341755650048""","""Challenge Tour""",challenge_tour,3319,14614,[@BezChristiaan],[#MatchPlay9],1,1,2017-05-18,13:04:25,Image added,-,Male,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3365, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1219645653900546048""","""Niall Horan""",niallofficial,Male,Music,[],0,[@SiriusXMHits1],1,8208,1175,-,-,2020-01-21,15:39:18
"""1219625949718859778""","""Niall Horan""",niallofficial,Male,Music,[#PaulSmith50],1,[@PaulSmithDesign],1,45056,6245,Image added,-,2020-01-21,14:21:00
"""1219625949718859778""","""Niall Horan""",niallofficial,Male,Music,[#PaulSmith50],1,[@PaulSmithDesign],1,45056,6245,Image added,-,2020-01-21,14:21:00
"""1219625949718859778""","""Niall Horan""",niallofficial,Male,Music,[#PaulSmith50],1,[@PaulSmithDesign],1,45056,6245,Image added,-,2020-01-21,14:21:00
"""1218932300106358787""","""Niall Horan""",niallofficial,Male,Music,[],0,[@nialleraustria],1,2007,278,-,-,2020-01-19,16:24:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""865359712245698561""","""Niall Horan""",niallofficial,Male,Music,[],0,[],0,60261,18247,-,-,2017-05-19,00:13:27
"""865281066797383681""","""Ellen DeGeneres""",theellenshow,Male,Music,[],0,[@NiallOfficial's],1,30754,10578,-,Video added,2017-05-18,19:00:57
"""865269249857794049""","""Niall Horan""",niallofficial,Male,Music,[],0,[@BezChristiaan],1,4114,1675,-,-,2017-05-18,18:13:59
"""865268733195026432""","""Niall Horan""",niallofficial,Male,Music,[],0,[],0,58310,17402,-,-,2017-05-18,18:11:56
"""865191341755650048""","""Challenge Tour""",challenge_tour,Male,Music,[#MatchPlay9],1,[@BezChristiaan],1,14614,3319,Image added,-,2017-05-18,13:04:25

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/NiallHoran_df.csv')