##### ===================================================================================================================

#  Rihanna Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/RihannaTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1216521751972024321""",https://twitter.com/rihanna/status/12165217519...,2020-01-13 00:46:02,"""The @SavageXFenty Valentine collection design...",Tweet,Twitter for iPhone,13733,127356,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
1,"""1216489076091523072""",https://twitter.com/rihanna/status/12164890760...,2020-01-12 22:36:11,"""New Year, New Valentineâ€™s gift! Get ready to ...",Tweet,Twitter for iPhone,10925,114439,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
2,"""1214655618394378240""",https://twitter.com/rihanna/status/12146556183...,2020-01-07 21:10:41,"""Ya done know that @fentybeauty was coming to ...",Tweet,Twitter for iPhone,6789,75299,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
3,"""1214305599069929473""",https://twitter.com/rihanna/status/12143055990...,2020-01-06 21:59:50,"""first selfie of the year doe. #2020 https://t...",Tweet,Twitter for iPhone,98232,983297,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
4,"""1214227610911170561""",https://twitter.com/rihanna/status/12142276109...,2020-01-06 16:49:56,"""devastating. ðŸ˜¢ #Australia https://t.co/VB2czi...",Tweet,Twitter for iPhone,75458,347205,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""291913209290567684""",https://twitter.com/rihanna/status/29191320929...,2013-01-17 14:21:47,"""All I see is $ign$ tho #SlayItUp #navi â€œ@Stef...",Tweet,Twitter for iPhone,1064,624,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
3196,"""291868014926778369""",https://twitter.com/britishvogue/status/291868...,2013-01-17 11:22:12,"""Vogue cover girl @rihanna will launch her @ri...",Retweet,Twitter Web Client,866,348,"""27844479""","""British Vogue""",britishvogue,Verified,https://twitter.com/britishvogue,Not Protected
3197,"""291675410876465152""",https://twitter.com/rihanna/status/29167541087...,2013-01-16 22:36:51,"""All I got are these photographs #phuckyoshirt...",Tweet,Instagram,1533,958,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
3198,"""291670929329762304""",https://twitter.com/rihanna/status/29167092932...,2013-01-16 22:19:03,"""#SINGLEcover for #STAY http://t.co/Ta8Y8dHd""",Tweet,Instagram,2320,1172,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected
3199,"""291670595358322688""",https://twitter.com/rihanna/status/29167059535...,2013-01-16 22:17:43,"""#SINGLEcover for #POURitUP http://t.co/Xz6jHY7e""",Tweet,Instagram,1970,1013,"""79293791""","""Rihanna""",rihanna,Verified,https://twitter.com/rihanna,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,2020-01-13 00:46:02
1,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,2020-01-12 22:36:11
2,"""1214655618394378240""","""Rihanna""",rihanna,"""Ya done know that @fentybeauty was coming to ...",6789,75299,2020-01-07 21:10:41
3,"""1214305599069929473""","""Rihanna""",rihanna,"""first selfie of the year doe. #2020 https://t...",98232,983297,2020-01-06 21:59:50
4,"""1214227610911170561""","""Rihanna""",rihanna,"""devastating. ðŸ˜¢ #Australia https://t.co/VB2czi...",75458,347205,2020-01-06 16:49:56

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,2020-01-13 00:46:02,[@SavageXFenty],[],0,1
1,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,2020-01-12 22:36:11,[@SavageXFenty],"[#SavageX,]",1,1
2,"""1214655618394378240""","""Rihanna""",rihanna,"""Ya done know that @fentybeauty was coming to ...",6789,75299,2020-01-07 21:10:41,"[@fentybeauty, @sephora, @bootsuk, @harveynich...","[#FULLFRONTALMASCARA, #SephorainJCP!]",2,4
3,"""1214305599069929473""","""Rihanna""",rihanna,"""first selfie of the year doe. #2020 https://t...",98232,983297,2020-01-06 21:59:50,[],[#2020],1,0
4,"""1214227610911170561""","""Rihanna""",rihanna,"""devastating. ðŸ˜¢ #Australia https://t.co/VB2czi...",75458,347205,2020-01-06 16:49:56,[],[#Australia],1,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""291913209290567684""","""Rihanna""",rihanna,"""All I see is $ign$ tho #SlayItUp #navi â€œ@Stef...",1064,624,2013-01-17 14:21:47,[@StefanSaxon:],"[#SlayItUp, #navi, #90, #76]",4,1
3196,"""291868014926778369""","""British Vogue""",britishvogue,"""Vogue cover girl @rihanna will launch her @ri...",866,348,2013-01-17 11:22:12,"[@rihanna, @river_island, @LondonFashionWk]",[],0,3
3197,"""291675410876465152""","""Rihanna""",rihanna,"""All I got are these photographs #phuckyoshirt...",1533,958,2013-01-16 22:36:51,[],[#phuckyoshirt],1,0
3198,"""291670929329762304""","""Rihanna""",rihanna,"""#SINGLEcover for #STAY http://t.co/Ta8Y8dHd""",2320,1172,2013-01-16 22:19:03,[],"[#SINGLEcover, #STAY]",2,0
3199,"""291670595358322688""","""Rihanna""",rihanna,"""#SINGLEcover for #POURitUP http://t.co/Xz6jHY7e""",1970,1013,2013-01-16 22:17:43,[],"[#SINGLEcover, #POURitUP]",2,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02
1,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11
2,"""1214655618394378240""","""Rihanna""",rihanna,"""Ya done know that @fentybeauty was coming to ...",6789,75299,"[@fentybeauty, @sephora, @bootsuk, @harveynich...","[#FULLFRONTALMASCARA, #SephorainJCP!]",2,4,2020-01-07,21:10:41
3,"""1214305599069929473""","""Rihanna""",rihanna,"""first selfie of the year doe. #2020 https://t...",98232,983297,[],[#2020],1,0,2020-01-06,21:59:50
4,"""1214227610911170561""","""Rihanna""",rihanna,"""devastating. ðŸ˜¢ #Australia https://t.co/VB2czi...",75458,347205,[],[#Australia],1,0,2020-01-06,16:49:56
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""291913209290567684""","""Rihanna""",rihanna,"""All I see is $ign$ tho #SlayItUp #navi â€œ@Stef...",1064,624,[@StefanSaxon:],"[#SlayItUp, #navi, #90, #76]",4,1,2013-01-17,14:21:47
3196,"""291868014926778369""","""British Vogue""",britishvogue,"""Vogue cover girl @rihanna will launch her @ri...",866,348,"[@rihanna, @river_island, @LondonFashionWk]",[],0,3,2013-01-17,11:22:12
3197,"""291675410876465152""","""Rihanna""",rihanna,"""All I got are these photographs #phuckyoshirt...",1533,958,[],[#phuckyoshirt],1,0,2013-01-16,22:36:51
3198,"""291670929329762304""","""Rihanna""",rihanna,"""#SINGLEcover for #STAY http://t.co/Ta8Y8dHd""",2320,1172,[],"[#SINGLEcover, #STAY]",2,0,2013-01-16,22:19:03
3199,"""291670595358322688""","""Rihanna""",rihanna,"""#SINGLEcover for #POURitUP http://t.co/Xz6jHY7e""",1970,1013,[],"[#SINGLEcover, #POURitUP]",2,0,2013-01-16,22:17:43

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/RihannaImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1216521751972024321""","""1216521745361850369""",https://pbs.twimg.com/media/EOH0FP3U0AEK_Cd.jpg,https://t.co/oxWEid32nT
1,"""1216521751972024321""","""1216521745378639872""",https://pbs.twimg.com/media/EOH0FP7VAAAN7t4.jpg,https://t.co/oxWEid32nT
2,"""1216489076091523072""","""1216489042629382144""",https://pbs.twimg.com/media/EOHWVssUUAA9VPb.jpg,https://t.co/66MFzKu1bT
3,"""1216489076091523072""","""1216489042629427200""",https://pbs.twimg.com/media/EOHWVssVAAAnIQz.jpg,https://t.co/66MFzKu1bT
4,"""1214655618394378240""","""1214655611041792000""",https://pbs.twimg.com/media/ENtS17yUwAADG9q.jpg,https://t.co/v2YXoSL9Jx
...,...,...,...,...
904,"""378625059323006976""","""378625059331395584""",https://pbs.twimg.com/media/BUElfESCUAAWJl1.jpg,http://t.co/H3sSajrDjd
905,"""378124228047810561""","""378124227825528833""",https://pbs.twimg.com/media/BT9d-1iCcAE5vuq.jpg,http://t.co/ttzqrt5yeT
906,"""346604949196648448""","""345166546378846208""",https://pbs.twimg.com/media/BMpHJSlCcAAvtMn.png,http://t.co/EyJ4QhWZLW
907,"""346219764454146049""","""346210941546946560""",https://pbs.twimg.com/media/BM39BFxCYAA-Uum.jpg,http://t.co/WIpZHQu0oZ
908,"""344950245786017792""","""344950245794406400""",https://pbs.twimg.com/media/BMmCa8HCYAAMKTM.jpg,http://t.co/TpSzmEcBIF

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (909, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (909, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1216521751972024321"  Image added
1    "1216521751972024321"  Image added
2    "1216489076091523072"  Image added
3    "1216489076091523072"  Image added
4    "1214655618394378240"  Image added
..                     ...          ...
904   "378625059323006976"  Image added
905   "378124228047810561"  Image added
906   "346604949196648448"  Image added
907   "346219764454146049"  Image added
908   "344950245786017792"  Image added

[909 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02,Image added
1,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02,Image added
2,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11,Image added
3,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11,Image added
4,"""1214655618394378240""","""Rihanna""",rihanna,"""Ya done know that @fentybeauty was coming to ...",6789,75299,"[@fentybeauty, @sephora, @bootsuk, @harveynich...","[#FULLFRONTALMASCARA, #SephorainJCP!]",2,4,2020-01-07,21:10:41,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3323,"""291913209290567684""","""Rihanna""",rihanna,"""All I see is $ign$ tho #SlayItUp #navi â€œ@Stef...",1064,624,[@StefanSaxon:],"[#SlayItUp, #navi, #90, #76]",4,1,2013-01-17,14:21:47,NaN
3324,"""291868014926778369""","""British Vogue""",britishvogue,"""Vogue cover girl @rihanna will launch her @ri...",866,348,"[@rihanna, @river_island, @LondonFashionWk]",[],0,3,2013-01-17,11:22:12,NaN
3325,"""291675410876465152""","""Rihanna""",rihanna,"""All I got are these photographs #phuckyoshirt...",1533,958,[],[#phuckyoshirt],1,0,2013-01-16,22:36:51,NaN
3326,"""291670929329762304""","""Rihanna""",rihanna,"""#SINGLEcover for #STAY http://t.co/Ta8Y8dHd""",2320,1172,[],"[#SINGLEcover, #STAY]",2,0,2013-01-16,22:19:03,NaN
3327,"""291670595358322688""","""Rihanna""",rihanna,"""#SINGLEcover for #POURitUP http://t.co/Xz6jHY7e""",1970,1013,[],"[#SINGLEcover, #POURitUP]",2,0,2013-01-16,22:17:43,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/RihannaVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1204114028475215872""","""1204114015149912074""",https://video.twimg.com/ext_tw_video/120411401...,https://t.co/mlN1vR5LtA
1,"""1203180068962324481""","""1203179999982809090""",https://video.twimg.com/ext_tw_video/120317999...,https://t.co/z7zpLAFIOl
2,"""1203178935355265025""","""1203178891197550593""",https://video.twimg.com/ext_tw_video/120317889...,https://t.co/Y8JSGSiLfU
3,"""1187173629118697472""","""1187173608331739138""",https://video.twimg.com/ext_tw_video/118717360...,https://t.co/StpJEW3pfV
4,"""1185688515419365377""","""1185688418782601217""",https://video.twimg.com/ext_tw_video/118568841...,https://t.co/yimv6gsnAz
...,...,...,...,...
162,"""658644783414427648""","""657736718599110656""",https://video.twimg.com/tweet_video/CSDAD4vUwA...,https://t.co/DO1gbunsPU
163,"""600463784201822208""","""600463783367180289""",https://video.twimg.com/tweet_video/CFVGoSwWgA...,http://t.co/F4Y5Af37AN
164,"""571124202566070272""","""571124201462976513""",https://video.twimg.com/tweet_video/B-0Kb27UUA...,http://t.co/L5Y3usOIxN
165,"""538053922959532034""","""538053893263859712""",https://video.twimg.com/tweet_video/B3eNKkoCIA...,http://t.co/oviQU0tw30
166,"""479333336553230336""","""479320818963726336""",https://video.twimg.com/tweet_video/BqbjvsvIQA...,http://t.co/RVPjwWYjEj

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (167, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (167, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1204114028475215872"  Video added
1    "1203180068962324481"  Video added
2    "1203178935355265025"  Video added
3    "1187173629118697472"  Video added
4    "1185688515419365377"  Video added
..                     ...          ...
162   "658644783414427648"  Video added
163   "600463784201822208"  Video added
164   "571124202566070272"  Video added
165   "538053922959532034"  Video added
166   "479333336553230336"  Video added

[167 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02,Image added,NaN
1,"""1216521751972024321""","""Rihanna""",rihanna,"""The @SavageXFenty Valentine collection design...",13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02,Image added,NaN
2,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11,Image added,NaN
3,"""1216489076091523072""","""Rihanna""",rihanna,"""New Year, New Valentineâ€™s gift! Get ready to ...",10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11,Image added,NaN
4,"""1214655618394378240""","""Rihanna""",rihanna,"""Ya done know that @fentybeauty was coming to ...",6789,75299,"[@fentybeauty, @sephora, @bootsuk, @harveynich...","[#FULLFRONTALMASCARA, #SephorainJCP!]",2,4,2020-01-07,21:10:41,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3323,"""291913209290567684""","""Rihanna""",rihanna,"""All I see is $ign$ tho #SlayItUp #navi â€œ@Stef...",1064,624,[@StefanSaxon:],"[#SlayItUp, #navi, #90, #76]",4,1,2013-01-17,14:21:47,NaN,NaN
3324,"""291868014926778369""","""British Vogue""",britishvogue,"""Vogue cover girl @rihanna will launch her @ri...",866,348,"[@rihanna, @river_island, @LondonFashionWk]",[],0,3,2013-01-17,11:22:12,NaN,NaN
3325,"""291675410876465152""","""Rihanna""",rihanna,"""All I got are these photographs #phuckyoshirt...",1533,958,[],[#phuckyoshirt],1,0,2013-01-16,22:36:51,NaN,NaN
3326,"""291670929329762304""","""Rihanna""",rihanna,"""#SINGLEcover for #STAY http://t.co/Ta8Y8dHd""",2320,1172,[],"[#SINGLEcover, #STAY]",2,0,2013-01-16,22:19:03,NaN,NaN
3327,"""291670595358322688""","""Rihanna""",rihanna,"""#SINGLEcover for #POURitUP http://t.co/Xz6jHY7e""",1970,1013,[],"[#SINGLEcover, #POURitUP]",2,0,2013-01-16,22:17:43,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3328, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1216521751972024321""","""Rihanna""",rihanna,13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02,Image added,-,Female,Music
1,"""1216521751972024321""","""Rihanna""",rihanna,13733,127356,[@SavageXFenty],[],0,1,2020-01-13,00:46:02,Image added,-,Female,Music
2,"""1216489076091523072""","""Rihanna""",rihanna,10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11,Image added,-,Female,Music
3,"""1216489076091523072""","""Rihanna""",rihanna,10925,114439,[@SavageXFenty],"[#SavageX,]",1,1,2020-01-12,22:36:11,Image added,-,Female,Music
4,"""1214655618394378240""","""Rihanna""",rihanna,6789,75299,"[@fentybeauty, @sephora, @bootsuk, @harveynich...","[#FULLFRONTALMASCARA, #SephorainJCP!]",2,4,2020-01-07,21:10:41,Image added,-,Female,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3323,"""291913209290567684""","""Rihanna""",rihanna,1064,624,[@StefanSaxon:],"[#SlayItUp, #navi, #90, #76]",4,1,2013-01-17,14:21:47,-,-,Female,Music
3324,"""291868014926778369""","""British Vogue""",britishvogue,866,348,"[@rihanna, @river_island, @LondonFashionWk]",[],0,3,2013-01-17,11:22:12,-,-,Female,Music
3325,"""291675410876465152""","""Rihanna""",rihanna,1533,958,[],[#phuckyoshirt],1,0,2013-01-16,22:36:51,-,-,Female,Music
3326,"""291670929329762304""","""Rihanna""",rihanna,2320,1172,[],"[#SINGLEcover, #STAY]",2,0,2013-01-16,22:19:03,-,-,Female,Music
3327,"""291670595358322688""","""Rihanna""",rihanna,1970,1013,[],"[#SINGLEcover, #POURitUP]",2,0,2013-01-16,22:17:43,-,-,Female,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3328, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1216521751972024321""","""Rihanna""",rihanna,Female,Music,[],0,[@SavageXFenty],1,127356,13733,Image added,-,2020-01-13,00:46:02
"""1216521751972024321""","""Rihanna""",rihanna,Female,Music,[],0,[@SavageXFenty],1,127356,13733,Image added,-,2020-01-13,00:46:02
"""1216489076091523072""","""Rihanna""",rihanna,Female,Music,"[#SavageX,]",1,[@SavageXFenty],1,114439,10925,Image added,-,2020-01-12,22:36:11
"""1216489076091523072""","""Rihanna""",rihanna,Female,Music,"[#SavageX,]",1,[@SavageXFenty],1,114439,10925,Image added,-,2020-01-12,22:36:11
"""1214655618394378240""","""Rihanna""",rihanna,Female,Music,"[#FULLFRONTALMASCARA, #SephorainJCP!]",2,"[@fentybeauty, @sephora, @bootsuk, @harveynich...",4,75299,6789,Image added,-,2020-01-07,21:10:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""291913209290567684""","""Rihanna""",rihanna,Female,Music,"[#SlayItUp, #navi, #90, #76]",4,[@StefanSaxon:],1,624,1064,-,-,2013-01-17,14:21:47
"""291868014926778369""","""British Vogue""",britishvogue,Female,Music,[],0,"[@rihanna, @river_island, @LondonFashionWk]",3,348,866,-,-,2013-01-17,11:22:12
"""291675410876465152""","""Rihanna""",rihanna,Female,Music,[#phuckyoshirt],1,[],0,958,1533,-,-,2013-01-16,22:36:51
"""291670929329762304""","""Rihanna""",rihanna,Female,Music,"[#SINGLEcover, #STAY]",2,[],0,1172,2320,-,-,2013-01-16,22:19:03
"""291670595358322688""","""Rihanna""",rihanna,Female,Music,"[#SINGLEcover, #POURitUP]",2,[],0,1013,1970,-,-,2013-01-16,22:17:43

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/Rihanna_df.csv')