In [1]:
# Set Up PyMongo
import pymongo
import pandas as pd
from flask import jsonify
import matplotlib.pyplot as plt

client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

In [2]:
QueryIdentity = "Katy Perry"
scatter_df = pd.DataFrame(list(mongo_collection.find({"Identity": QueryIdentity} ,{ "_id": 0, "Likes": 1, "Retweets" : 1} )))

In [3]:
scatter_df

      Likes  Retweets
0      4037       503
1      4037       503
2      4037       503
3      7558      1029
4     79726     18934
...     ...       ...
3345   2693       740
3346   2659       757
3347   3096       991
3348   2778      1021
3349   2310       644

[3350 rows x 2 columns]