##### ===================================================================================================================

#  Selena Gomez Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/SelenaGomezTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220211174270128128""",https://twitter.com/selenagomez/status/1220211...,2020-01-23 05:06:29,"""Just wanted to say how grateful I am that LYT...",Tweet,Twitter for iPhone,4282,29345,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
1,"""1220118821706420225""",https://twitter.com/selenagomez/status/1220118...,2020-01-22 22:59:30,"""@JoanzMarques This is awesome! ðŸ’–""",Reply,Twitter for iPhone,244,1687,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
2,"""1220089560433954816""",https://twitter.com/selenagomez/status/1220089...,2020-01-22 21:03:14,"""Itâ€™s officially out! Thank YOU so much for ma...",Tweet,Twitter for iPhone,10312,66218,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
3,"""1219426990907740161""",https://twitter.com/selenagomez/status/1219426...,2020-01-21 01:10:25,"""Go behind the scenes of the Rare video! âœ¨ðŸ¦‹ ht...",Tweet,Twitter for iPhone,6379,58540,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
4,"""1219053571670343680""",https://twitter.com/selenagomez/status/1219053...,2020-01-20 00:26:35,"""Love this cover!! @echosmith ðŸ’– https://t.co/U...",Tweet,Twitter for iPhone,5337,50180,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""30118610919751681""",https://twitter.com/selenagomez/status/3011861...,2011-01-26 04:23:31,"""Go watch my girl @Sammydroke in ""Seconds Apar...",Tweet,Echofon,621,150,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
3196,"""29974908003942400""",https://twitter.com/selenagomez/status/2997490...,2011-01-25 18:52:29,"""#Haiti365 UNICEF and its partners provided ne...",Tweet,Twitter Web Client,917,243,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
3197,"""29218975904698368""",https://twitter.com/selenagomez/status/2921897...,2011-01-23 16:48:41,"""What's up Puerto Rico?!!!! It's been a while....",Tweet,Echofon,1627,582,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
3198,"""28875425421721600""",https://twitter.com/selenagomez/status/2887542...,2011-01-22 18:03:32,"""9 days left in the myyoutube contest. Click ...",Tweet,Twitter Web Client,918,273,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected
3199,"""28578750350229504""",https://twitter.com/selenagomez/status/2857875...,2011-01-21 22:24:39,"""#Haiti365 UNICEF continues to feed more than ...",Tweet,Twitter Web Client,1237,319,"""23375688""","""Selena Gomez""",selenagomez,Verified,https://twitter.com/selenagomez,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220211174270128128""","""Selena Gomez""",selenagomez,"""Just wanted to say how grateful I am that LYT...",4282,29345,2020-01-23 05:06:29
1,"""1220118821706420225""","""Selena Gomez""",selenagomez,"""@JoanzMarques This is awesome! ðŸ’–""",244,1687,2020-01-22 22:59:30
2,"""1220089560433954816""","""Selena Gomez""",selenagomez,"""Itâ€™s officially out! Thank YOU so much for ma...",10312,66218,2020-01-22 21:03:14
3,"""1219426990907740161""","""Selena Gomez""",selenagomez,"""Go behind the scenes of the Rare video! âœ¨ðŸ¦‹ ht...",6379,58540,2020-01-21 01:10:25
4,"""1219053571670343680""","""Selena Gomez""",selenagomez,"""Love this cover!! @echosmith ðŸ’– https://t.co/U...",5337,50180,2020-01-20 00:26:35

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220211174270128128""","""Selena Gomez""",selenagomez,"""Just wanted to say how grateful I am that LYT...",4282,29345,2020-01-23 05:06:29,[],[#1],1,0
1,"""1220118821706420225""","""Selena Gomez""",selenagomez,"""@JoanzMarques This is awesome! ðŸ’–""",244,1687,2020-01-22 22:59:30,[@JoanzMarques],[],0,1
2,"""1220089560433954816""","""Selena Gomez""",selenagomez,"""Itâ€™s officially out! Thank YOU so much for ma...",10312,66218,2020-01-22 21:03:14,[],[],0,0
3,"""1219426990907740161""","""Selena Gomez""",selenagomez,"""Go behind the scenes of the Rare video! âœ¨ðŸ¦‹ ht...",6379,58540,2020-01-21 01:10:25,[],[],0,0
4,"""1219053571670343680""","""Selena Gomez""",selenagomez,"""Love this cover!! @echosmith ðŸ’– https://t.co/U...",5337,50180,2020-01-20 00:26:35,[@echosmith],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""30118610919751681""","""Selena Gomez""",selenagomez,"""Go watch my girl @Sammydroke in ""Seconds Apar...",621,150,2011-01-26 04:23:31,"[@Sammydroke, @sammydroke]",[],0,2
3196,"""29974908003942400""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF and its partners provided ne...",917,243,2011-01-25 18:52:29,[],[#Haiti365],1,0
3197,"""29218975904698368""","""Selena Gomez""",selenagomez,"""What's up Puerto Rico?!!!! It's been a while....",1627,582,2011-01-23 16:48:41,[],[],0,0
3198,"""28875425421721600""","""Selena Gomez""",selenagomez,"""9 days left in the myyoutube contest. Click ...",918,273,2011-01-22 18:03:32,[],[],0,0
3199,"""28578750350229504""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF continues to feed more than ...",1237,319,2011-01-21 22:24:39,[],[#Haiti365],1,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220211174270128128""","""Selena Gomez""",selenagomez,"""Just wanted to say how grateful I am that LYT...",4282,29345,[],[#1],1,0,2020-01-23,05:06:29
1,"""1220118821706420225""","""Selena Gomez""",selenagomez,"""@JoanzMarques This is awesome! ðŸ’–""",244,1687,[@JoanzMarques],[],0,1,2020-01-22,22:59:30
2,"""1220089560433954816""","""Selena Gomez""",selenagomez,"""Itâ€™s officially out! Thank YOU so much for ma...",10312,66218,[],[],0,0,2020-01-22,21:03:14
3,"""1219426990907740161""","""Selena Gomez""",selenagomez,"""Go behind the scenes of the Rare video! âœ¨ðŸ¦‹ ht...",6379,58540,[],[],0,0,2020-01-21,01:10:25
4,"""1219053571670343680""","""Selena Gomez""",selenagomez,"""Love this cover!! @echosmith ðŸ’– https://t.co/U...",5337,50180,[@echosmith],[],0,1,2020-01-20,00:26:35
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""30118610919751681""","""Selena Gomez""",selenagomez,"""Go watch my girl @Sammydroke in ""Seconds Apar...",621,150,"[@Sammydroke, @sammydroke]",[],0,2,2011-01-26,04:23:31
3196,"""29974908003942400""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF and its partners provided ne...",917,243,[],[#Haiti365],1,0,2011-01-25,18:52:29
3197,"""29218975904698368""","""Selena Gomez""",selenagomez,"""What's up Puerto Rico?!!!! It's been a while....",1627,582,[],[],0,0,2011-01-23,16:48:41
3198,"""28875425421721600""","""Selena Gomez""",selenagomez,"""9 days left in the myyoutube contest. Click ...",918,273,[],[],0,0,2011-01-22,18:03:32
3199,"""28578750350229504""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF continues to feed more than ...",1237,319,[],[#Haiti365],1,0,2011-01-21,22:24:39

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/SelenaGomezImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220211174270128128""","""1220211169752780800""",https://pbs.twimg.com/media/EO8PmAwUEAABLoq.jpg,https://t.co/Z7VfxNlYUL
1,"""1220089560433954816""","""1220089556688498688""",https://pbs.twimg.com/media/EO6g_MyU8AAr0SE.jpg,https://t.co/VorKTweFYF
2,"""1219426990907740161""","""1219426969542000641""",https://pbs.twimg.com/media/EOxGXjUVAAEoDRN.jpg,https://t.co/qd1XQS6qVH
3,"""1217845315807531008""","""1217845311445487616""",https://pbs.twimg.com/media/EOan27wVUAAVl40.jpg,https://t.co/R6uzKY6c2j
4,"""1217155283497054209""","""1217155276341534720""",https://pbs.twimg.com/media/EOQ0RmrUYAACO0b.jpg,https://t.co/F3jWghFQYM
...,...,...,...,...
480,"""193147259045691393""","""193147259054080001""",https://pbs.twimg.com/media/Aq4yaKVCQAEckuT.jpg,http://t.co/UihhyDC4
481,"""193059913377910784""","""193059913386299392""",https://pbs.twimg.com/media/Aq3i9-XCEAA_erK.jpg,http://t.co/v1SpbNI2
482,"""132795138413051904""","""132795138417246208""",https://pbs.twimg.com/media/AdfIeY1CQAAWM5A.jpg,http://t.co/7fVu5WpU
483,"""82585994309808128""","""82585994309808130""",https://pbs.twimg.com/media/ASVnhjZCMAIpoZp.jpg,http://t.co/Fv5jkAv
484,"""80890702522888192""","""80890702522888193""",https://pbs.twimg.com/media/AR9hqlWCMAEk6R6.jpg,http://t.co/BR1JE5Q

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (485, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (485, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1220211174270128128"  Image added
1    "1220089560433954816"  Image added
2    "1219426990907740161"  Image added
3    "1217845315807531008"  Image added
4    "1217155283497054209"  Image added
..                     ...          ...
480   "193147259045691393"  Image added
481   "193059913377910784"  Image added
482   "132795138413051904"  Image added
483    "82585994309808128"  Image added
484    "80890702522888192"  Image added

[485 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220211174270128128""","""Selena Gomez""",selenagomez,"""Just wanted to say how grateful I am that LYT...",4282,29345,[],[#1],1,0,2020-01-23,05:06:29,Image added
1,"""1220118821706420225""","""Selena Gomez""",selenagomez,"""@JoanzMarques This is awesome! ðŸ’–""",244,1687,[@JoanzMarques],[],0,1,2020-01-22,22:59:30,NaN
2,"""1220089560433954816""","""Selena Gomez""",selenagomez,"""Itâ€™s officially out! Thank YOU so much for ma...",10312,66218,[],[],0,0,2020-01-22,21:03:14,Image added
3,"""1219426990907740161""","""Selena Gomez""",selenagomez,"""Go behind the scenes of the Rare video! âœ¨ðŸ¦‹ ht...",6379,58540,[],[],0,0,2020-01-21,01:10:25,Image added
4,"""1219053571670343680""","""Selena Gomez""",selenagomez,"""Love this cover!! @echosmith ðŸ’– https://t.co/U...",5337,50180,[@echosmith],[],0,1,2020-01-20,00:26:35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,"""30118610919751681""","""Selena Gomez""",selenagomez,"""Go watch my girl @Sammydroke in ""Seconds Apar...",621,150,"[@Sammydroke, @sammydroke]",[],0,2,2011-01-26,04:23:31,NaN
3237,"""29974908003942400""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF and its partners provided ne...",917,243,[],[#Haiti365],1,0,2011-01-25,18:52:29,NaN
3238,"""29218975904698368""","""Selena Gomez""",selenagomez,"""What's up Puerto Rico?!!!! It's been a while....",1627,582,[],[],0,0,2011-01-23,16:48:41,NaN
3239,"""28875425421721600""","""Selena Gomez""",selenagomez,"""9 days left in the myyoutube contest. Click ...",918,273,[],[],0,0,2011-01-22,18:03:32,NaN
3240,"""28578750350229504""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF continues to feed more than ...",1237,319,[],[#Haiti365],1,0,2011-01-21,22:24:39,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/SelenaGomezVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1217494538144514048""","""1217494507031187456""",https://video.twimg.com/ext_tw_video/121749450...,https://t.co/9us0FNOCav
1,"""1217130053487579137""","""1217130004250673154""",https://video.twimg.com/ext_tw_video/121713000...,https://t.co/kxKcIEtPfI
2,"""1216823769236373504""","""1216823736407592961""",https://video.twimg.com/ext_tw_video/121682373...,https://t.co/D6F1XpTtMc
3,"""1216802496816893953""","""1216802428722409473""",https://video.twimg.com/ext_tw_video/121680242...,https://t.co/nx5hqGerTV
4,"""1216768062742921219""","""1216767944220217345""",https://video.twimg.com/ext_tw_video/121676794...,https://t.co/vArgdNuRcv
...,...,...,...,...
175,"""610084845121863680""","""610083584158740480""",https://video.twimg.com/ext_tw_video/610083584...,http://t.co/LuThwQFRCS
176,"""581481641375182848""","""581481623423569920""",https://video.twimg.com/tweet_video/CBHWdKeUUA...,http://t.co/tmb1n2pX1H
177,"""580035642337271809""","""580035619331518466""",https://video.twimg.com/tweet_video/CAyzUpdUMA...,http://t.co/OQAuYXdkUZ
178,"""578772088720211970""","""578772064347144193""",https://video.twimg.com/ext_tw_video/578772064...,http://t.co/dZQkppHLqC
179,"""564798688833179648""","""564798661318553600""",https://video.twimg.com/tweet_video/B9aRY9mCMA...,http://t.co/PnYqevCG4d

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (180, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (180, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1217494538144514048"  Video added
1    "1217130053487579137"  Video added
2    "1216823769236373504"  Video added
3    "1216802496816893953"  Video added
4    "1216768062742921219"  Video added
..                     ...          ...
175   "610084845121863680"  Video added
176   "581481641375182848"  Video added
177   "580035642337271809"  Video added
178   "578772088720211970"  Video added
179   "564798688833179648"  Video added

[180 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220211174270128128""","""Selena Gomez""",selenagomez,"""Just wanted to say how grateful I am that LYT...",4282,29345,[],[#1],1,0,2020-01-23,05:06:29,Image added,NaN
1,"""1220118821706420225""","""Selena Gomez""",selenagomez,"""@JoanzMarques This is awesome! ðŸ’–""",244,1687,[@JoanzMarques],[],0,1,2020-01-22,22:59:30,NaN,NaN
2,"""1220089560433954816""","""Selena Gomez""",selenagomez,"""Itâ€™s officially out! Thank YOU so much for ma...",10312,66218,[],[],0,0,2020-01-22,21:03:14,Image added,NaN
3,"""1219426990907740161""","""Selena Gomez""",selenagomez,"""Go behind the scenes of the Rare video! âœ¨ðŸ¦‹ ht...",6379,58540,[],[],0,0,2020-01-21,01:10:25,Image added,NaN
4,"""1219053571670343680""","""Selena Gomez""",selenagomez,"""Love this cover!! @echosmith ðŸ’– https://t.co/U...",5337,50180,[@echosmith],[],0,1,2020-01-20,00:26:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,"""30118610919751681""","""Selena Gomez""",selenagomez,"""Go watch my girl @Sammydroke in ""Seconds Apar...",621,150,"[@Sammydroke, @sammydroke]",[],0,2,2011-01-26,04:23:31,NaN,NaN
3237,"""29974908003942400""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF and its partners provided ne...",917,243,[],[#Haiti365],1,0,2011-01-25,18:52:29,NaN,NaN
3238,"""29218975904698368""","""Selena Gomez""",selenagomez,"""What's up Puerto Rico?!!!! It's been a while....",1627,582,[],[],0,0,2011-01-23,16:48:41,NaN,NaN
3239,"""28875425421721600""","""Selena Gomez""",selenagomez,"""9 days left in the myyoutube contest. Click ...",918,273,[],[],0,0,2011-01-22,18:03:32,NaN,NaN
3240,"""28578750350229504""","""Selena Gomez""",selenagomez,"""#Haiti365 UNICEF continues to feed more than ...",1237,319,[],[#Haiti365],1,0,2011-01-21,22:24:39,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Entertainment"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3241, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220211174270128128""","""Selena Gomez""",selenagomez,4282,29345,[],[#1],1,0,2020-01-23,05:06:29,Image added,-,Female,Entertainment
1,"""1220118821706420225""","""Selena Gomez""",selenagomez,244,1687,[@JoanzMarques],[],0,1,2020-01-22,22:59:30,-,-,Female,Entertainment
2,"""1220089560433954816""","""Selena Gomez""",selenagomez,10312,66218,[],[],0,0,2020-01-22,21:03:14,Image added,-,Female,Entertainment
3,"""1219426990907740161""","""Selena Gomez""",selenagomez,6379,58540,[],[],0,0,2020-01-21,01:10:25,Image added,-,Female,Entertainment
4,"""1219053571670343680""","""Selena Gomez""",selenagomez,5337,50180,[@echosmith],[],0,1,2020-01-20,00:26:35,-,-,Female,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,"""30118610919751681""","""Selena Gomez""",selenagomez,621,150,"[@Sammydroke, @sammydroke]",[],0,2,2011-01-26,04:23:31,-,-,Female,Entertainment
3237,"""29974908003942400""","""Selena Gomez""",selenagomez,917,243,[],[#Haiti365],1,0,2011-01-25,18:52:29,-,-,Female,Entertainment
3238,"""29218975904698368""","""Selena Gomez""",selenagomez,1627,582,[],[],0,0,2011-01-23,16:48:41,-,-,Female,Entertainment
3239,"""28875425421721600""","""Selena Gomez""",selenagomez,918,273,[],[],0,0,2011-01-22,18:03:32,-,-,Female,Entertainment
3240,"""28578750350229504""","""Selena Gomez""",selenagomez,1237,319,[],[#Haiti365],1,0,2011-01-21,22:24:39,-,-,Female,Entertainment

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3241, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220211174270128128""","""Selena Gomez""",selenagomez,Female,Entertainment,[#1],1,[],0,29345,4282,Image added,-,2020-01-23,05:06:29
"""1220118821706420225""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,[@JoanzMarques],1,1687,244,-,-,2020-01-22,22:59:30
"""1220089560433954816""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,[],0,66218,10312,Image added,-,2020-01-22,21:03:14
"""1219426990907740161""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,[],0,58540,6379,Image added,-,2020-01-21,01:10:25
"""1219053571670343680""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,[@echosmith],1,50180,5337,-,-,2020-01-20,00:26:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""30118610919751681""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,"[@Sammydroke, @sammydroke]",2,150,621,-,-,2011-01-26,04:23:31
"""29974908003942400""","""Selena Gomez""",selenagomez,Female,Entertainment,[#Haiti365],1,[],0,243,917,-,-,2011-01-25,18:52:29
"""29218975904698368""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,[],0,582,1627,-,-,2011-01-23,16:48:41
"""28875425421721600""","""Selena Gomez""",selenagomez,Female,Entertainment,[],0,[],0,273,918,-,-,2011-01-22,18:03:32
"""28578750350229504""","""Selena Gomez""",selenagomez,Female,Entertainment,[#Haiti365],1,[],0,319,1237,-,-,2011-01-21,22:24:39

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/SelenaGomez_df.csv')