##### ===================================================================================================================

#  Shah Rukh Khan Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/ShahRukhKhanTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219947963964723205""",https://twitter.com/iamsrk/status/121994796396...,2020-01-22 11:40:34,"""Need to go now. Nice having a chat with u all...",Tweet,Twitter for iPhone,4432,40569,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
1,"""1219946775756165125""",https://twitter.com/iamsrk/status/121994677575...,2020-01-22 11:35:51,"""My thoughts exactly... https://t.co/XLjMeBCvSw""",Tweet,Twitter for iPhone,1159,6507,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
2,"""1219945237159612416""",https://twitter.com/iamsrk/status/121994523715...,2020-01-22 11:29:44,"""Don’t let any negativity uninspire you in you...",Tweet,Twitter for iPhone,1956,10759,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
3,"""1219943862157766656""",https://twitter.com/iamsrk/status/121994386215...,2020-01-22 11:24:16,"""30 saal ki mehnat mein padega. https://t.co/Y...",Tweet,Twitter for iPhone,4242,28664,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
4,"""1219941641206648832""",https://twitter.com/iamsrk/status/121994164120...,2020-01-22 11:15:27,"""Sardi https://t.co/n8es8mo06i""",Tweet,Twitter for iPhone,1322,8907,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""777243869708640256""",https://twitter.com/iamsrk/status/777243869708...,2016-09-17 20:32:33,"""U killed me!!! https://t.co/BgEbDAWo1n""",Tweet,Tweetbot for iΟS,2318,7030,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
3196,"""776851369659543552""",https://twitter.com/iamsrk/status/776851369659...,2016-09-16 18:32:54,"""Surrounded by Masters keeping a Nightwatch. R...",Tweet,Tweetbot for iΟS,4351,18369,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
3197,"""776850792980414464""",https://twitter.com/iamsrk/status/776850792980...,2016-09-16 18:30:36,"""Surrounded by Masters keeping a Nightwatch. R...",Tweet,Instagram,1982,6330,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
3198,"""776706212368756736""",https://twitter.com/iamsrk/status/776706212368...,2016-09-16 08:56:06,"""Such hardwork and ur video made me nostalgic ...",Tweet,Tweetbot for iΟS,2532,7962,"""101311381""","""Shah Rukh Khan""",iamsrk,Verified,https://twitter.com/iamsrk,Not Protected
3199,"""776704899887329280""",https://twitter.com/ahmedzaman94/status/776704...,2016-09-16 08:50:53,"""@SRK_FC https://t.co/aKOSk3iKyp\nCheck out th...",Retweet,Twitter for iPhone,1263,3446,"""431033844""","""Ahmed Sher Zaman""",ahmedzaman94,Non-Verified,https://twitter.com/ahmedzaman94,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,"""Need to go now. Nice having a chat with u all...",4432,40569,2020-01-22 11:40:34
1,"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,"""My thoughts exactly... https://t.co/XLjMeBCvSw""",1159,6507,2020-01-22 11:35:51
2,"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,"""Don’t let any negativity uninspire you in you...",1956,10759,2020-01-22 11:29:44
3,"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,"""30 saal ki mehnat mein padega. https://t.co/Y...",4242,28664,2020-01-22 11:24:16
4,"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,"""Sardi https://t.co/n8es8mo06i""",1322,8907,2020-01-22 11:15:27

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,"""Need to go now. Nice having a chat with u all...",4432,40569,2020-01-22 11:40:34,[],[],0,0
1,"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,"""My thoughts exactly... https://t.co/XLjMeBCvSw""",1159,6507,2020-01-22 11:35:51,[],[],0,0
2,"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,"""Don’t let any negativity uninspire you in you...",1956,10759,2020-01-22 11:29:44,[],[],0,0
3,"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,"""30 saal ki mehnat mein padega. https://t.co/Y...",4242,28664,2020-01-22 11:24:16,[],[],0,0
4,"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,"""Sardi https://t.co/n8es8mo06i""",1322,8907,2020-01-22 11:15:27,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""777243869708640256""","""Shah Rukh Khan""",iamsrk,"""U killed me!!! https://t.co/BgEbDAWo1n""",2318,7030,2016-09-17 20:32:33,[],[],0,0
3196,"""776851369659543552""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",4351,18369,2016-09-16 18:32:54,[],[#Amsterdambeautiful],1,0
3197,"""776850792980414464""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",1982,6330,2016-09-16 18:30:36,[],[],0,0
3198,"""776706212368756736""","""Shah Rukh Khan""",iamsrk,"""Such hardwork and ur video made me nostalgic ...",2532,7962,2016-09-16 08:56:06,[],[],0,0
3199,"""776704899887329280""","""Ahmed Sher Zaman""",ahmedzaman94,"""@SRK_FC https://t.co/aKOSk3iKyp\nCheck out th...",1263,3446,2016-09-16 08:50:53,"[@SRK_FC, @iamsrk]","[#SRK""]",1,2

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,"""Need to go now. Nice having a chat with u all...",4432,40569,[],[],0,0,2020-01-22,11:40:34
1,"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,"""My thoughts exactly... https://t.co/XLjMeBCvSw""",1159,6507,[],[],0,0,2020-01-22,11:35:51
2,"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,"""Don’t let any negativity uninspire you in you...",1956,10759,[],[],0,0,2020-01-22,11:29:44
3,"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,"""30 saal ki mehnat mein padega. https://t.co/Y...",4242,28664,[],[],0,0,2020-01-22,11:24:16
4,"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,"""Sardi https://t.co/n8es8mo06i""",1322,8907,[],[],0,0,2020-01-22,11:15:27
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""777243869708640256""","""Shah Rukh Khan""",iamsrk,"""U killed me!!! https://t.co/BgEbDAWo1n""",2318,7030,[],[],0,0,2016-09-17,20:32:33
3196,"""776851369659543552""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",4351,18369,[],[#Amsterdambeautiful],1,0,2016-09-16,18:32:54
3197,"""776850792980414464""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",1982,6330,[],[],0,0,2016-09-16,18:30:36
3198,"""776706212368756736""","""Shah Rukh Khan""",iamsrk,"""Such hardwork and ur video made me nostalgic ...",2532,7962,[],[],0,0,2016-09-16,08:56:06
3199,"""776704899887329280""","""Ahmed Sher Zaman""",ahmedzaman94,"""@SRK_FC https://t.co/aKOSk3iKyp\nCheck out th...",1263,3446,"[@SRK_FC, @iamsrk]","[#SRK""]",1,2,2016-09-16,08:50:53

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/ShahRukhKhanImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1218059544040894464""","""1218059533135704065""",https://pbs.twimg.com/media/EOdqsRvU8AEDGEJ.jpg,https://t.co/1k9NqjB65J
1,"""1217853383840690176""","""1217853356594479104""",https://pbs.twimg.com/media/EOavLORUwAAtRST.jpg,https://t.co/RQUi0854PZ
2,"""1212159468806365184""","""1212159460182872065""",https://pbs.twimg.com/media/ENJ0m1NUUAEq7h1.jpg,https://t.co/IJr82PrQuF
3,"""1210171181313081345""","""1210171170512756738""",https://pbs.twimg.com/media/EMtkRI_U4AI5y8l.jpg,https://t.co/63UlovdXwR
4,"""1205053726882324480""","""1205053718162362369""",https://pbs.twimg.com/media/ELk1-NZU0AE_8Ca.jpg,https://t.co/TK9ETgJ1BB
...,...,...,...,...
440,"""781152533091868672""","""781152526875983873""",https://pbs.twimg.com/media/Ctc2FZ_XgAEJcZL.jpg,https://t.co/JZwbnkLaHy
441,"""780361001963315200""","""780360994103123969""",https://pbs.twimg.com/media/CtRmMIoWYAEWMcd.jpg,https://t.co/xr65jn4rcn
442,"""779789930776129537""","""779789924950093824""",https://pbs.twimg.com/media/CtJeziQUMAAhzXZ.jpg,https://t.co/31zvPv7x2P
443,"""778752577982779392""","""778752572513484800""",https://pbs.twimg.com/media/Cs6vVrSWgAAilLS.jpg,https://t.co/uzbcL4BycJ
444,"""776851369659543552""","""776851353456873472""",https://pbs.twimg.com/media/CsfuMKYUEAAOH0i.jpg,https://t.co/YxKzfJEJ1u

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (445, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (445, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1218059544040894464"  Image added
1    "1217853383840690176"  Image added
2    "1212159468806365184"  Image added
3    "1210171181313081345"  Image added
4    "1205053726882324480"  Image added
..                     ...          ...
440   "781152533091868672"  Image added
441   "780361001963315200"  Image added
442   "779789930776129537"  Image added
443   "778752577982779392"  Image added
444   "776851369659543552"  Image added

[445 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,"""Need to go now. Nice having a chat with u all...",4432,40569,[],[],0,0,2020-01-22,11:40:34,NaN
1,"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,"""My thoughts exactly... https://t.co/XLjMeBCvSw""",1159,6507,[],[],0,0,2020-01-22,11:35:51,NaN
2,"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,"""Don’t let any negativity uninspire you in you...",1956,10759,[],[],0,0,2020-01-22,11:29:44,NaN
3,"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,"""30 saal ki mehnat mein padega. https://t.co/Y...",4242,28664,[],[],0,0,2020-01-22,11:24:16,NaN
4,"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,"""Sardi https://t.co/n8es8mo06i""",1322,8907,[],[],0,0,2020-01-22,11:15:27,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,"""777243869708640256""","""Shah Rukh Khan""",iamsrk,"""U killed me!!! https://t.co/BgEbDAWo1n""",2318,7030,[],[],0,0,2016-09-17,20:32:33,NaN
3225,"""776851369659543552""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",4351,18369,[],[#Amsterdambeautiful],1,0,2016-09-16,18:32:54,Image added
3226,"""776850792980414464""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",1982,6330,[],[],0,0,2016-09-16,18:30:36,NaN
3227,"""776706212368756736""","""Shah Rukh Khan""",iamsrk,"""Such hardwork and ur video made me nostalgic ...",2532,7962,[],[],0,0,2016-09-16,08:56:06,NaN
3228,"""776704899887329280""","""Ahmed Sher Zaman""",ahmedzaman94,"""@SRK_FC https://t.co/aKOSk3iKyp\nCheck out th...",1263,3446,"[@SRK_FC, @iamsrk]","[#SRK""]",1,2,2016-09-16,08:50:53,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/ShahRukhKhanVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219906831302189057""","""1219906431333339136""",https://video.twimg.com/ext_tw_video/121990643...,https://t.co/MtS2QjhNy3
1,"""1198239609286610948""","""1198239234005467137""",https://video.twimg.com/ext_tw_video/119823923...,https://t.co/RaeORuu4sI
2,"""1197816030044667904""","""1197815968824586245""",https://video.twimg.com/ext_tw_video/119781596...,https://t.co/eBMplvT7N6
3,"""1196791096132558851""","""1196790916289159169""",https://video.twimg.com/ext_tw_video/119679091...,https://t.co/sAesmVOQRp
4,"""1196063963630297088""","""1196062828764860416""",https://video.twimg.com/ext_tw_video/119606282...,https://t.co/KrwjXjXdqW
...,...,...,...,...
124,"""788346344280690689""","""788346136109064192""",https://video.twimg.com/ext_tw_video/788346136...,https://t.co/VuNfdbj3dM
125,"""788070129242300416""","""788069876678086660""",https://video.twimg.com/ext_tw_video/788069876...,https://t.co/f0yPdY2dNS
126,"""781490236513583104""","""781490207346405376""",https://video.twimg.com/ext_tw_video/781490207...,https://t.co/tQH3VsWILC
127,"""781489502455857152""","""781489471506165762""",https://video.twimg.com/ext_tw_video/781489471...,https://t.co/POwMNLX753
128,"""778316675858829312""","""778316185783808000""",https://video.twimg.com/ext_tw_video/778316185...,https://t.co/dMMoQgEz2m

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (129, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (129, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1219906831302189057"  Video added
1    "1198239609286610948"  Video added
2    "1197816030044667904"  Video added
3    "1196791096132558851"  Video added
4    "1196063963630297088"  Video added
..                     ...          ...
124   "788346344280690689"  Video added
125   "788070129242300416"  Video added
126   "781490236513583104"  Video added
127   "781489502455857152"  Video added
128   "778316675858829312"  Video added

[129 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,"""Need to go now. Nice having a chat with u all...",4432,40569,[],[],0,0,2020-01-22,11:40:34,NaN,NaN
1,"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,"""My thoughts exactly... https://t.co/XLjMeBCvSw""",1159,6507,[],[],0,0,2020-01-22,11:35:51,NaN,NaN
2,"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,"""Don’t let any negativity uninspire you in you...",1956,10759,[],[],0,0,2020-01-22,11:29:44,NaN,NaN
3,"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,"""30 saal ki mehnat mein padega. https://t.co/Y...",4242,28664,[],[],0,0,2020-01-22,11:24:16,NaN,NaN
4,"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,"""Sardi https://t.co/n8es8mo06i""",1322,8907,[],[],0,0,2020-01-22,11:15:27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,"""777243869708640256""","""Shah Rukh Khan""",iamsrk,"""U killed me!!! https://t.co/BgEbDAWo1n""",2318,7030,[],[],0,0,2016-09-17,20:32:33,NaN,NaN
3225,"""776851369659543552""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",4351,18369,[],[#Amsterdambeautiful],1,0,2016-09-16,18:32:54,Image added,NaN
3226,"""776850792980414464""","""Shah Rukh Khan""",iamsrk,"""Surrounded by Masters keeping a Nightwatch. R...",1982,6330,[],[],0,0,2016-09-16,18:30:36,NaN,NaN
3227,"""776706212368756736""","""Shah Rukh Khan""",iamsrk,"""Such hardwork and ur video made me nostalgic ...",2532,7962,[],[],0,0,2016-09-16,08:56:06,NaN,NaN
3228,"""776704899887329280""","""Ahmed Sher Zaman""",ahmedzaman94,"""@SRK_FC https://t.co/aKOSk3iKyp\nCheck out th...",1263,3446,"[@SRK_FC, @iamsrk]","[#SRK""]",1,2,2016-09-16,08:50:53,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Entertainment"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3229, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,4432,40569,[],[],0,0,2020-01-22,11:40:34,-,-,Male,Entertainment
1,"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,1159,6507,[],[],0,0,2020-01-22,11:35:51,-,-,Male,Entertainment
2,"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,1956,10759,[],[],0,0,2020-01-22,11:29:44,-,-,Male,Entertainment
3,"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,4242,28664,[],[],0,0,2020-01-22,11:24:16,-,-,Male,Entertainment
4,"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,1322,8907,[],[],0,0,2020-01-22,11:15:27,-,-,Male,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,"""777243869708640256""","""Shah Rukh Khan""",iamsrk,2318,7030,[],[],0,0,2016-09-17,20:32:33,-,-,Male,Entertainment
3225,"""776851369659543552""","""Shah Rukh Khan""",iamsrk,4351,18369,[],[#Amsterdambeautiful],1,0,2016-09-16,18:32:54,Image added,-,Male,Entertainment
3226,"""776850792980414464""","""Shah Rukh Khan""",iamsrk,1982,6330,[],[],0,0,2016-09-16,18:30:36,-,-,Male,Entertainment
3227,"""776706212368756736""","""Shah Rukh Khan""",iamsrk,2532,7962,[],[],0,0,2016-09-16,08:56:06,-,-,Male,Entertainment
3228,"""776704899887329280""","""Ahmed Sher Zaman""",ahmedzaman94,1263,3446,"[@SRK_FC, @iamsrk]","[#SRK""]",1,2,2016-09-16,08:50:53,-,-,Male,Entertainment

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3229, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1219947963964723205""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,40569,4432,-,-,2020-01-22,11:40:34
"""1219946775756165125""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,6507,1159,-,-,2020-01-22,11:35:51
"""1219945237159612416""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,10759,1956,-,-,2020-01-22,11:29:44
"""1219943862157766656""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,28664,4242,-,-,2020-01-22,11:24:16
"""1219941641206648832""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,8907,1322,-,-,2020-01-22,11:15:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""777243869708640256""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,7030,2318,-,-,2016-09-17,20:32:33
"""776851369659543552""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[#Amsterdambeautiful],1,[],0,18369,4351,Image added,-,2016-09-16,18:32:54
"""776850792980414464""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,6330,1982,-,-,2016-09-16,18:30:36
"""776706212368756736""","""Shah Rukh Khan""",iamsrk,Male,Entertainment,[],0,[],0,7962,2532,-,-,2016-09-16,08:56:06
"""776704899887329280""","""Ahmed Sher Zaman""",ahmedzaman94,Male,Entertainment,"[#SRK""]",1,"[@SRK_FC, @iamsrk]",2,3446,1263,-,-,2016-09-16,08:50:53

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/ShahRukhKhan_df.csv')