##### ===================================================================================================================

#  Taylor Swift Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/TaylorSwiftTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1239670332958674944""",https://twitter.com/taylorswift13/status/12396...,2020-03-16 21:50:13,"""For Meredith, self quarantining is a way of l...",Tweet,Twitter for iPhone,27242,142398,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
1,"""1237360590110294016""",https://twitter.com/taylorswift13/status/12373...,2020-03-10 12:52:08,"""No one:\n\nAbsolutely no one:\n\nMe: here’s m...",Tweet,Twitter for iPhone,17683,123611,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
2,"""1236339640656973825""",https://twitter.com/taylorswift13/status/12363...,2020-03-07 17:15:15,"""In honor of International Women’s Day, I chan...",Tweet,Twitter for iPhone,13064,85267,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
3,"""1235917883726852098""",https://twitter.com/taylorswift13/status/12359...,2020-03-06 13:19:20,"""The Man Behind The Scenes - Becoming The Man ...",Tweet,Twitter for iPhone,11086,69057,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
4,"""1234937694121287684""",https://twitter.com/taylorswift13/status/12349...,2020-03-03 20:24:24,"""My heart is with everyone in Tennessee who ha...",Tweet,Twitter for iPhone,14762,152138,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,"""900923703424413696""",https://twitter.com/taylorswift13/status/90092...,2017-08-25 03:32:03,"""New single #LookWhatYouMadeMeDo out now. Pre-...",Tweet,Twitter for iPhone,64327,165550,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
429,"""900399489126629377""",https://twitter.com/taylorswift13/status/90039...,2017-08-23 16:49:01,"""https://t.co/xMBBukfZPs""",Tweet,Twitter for iPhone,155106,375755,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
430,"""900357555289034752""",https://twitter.com/taylorswift13/status/90035...,2017-08-23 14:02:23,"""https://t.co/xqhhDZ0y7c""",Tweet,Twitter for iPhone,53426,172596,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
431,"""900010249163112450""",https://twitter.com/taylorswift13/status/90001...,2017-08-22 15:02:19,"""https://t.co/12Rfi8bso4""",Tweet,Twitter for iPhone,48701,157628,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected
432,"""899647503859032065""",https://twitter.com/taylorswift13/status/89964...,2017-08-21 15:00:54,"""https://t.co/p2DyY0e2M3""",Tweet,Twitter for iPhone,72530,210733,"""17919972""","""Taylor Swift""",taylorswift13,Verified,https://twitter.com/taylorswift13,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (433, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (433, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1239670332958674944""","""Taylor Swift""",taylorswift13,"""For Meredith, self quarantining is a way of l...",27242,142398,2020-03-16 21:50:13
1,"""1237360590110294016""","""Taylor Swift""",taylorswift13,"""No one:\n\nAbsolutely no one:\n\nMe: here’s m...",17683,123611,2020-03-10 12:52:08
2,"""1236339640656973825""","""Taylor Swift""",taylorswift13,"""In honor of International Women’s Day, I chan...",13064,85267,2020-03-07 17:15:15
3,"""1235917883726852098""","""Taylor Swift""",taylorswift13,"""The Man Behind The Scenes - Becoming The Man ...",11086,69057,2020-03-06 13:19:20
4,"""1234937694121287684""","""Taylor Swift""",taylorswift13,"""My heart is with everyone in Tennessee who ha...",14762,152138,2020-03-03 20:24:24

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1239670332958674944""","""Taylor Swift""",taylorswift13,"""For Meredith, self quarantining is a way of l...",27242,142398,2020-03-16 21:50:13,[],[#QuarantineCats],1,0
1,"""1237360590110294016""","""Taylor Swift""",taylorswift13,"""No one:\n\nAbsolutely no one:\n\nMe: here’s m...",17683,123611,2020-03-10 12:52:08,[],[],0,0
2,"""1236339640656973825""","""Taylor Swift""",taylorswift13,"""In honor of International Women’s Day, I chan...",13064,85267,2020-03-07 17:15:15,[@AppleMusic],[],0,1
3,"""1235917883726852098""","""Taylor Swift""",taylorswift13,"""The Man Behind The Scenes - Becoming The Man ...",11086,69057,2020-03-06 13:19:20,[],[],0,0
4,"""1234937694121287684""","""Taylor Swift""",taylorswift13,"""My heart is with everyone in Tennessee who ha...",14762,152138,2020-03-03 20:24:24,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
428,"""900923703424413696""","""Taylor Swift""",taylorswift13,"""New single #LookWhatYouMadeMeDo out now. Pre-...",64327,165550,2017-08-25 03:32:03,[],"[#LookWhatYouMadeMeDo, #reputation:]",2,0
429,"""900399489126629377""","""Taylor Swift""",taylorswift13,"""https://t.co/xMBBukfZPs""",155106,375755,2017-08-23 16:49:01,[],[],0,0
430,"""900357555289034752""","""Taylor Swift""",taylorswift13,"""https://t.co/xqhhDZ0y7c""",53426,172596,2017-08-23 14:02:23,[],[],0,0
431,"""900010249163112450""","""Taylor Swift""",taylorswift13,"""https://t.co/12Rfi8bso4""",48701,157628,2017-08-22 15:02:19,[],[],0,0
432,"""899647503859032065""","""Taylor Swift""",taylorswift13,"""https://t.co/p2DyY0e2M3""",72530,210733,2017-08-21 15:00:54,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (433, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1239670332958674944""","""Taylor Swift""",taylorswift13,"""For Meredith, self quarantining is a way of l...",27242,142398,[],[#QuarantineCats],1,0,2020-03-16,21:50:13
1,"""1237360590110294016""","""Taylor Swift""",taylorswift13,"""No one:\n\nAbsolutely no one:\n\nMe: here’s m...",17683,123611,[],[],0,0,2020-03-10,12:52:08
2,"""1236339640656973825""","""Taylor Swift""",taylorswift13,"""In honor of International Women’s Day, I chan...",13064,85267,[@AppleMusic],[],0,1,2020-03-07,17:15:15
3,"""1235917883726852098""","""Taylor Swift""",taylorswift13,"""The Man Behind The Scenes - Becoming The Man ...",11086,69057,[],[],0,0,2020-03-06,13:19:20
4,"""1234937694121287684""","""Taylor Swift""",taylorswift13,"""My heart is with everyone in Tennessee who ha...",14762,152138,[],[],0,0,2020-03-03,20:24:24
...,...,...,...,...,...,...,...,...,...,...,...,...
428,"""900923703424413696""","""Taylor Swift""",taylorswift13,"""New single #LookWhatYouMadeMeDo out now. Pre-...",64327,165550,[],"[#LookWhatYouMadeMeDo, #reputation:]",2,0,2017-08-25,03:32:03
429,"""900399489126629377""","""Taylor Swift""",taylorswift13,"""https://t.co/xMBBukfZPs""",155106,375755,[],[],0,0,2017-08-23,16:49:01
430,"""900357555289034752""","""Taylor Swift""",taylorswift13,"""https://t.co/xqhhDZ0y7c""",53426,172596,[],[],0,0,2017-08-23,14:02:23
431,"""900010249163112450""","""Taylor Swift""",taylorswift13,"""https://t.co/12Rfi8bso4""",48701,157628,[],[],0,0,2017-08-22,15:02:19
432,"""899647503859032065""","""Taylor Swift""",taylorswift13,"""https://t.co/p2DyY0e2M3""",72530,210733,[],[],0,0,2017-08-21,15:00:54

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/TaylorSwiftImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1239670332958674944""","""1239670327401222144""",https://pbs.twimg.com/media/ETQxmD9XkAAzquw.jpg,https://t.co/yEHJ5c5oFi
1,"""1233213339607719936""","""1233213332288610309""",https://pbs.twimg.com/media/ER1A_etWoAU1w8W.jpg,https://t.co/I8rf5D3xwE
2,"""1233213339607719936""","""1233213332297076736""",https://pbs.twimg.com/media/ER1A_evX0AA1dF0.jpg,https://t.co/I8rf5D3xwE
3,"""1233213339607719936""","""1233213332296994816""",https://pbs.twimg.com/media/ER1A_evWkAAIRoY.jpg,https://t.co/I8rf5D3xwE
4,"""1233182852092694533""","""1233182844962377728""",https://pbs.twimg.com/media/ER0lQ4kWkAAclQv.jpg,https://t.co/c7hLxu4Keq
...,...,...,...,...
508,"""926063770853625856""","""926063764868423680""",https://pbs.twimg.com/media/DNoKFnBX4AAOEGO.jpg,https://t.co/nTmlQUzmFN
509,"""911035661876113408""","""911035659497897984""",https://pbs.twimg.com/media/DKSmGv4WAAAhK_7.jpg,https://t.co/Bm317v6fib
510,"""900399489126629377""","""900399464996786176""",https://pbs.twimg.com/media/DH7civsV0AAEPzw.jpg,https://t.co/xMBBukfZPs
511,"""900399489126629377""","""900399465005174785""",https://pbs.twimg.com/media/DH7civuV0AEq1qN.jpg,https://t.co/xMBBukfZPs
512,"""900399489126629377""","""900399465005064193""",https://pbs.twimg.com/media/DH7civuUIAEsIZx.jpg,https://t.co/xMBBukfZPs

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (513, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (513, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1239670332958674944"  Image added
1    "1233213339607719936"  Image added
2    "1233213339607719936"  Image added
3    "1233213339607719936"  Image added
4    "1233182852092694533"  Image added
..                     ...          ...
508   "926063770853625856"  Image added
509   "911035661876113408"  Image added
510   "900399489126629377"  Image added
511   "900399489126629377"  Image added
512   "900399489126629377"  Image added

[513 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1239670332958674944""","""Taylor Swift""",taylorswift13,"""For Meredith, self quarantining is a way of l...",27242,142398,[],[#QuarantineCats],1,0,2020-03-16,21:50:13,Image added
1,"""1237360590110294016""","""Taylor Swift""",taylorswift13,"""No one:\n\nAbsolutely no one:\n\nMe: here’s m...",17683,123611,[],[],0,0,2020-03-10,12:52:08,NaN
2,"""1236339640656973825""","""Taylor Swift""",taylorswift13,"""In honor of International Women’s Day, I chan...",13064,85267,[@AppleMusic],[],0,1,2020-03-07,17:15:15,NaN
3,"""1235917883726852098""","""Taylor Swift""",taylorswift13,"""The Man Behind The Scenes - Becoming The Man ...",11086,69057,[],[],0,0,2020-03-06,13:19:20,NaN
4,"""1234937694121287684""","""Taylor Swift""",taylorswift13,"""My heart is with everyone in Tennessee who ha...",14762,152138,[],[],0,0,2020-03-03,20:24:24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,"""900399489126629377""","""Taylor Swift""",taylorswift13,"""https://t.co/xMBBukfZPs""",155106,375755,[],[],0,0,2017-08-23,16:49:01,Image added
707,"""900399489126629377""","""Taylor Swift""",taylorswift13,"""https://t.co/xMBBukfZPs""",155106,375755,[],[],0,0,2017-08-23,16:49:01,Image added
708,"""900357555289034752""","""Taylor Swift""",taylorswift13,"""https://t.co/xqhhDZ0y7c""",53426,172596,[],[],0,0,2017-08-23,14:02:23,NaN
709,"""900010249163112450""","""Taylor Swift""",taylorswift13,"""https://t.co/12Rfi8bso4""",48701,157628,[],[],0,0,2017-08-22,15:02:19,NaN
710,"""899647503859032065""","""Taylor Swift""",taylorswift13,"""https://t.co/p2DyY0e2M3""",72530,210733,[],[],0,0,2017-08-21,15:00:54,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/TaylorSwiftVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1237360590110294016""","""1237360553963782144""",https://video.twimg.com/ext_tw_video/123736055...,https://t.co/iCvBjThn0d
1,"""1235917883726852098""","""1235917833743282176""",https://video.twimg.com/ext_tw_video/123591783...,https://t.co/ptVjh4xQCZ
2,"""1232652348209664001""","""1232649503469162497""",https://video.twimg.com/amplify_video/12326495...,https://t.co/OJmaYDbsOo
3,"""1229637685599522816""","""1229625249878159360""",https://video.twimg.com/amplify_video/12296252...,https://t.co/8lFwIRI79U
4,"""1227393494399909888""","""1227391976560967680""",https://video.twimg.com/amplify_video/12273919...,https://t.co/FYERIN0Ip3
...,...,...,...,...
96,"""901050847043497984""","""901050754957418496""",https://video.twimg.com/ext_tw_video/901050754...,https://t.co/tjAxr8qdsY
97,"""900923703424413696""","""900923659153543168""",https://video.twimg.com/ext_tw_video/900923659...,https://t.co/Tcni9yIgs2
98,"""900357555289034752""","""900357521642209281""",https://video.twimg.com/ext_tw_video/900357521...,https://t.co/xqhhDZ0y7c
99,"""900010249163112450""","""900010093168799744""",https://video.twimg.com/ext_tw_video/900010093...,https://t.co/12Rfi8bso4
100,"""899647503859032065""","""899647461844590592""",https://video.twimg.com/ext_tw_video/899647461...,https://t.co/p2DyY0e2M3

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (101, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (101, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1237360590110294016"  Video added
1    "1235917883726852098"  Video added
2    "1232652348209664001"  Video added
3    "1229637685599522816"  Video added
4    "1227393494399909888"  Video added
..                     ...          ...
96    "901050847043497984"  Video added
97    "900923703424413696"  Video added
98    "900357555289034752"  Video added
99    "900010249163112450"  Video added
100   "899647503859032065"  Video added

[101 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1239670332958674944""","""Taylor Swift""",taylorswift13,"""For Meredith, self quarantining is a way of l...",27242,142398,[],[#QuarantineCats],1,0,2020-03-16,21:50:13,Image added,NaN
1,"""1237360590110294016""","""Taylor Swift""",taylorswift13,"""No one:\n\nAbsolutely no one:\n\nMe: here’s m...",17683,123611,[],[],0,0,2020-03-10,12:52:08,NaN,Video added
2,"""1236339640656973825""","""Taylor Swift""",taylorswift13,"""In honor of International Women’s Day, I chan...",13064,85267,[@AppleMusic],[],0,1,2020-03-07,17:15:15,NaN,NaN
3,"""1235917883726852098""","""Taylor Swift""",taylorswift13,"""The Man Behind The Scenes - Becoming The Man ...",11086,69057,[],[],0,0,2020-03-06,13:19:20,NaN,Video added
4,"""1234937694121287684""","""Taylor Swift""",taylorswift13,"""My heart is with everyone in Tennessee who ha...",14762,152138,[],[],0,0,2020-03-03,20:24:24,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,"""900399489126629377""","""Taylor Swift""",taylorswift13,"""https://t.co/xMBBukfZPs""",155106,375755,[],[],0,0,2017-08-23,16:49:01,Image added,NaN
707,"""900399489126629377""","""Taylor Swift""",taylorswift13,"""https://t.co/xMBBukfZPs""",155106,375755,[],[],0,0,2017-08-23,16:49:01,Image added,NaN
708,"""900357555289034752""","""Taylor Swift""",taylorswift13,"""https://t.co/xqhhDZ0y7c""",53426,172596,[],[],0,0,2017-08-23,14:02:23,NaN,Video added
709,"""900010249163112450""","""Taylor Swift""",taylorswift13,"""https://t.co/12Rfi8bso4""",48701,157628,[],[],0,0,2017-08-22,15:02:19,NaN,Video added
710,"""899647503859032065""","""Taylor Swift""",taylorswift13,"""https://t.co/p2DyY0e2M3""",72530,210733,[],[],0,0,2017-08-21,15:00:54,NaN,Video added

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (711, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1239670332958674944""","""Taylor Swift""",taylorswift13,27242,142398,[],[#QuarantineCats],1,0,2020-03-16,21:50:13,Image added,-,Female,Music
1,"""1237360590110294016""","""Taylor Swift""",taylorswift13,17683,123611,[],[],0,0,2020-03-10,12:52:08,-,Video added,Female,Music
2,"""1236339640656973825""","""Taylor Swift""",taylorswift13,13064,85267,[@AppleMusic],[],0,1,2020-03-07,17:15:15,-,-,Female,Music
3,"""1235917883726852098""","""Taylor Swift""",taylorswift13,11086,69057,[],[],0,0,2020-03-06,13:19:20,-,Video added,Female,Music
4,"""1234937694121287684""","""Taylor Swift""",taylorswift13,14762,152138,[],[],0,0,2020-03-03,20:24:24,-,-,Female,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,"""900399489126629377""","""Taylor Swift""",taylorswift13,155106,375755,[],[],0,0,2017-08-23,16:49:01,Image added,-,Female,Music
707,"""900399489126629377""","""Taylor Swift""",taylorswift13,155106,375755,[],[],0,0,2017-08-23,16:49:01,Image added,-,Female,Music
708,"""900357555289034752""","""Taylor Swift""",taylorswift13,53426,172596,[],[],0,0,2017-08-23,14:02:23,-,Video added,Female,Music
709,"""900010249163112450""","""Taylor Swift""",taylorswift13,48701,157628,[],[],0,0,2017-08-22,15:02:19,-,Video added,Female,Music
710,"""899647503859032065""","""Taylor Swift""",taylorswift13,72530,210733,[],[],0,0,2017-08-21,15:00:54,-,Video added,Female,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (711, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1239670332958674944""","""Taylor Swift""",taylorswift13,Female,Music,[#QuarantineCats],1,[],0,142398,27242,Image added,-,2020-03-16,21:50:13
"""1237360590110294016""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,123611,17683,-,Video added,2020-03-10,12:52:08
"""1236339640656973825""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[@AppleMusic],1,85267,13064,-,-,2020-03-07,17:15:15
"""1235917883726852098""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,69057,11086,-,Video added,2020-03-06,13:19:20
"""1234937694121287684""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,152138,14762,-,-,2020-03-03,20:24:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""900399489126629377""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,375755,155106,Image added,-,2017-08-23,16:49:01
"""900399489126629377""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,375755,155106,Image added,-,2017-08-23,16:49:01
"""900357555289034752""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,172596,53426,-,Video added,2017-08-23,14:02:23
"""900010249163112450""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,157628,48701,-,Video added,2017-08-22,15:02:19
"""899647503859032065""","""Taylor Swift""",taylorswift13,Female,Music,[],0,[],0,210733,72530,-,Video added,2017-08-21,15:00:54

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/TaylorSwift_df.csv')