##### ===================================================================================================================

#  The Ellen Show Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/TheEllenShowTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220160518394015744""",https://twitter.com/theellenshow/status/122016...,2020-01-23 01:45:11,"""Didn’t get to see my show today? You can watc...",Tweet,Twitter Web App,83,1221,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
1,"""1220144486359027712""",https://twitter.com/theellenshow/status/122014...,2020-01-23 00:41:29,"""My staff’s #TheBachelor Recap is really juicy...",Tweet,Twitter Web App,36,808,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
2,"""1220108865972260866""",https://twitter.com/theellenshow/status/122010...,2020-01-22 22:19:56,"""For those of you with your TVs on who are fee...",Tweet,Twitter Media Studio,590,8082,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
3,"""1220093866948214784""",https://twitter.com/theellenshow/status/122009...,2020-01-22 21:20:20,""".@NikkieTutorials is one of the most popular ...",Tweet,Twitter Media Studio,840,7990,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
4,"""1220072534076346369""",https://twitter.com/theellenshow/status/122007...,2020-01-22 19:55:34,"""For a lot of my staff, the 3-day weekend real...",Tweet,Twitter Media Studio,153,1813,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1063157548088360960""",https://twitter.com/theellenshow/status/106315...,2018-11-15 19:51:26,""".@MichelleObama told a hilarious story about ...",Tweet,Twitter Web Client,409,3035,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
3196,"""1063152461362290688""",https://twitter.com/theellenshow/status/106315...,2018-11-15 19:31:13,""".@KaceyMusgraves won Album of the Year at the...",Tweet,Twitter Web Client,118,1929,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
3197,"""1063148880353669122""",https://twitter.com/theellenshow/status/106314...,2018-11-15 19:17:00,"""Congratulations, @KeithUrban! #CMAs Entertain...",Tweet,Twitter Web Client,173,2413,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
3198,"""1063136353448222720""",https://twitter.com/theellenshow/status/106313...,2018-11-15 18:27:13,"""Without a doubt, my favorite Costco run of al...",Tweet,Media Studio,4012,23829,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected
3199,"""1063123541485248512""",https://twitter.com/theellenshow/status/106312...,2018-11-15 17:36:18,""".@MichelleObama told me about alllll the men....",Tweet,Media Studio,662,5864,"""15846407""","""Ellen DeGeneres""",theellenshow,Verified,https://twitter.com/theellenshow,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,"""Didn’t get to see my show today? You can watc...",83,1221,2020-01-23 01:45:11
1,"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,"""My staff’s #TheBachelor Recap is really juicy...",36,808,2020-01-23 00:41:29
2,"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,"""For those of you with your TVs on who are fee...",590,8082,2020-01-22 22:19:56
3,"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,""".@NikkieTutorials is one of the most popular ...",840,7990,2020-01-22 21:20:20
4,"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,"""For a lot of my staff, the 3-day weekend real...",153,1813,2020-01-22 19:55:34

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,"""Didn’t get to see my show today? You can watc...",83,1221,2020-01-23 01:45:11,[],[],0,0
1,"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,"""My staff’s #TheBachelor Recap is really juicy...",36,808,2020-01-23 00:41:29,[],[#TheBachelor],1,0
2,"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,"""For those of you with your TVs on who are fee...",590,8082,2020-01-22 22:19:56,[],[],0,0
3,"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,""".@NikkieTutorials is one of the most popular ...",840,7990,2020-01-22 21:20:20,[@NikkieTutorials],[],0,1
4,"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,"""For a lot of my staff, the 3-day weekend real...",153,1813,2020-01-22 19:55:34,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1063157548088360960""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told a hilarious story about ...",409,3035,2018-11-15 19:51:26,[@MichelleObama],[],0,1
3196,"""1063152461362290688""","""Ellen DeGeneres""",theellenshow,""".@KaceyMusgraves won Album of the Year at the...",118,1929,2018-11-15 19:31:13,[@KaceyMusgraves],[#CMAawards!],1,1
3197,"""1063148880353669122""","""Ellen DeGeneres""",theellenshow,"""Congratulations, @KeithUrban! #CMAs Entertain...",173,2413,2018-11-15 19:17:00,[@KeithUrban!],[#CMAs],1,1
3198,"""1063136353448222720""","""Ellen DeGeneres""",theellenshow,"""Without a doubt, my favorite Costco run of al...",4012,23829,2018-11-15 18:27:13,[@MichelleObama.],[#IAmBecoming],1,1
3199,"""1063123541485248512""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told me about alllll the men....",662,5864,2018-11-15 17:36:18,[@MichelleObama],[#IAmBecoming],1,1

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,"""Didn’t get to see my show today? You can watc...",83,1221,[],[],0,0,2020-01-23,01:45:11
1,"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,"""My staff’s #TheBachelor Recap is really juicy...",36,808,[],[#TheBachelor],1,0,2020-01-23,00:41:29
2,"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,"""For those of you with your TVs on who are fee...",590,8082,[],[],0,0,2020-01-22,22:19:56
3,"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,""".@NikkieTutorials is one of the most popular ...",840,7990,[@NikkieTutorials],[],0,1,2020-01-22,21:20:20
4,"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,"""For a lot of my staff, the 3-day weekend real...",153,1813,[],[],0,0,2020-01-22,19:55:34
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1063157548088360960""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told a hilarious story about ...",409,3035,[@MichelleObama],[],0,1,2018-11-15,19:51:26
3196,"""1063152461362290688""","""Ellen DeGeneres""",theellenshow,""".@KaceyMusgraves won Album of the Year at the...",118,1929,[@KaceyMusgraves],[#CMAawards!],1,1,2018-11-15,19:31:13
3197,"""1063148880353669122""","""Ellen DeGeneres""",theellenshow,"""Congratulations, @KeithUrban! #CMAs Entertain...",173,2413,[@KeithUrban!],[#CMAs],1,1,2018-11-15,19:17:00
3198,"""1063136353448222720""","""Ellen DeGeneres""",theellenshow,"""Without a doubt, my favorite Costco run of al...",4012,23829,[@MichelleObama.],[#IAmBecoming],1,1,2018-11-15,18:27:13
3199,"""1063123541485248512""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told me about alllll the men....",662,5864,[@MichelleObama],[#IAmBecoming],1,1,2018-11-15,17:36:18

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/TheEllenShowImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219316935847858177""","""1219316196056551424""",https://pbs.twimg.com/media/EOvhnr7U0AAAMGQ.jpg,https://t.co/AvB6qpaJT3
1,"""1218343607679078401""","""1218236909782065152""",https://pbs.twimg.com/media/EOgMA9PUYAAudSv.jpg,https://t.co/4UAJXFaNo2
2,"""1218293168132640769""","""1218293148918501376""",https://pbs.twimg.com/media/EOg_KgWUUAAEWxk.jpg,https://t.co/EkWOAw1NnX
3,"""1218293168132640769""","""1218293148918566912""",https://pbs.twimg.com/media/EOg_KgWVUAAAgia.jpg,https://t.co/EkWOAw1NnX
4,"""1216415882282274816""","""1215747543746801664""",https://pbs.twimg.com/media/EN8z8yGU8AAPOoZ.jpg,https://t.co/WEAQImeyrC
...,...,...,...,...
255,"""1065042792437579778""","""1065042463855767553""",https://pbs.twimg.com/media/DsfKemDUcAElirl.jpg,https://t.co/cAa4qBSU6E
256,"""1065027294094221313""","""1065025966626357248""",https://pbs.twimg.com/media/Dse7eVFUwAAJnbP.jpg,https://t.co/P8T8eKM2Hz
257,"""1064689973784326144""","""1064689896613277696""",https://pbs.twimg.com/media/DsaJ0euU8AAd7Lu.jpg,https://t.co/hHiaSQPgQM
258,"""1063890911455662081""","""1063889853459267584""",https://pbs.twimg.com/media/DsOyL1uVAAA6FcN.jpg,https://t.co/q1g7oONV9w
259,"""1063501275805806592""","""1063501139000221696""",https://pbs.twimg.com/media/DsJQprhU4AAxFY9.jpg,https://t.co/HIOxaHED5V

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (260, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (260, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1219316935847858177"  Image added
1    "1218343607679078401"  Image added
2    "1218293168132640769"  Image added
3    "1218293168132640769"  Image added
4    "1216415882282274816"  Image added
..                     ...          ...
255  "1065042792437579778"  Image added
256  "1065027294094221313"  Image added
257  "1064689973784326144"  Image added
258  "1063890911455662081"  Image added
259  "1063501275805806592"  Image added

[260 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,"""Didn’t get to see my show today? You can watc...",83,1221,[],[],0,0,2020-01-23,01:45:11,NaN
1,"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,"""My staff’s #TheBachelor Recap is really juicy...",36,808,[],[#TheBachelor],1,0,2020-01-23,00:41:29,NaN
2,"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,"""For those of you with your TVs on who are fee...",590,8082,[],[],0,0,2020-01-22,22:19:56,NaN
3,"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,""".@NikkieTutorials is one of the most popular ...",840,7990,[@NikkieTutorials],[],0,1,2020-01-22,21:20:20,NaN
4,"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,"""For a lot of my staff, the 3-day weekend real...",153,1813,[],[],0,0,2020-01-22,19:55:34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,"""1063157548088360960""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told a hilarious story about ...",409,3035,[@MichelleObama],[],0,1,2018-11-15,19:51:26,NaN
3211,"""1063152461362290688""","""Ellen DeGeneres""",theellenshow,""".@KaceyMusgraves won Album of the Year at the...",118,1929,[@KaceyMusgraves],[#CMAawards!],1,1,2018-11-15,19:31:13,NaN
3212,"""1063148880353669122""","""Ellen DeGeneres""",theellenshow,"""Congratulations, @KeithUrban! #CMAs Entertain...",173,2413,[@KeithUrban!],[#CMAs],1,1,2018-11-15,19:17:00,NaN
3213,"""1063136353448222720""","""Ellen DeGeneres""",theellenshow,"""Without a doubt, my favorite Costco run of al...",4012,23829,[@MichelleObama.],[#IAmBecoming],1,1,2018-11-15,18:27:13,NaN
3214,"""1063123541485248512""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told me about alllll the men....",662,5864,[@MichelleObama],[#IAmBecoming],1,1,2018-11-15,17:36:18,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/TheEllenShowVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220108865972260866""","""1220053629740019712""",https://video.twimg.com/amplify_video/12200536...,https://t.co/raYZpLpQeW
1,"""1220093866948214784""","""1220050258157113344""",https://video.twimg.com/amplify_video/12200502...,https://t.co/GSAqV3Nl7N
2,"""1220072534076346369""","""1220048555089387520""",https://video.twimg.com/amplify_video/12200485...,https://t.co/UDh6d3W85g
3,"""1220039587956805632""","""1220036511732658176""",https://video.twimg.com/amplify_video/12200365...,https://t.co/ApqYJvsCbz
4,"""1219799422831185920""","""1219740534618480640""",https://video.twimg.com/tweet_video/EO1jjcQUYA...,https://t.co/6puQ5n0UDV
...,...,...,...,...
1298,"""1063197353832640515""","""1063120309786619904""",https://video.twimg.com/amplify_video/10631203...,https://t.co/CnwpGWxPOz
1299,"""1063176269980852224""","""1063120610069372928""",https://video.twimg.com/amplify_video/10631206...,https://t.co/OApuPislDU
1300,"""1063167590657212416""","""1063159874807201792""",https://video.twimg.com/amplify_video/10631598...,https://t.co/SjCDBTgQs0
1301,"""1063136353448222720""","""1063120461603557377""",https://video.twimg.com/amplify_video/10631204...,https://t.co/TOY77yLGgP
1302,"""1063123541485248512""","""1063122561091854336""",https://video.twimg.com/amplify_video/10631225...,https://t.co/AaEtn9HAVF

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1303, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1303, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                   Tweet Id       Videos
0     "1220108865972260866"  Video added
1     "1220093866948214784"  Video added
2     "1220072534076346369"  Video added
3     "1220039587956805632"  Video added
4     "1219799422831185920"  Video added
...                     ...          ...
1298  "1063197353832640515"  Video added
1299  "1063176269980852224"  Video added
1300  "1063167590657212416"  Video added
1301  "1063136353448222720"  Video added
1302  "1063123541485248512"  Video added

[1303 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,"""Didn’t get to see my show today? You can watc...",83,1221,[],[],0,0,2020-01-23,01:45:11,NaN,NaN
1,"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,"""My staff’s #TheBachelor Recap is really juicy...",36,808,[],[#TheBachelor],1,0,2020-01-23,00:41:29,NaN,NaN
2,"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,"""For those of you with your TVs on who are fee...",590,8082,[],[],0,0,2020-01-22,22:19:56,NaN,Video added
3,"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,""".@NikkieTutorials is one of the most popular ...",840,7990,[@NikkieTutorials],[],0,1,2020-01-22,21:20:20,NaN,Video added
4,"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,"""For a lot of my staff, the 3-day weekend real...",153,1813,[],[],0,0,2020-01-22,19:55:34,NaN,Video added
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,"""1063157548088360960""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told a hilarious story about ...",409,3035,[@MichelleObama],[],0,1,2018-11-15,19:51:26,NaN,NaN
3211,"""1063152461362290688""","""Ellen DeGeneres""",theellenshow,""".@KaceyMusgraves won Album of the Year at the...",118,1929,[@KaceyMusgraves],[#CMAawards!],1,1,2018-11-15,19:31:13,NaN,NaN
3212,"""1063148880353669122""","""Ellen DeGeneres""",theellenshow,"""Congratulations, @KeithUrban! #CMAs Entertain...",173,2413,[@KeithUrban!],[#CMAs],1,1,2018-11-15,19:17:00,NaN,NaN
3213,"""1063136353448222720""","""Ellen DeGeneres""",theellenshow,"""Without a doubt, my favorite Costco run of al...",4012,23829,[@MichelleObama.],[#IAmBecoming],1,1,2018-11-15,18:27:13,NaN,Video added
3214,"""1063123541485248512""","""Ellen DeGeneres""",theellenshow,""".@MichelleObama told me about alllll the men....",662,5864,[@MichelleObama],[#IAmBecoming],1,1,2018-11-15,17:36:18,NaN,Video added

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Organisation"

#Create an Vocation column 
Tweets_df['Vocation'] = "Entertainment"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3215, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,83,1221,[],[],0,0,2020-01-23,01:45:11,-,-,Organisation,Entertainment
1,"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,36,808,[],[#TheBachelor],1,0,2020-01-23,00:41:29,-,-,Organisation,Entertainment
2,"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,590,8082,[],[],0,0,2020-01-22,22:19:56,-,Video added,Organisation,Entertainment
3,"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,840,7990,[@NikkieTutorials],[],0,1,2020-01-22,21:20:20,-,Video added,Organisation,Entertainment
4,"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,153,1813,[],[],0,0,2020-01-22,19:55:34,-,Video added,Organisation,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,"""1063157548088360960""","""Ellen DeGeneres""",theellenshow,409,3035,[@MichelleObama],[],0,1,2018-11-15,19:51:26,-,-,Organisation,Entertainment
3211,"""1063152461362290688""","""Ellen DeGeneres""",theellenshow,118,1929,[@KaceyMusgraves],[#CMAawards!],1,1,2018-11-15,19:31:13,-,-,Organisation,Entertainment
3212,"""1063148880353669122""","""Ellen DeGeneres""",theellenshow,173,2413,[@KeithUrban!],[#CMAs],1,1,2018-11-15,19:17:00,-,-,Organisation,Entertainment
3213,"""1063136353448222720""","""Ellen DeGeneres""",theellenshow,4012,23829,[@MichelleObama.],[#IAmBecoming],1,1,2018-11-15,18:27:13,-,Video added,Organisation,Entertainment
3214,"""1063123541485248512""","""Ellen DeGeneres""",theellenshow,662,5864,[@MichelleObama],[#IAmBecoming],1,1,2018-11-15,17:36:18,-,Video added,Organisation,Entertainment

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3215, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220160518394015744""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[],0,[],0,1221,83,-,-,2020-01-23,01:45:11
"""1220144486359027712""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[#TheBachelor],1,[],0,808,36,-,-,2020-01-23,00:41:29
"""1220108865972260866""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[],0,[],0,8082,590,-,Video added,2020-01-22,22:19:56
"""1220093866948214784""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[],0,[@NikkieTutorials],1,7990,840,-,Video added,2020-01-22,21:20:20
"""1220072534076346369""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[],0,[],0,1813,153,-,Video added,2020-01-22,19:55:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1063157548088360960""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[],0,[@MichelleObama],1,3035,409,-,-,2018-11-15,19:51:26
"""1063152461362290688""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[#CMAawards!],1,[@KaceyMusgraves],1,1929,118,-,-,2018-11-15,19:31:13
"""1063148880353669122""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[#CMAs],1,[@KeithUrban!],1,2413,173,-,-,2018-11-15,19:17:00
"""1063136353448222720""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[#IAmBecoming],1,[@MichelleObama.],1,23829,4012,-,Video added,2018-11-15,18:27:13
"""1063123541485248512""","""Ellen DeGeneres""",theellenshow,Organisation,Entertainment,[#IAmBecoming],1,[@MichelleObama],1,5864,662,-,Video added,2018-11-15,17:36:18

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/TheEllenShow_df.csv')