##### ===================================================================================================================

#  Wiz Khalifa Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/WizKhalifaTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220006487021576193""",https://twitter.com/babushkabadgyal/status/122...,2020-01-22 15:33:07,"""@wizkhalifa is my coffee in the Morning. #tay...",Retweet,Twitter for Android,39,355,"""1216311347182436352""","""mhm.""",babushkabadgyal,Non-Verified,https://twitter.com/babushkabadgyal,Not Protected
1,"""1220006481254408192""",https://twitter.com/jassbabyy_/status/12200064...,2020-01-22 15:33:06,"""@wizkhalifa #taylorgang #mcqueenteam""",Retweet,Twitter for iPhone,6,91,"""2225206874""","""jas..üíô""",jassbabyy_,Non-Verified,https://twitter.com/jassbabyy_,Not Protected
2,"""1220006329621733377""",https://twitter.com/wizkhalifa/status/12200063...,2020-01-22 15:32:30,"""Make sure you guys hashtag #taylorgang &amp; ...",Tweet,Twitter for iPhone,187,1896,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected
3,"""1219996365121454081""",https://twitter.com/wizkhalifa/status/12199963...,2020-01-22 14:52:54,"""Roll something and get the day started. Clean...",Tweet,Twitter for iPhone,7345,26539,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected
4,"""1219720267980627968""",https://twitter.com/trappdann/status/121972026...,2020-01-21 20:35:47,"""somehow this first tweet i see everyday yesir...",Retweet,Twitter for iPhone,136,1229,"""2292041053""","""ü¶†""",trappdann,Non-Verified,https://twitter.com/trappdann,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""952236590964723712""",https://twitter.com/wizkhalifa/status/95223659...,2018-01-13 17:51:09,"""They gon write what they wanna write. ü§∑üèæ‚Äç‚ôÇÔ∏è h...",Tweet,Twitter Web Client,354,2208,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected
3196,"""952234480458072064""",https://twitter.com/wizkhalifa/status/95223448...,2018-01-13 17:42:46,"""Constantly in the studio. Been writing some a...",Tweet,Twitter Web Client,3627,22975,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected
3197,"""946953124723310594""",https://twitter.com/wizkhalifa/status/94695312...,2017-12-30 03:56:33,"""Happy c day @iambigbaby11 c u at the party üéâ""",Tweet,Twitter for iPhone,197,1715,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected
3198,"""944972705396166656""",https://twitter.com/wizkhalifa/status/94497270...,2017-12-24 16:47:04,"""He was pissed. https://t.co/XhQAxMXLiU""",Tweet,Twitter for iPhone,5000,20796,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected
3199,"""944619613731483648""",https://twitter.com/wizkhalifa/status/94461961...,2017-12-23 17:24:00,"""Ha. What‚Äôs poppin.""",Tweet,Twitter for iPhone,9291,25426,"""20322929""","""Wiz Khalifa""",wizkhalifa,Verified,https://twitter.com/wizkhalifa,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220006487021576193""","""mhm.""",babushkabadgyal,"""@wizkhalifa is my coffee in the Morning. #tay...",39,355,2020-01-22 15:33:07
1,"""1220006481254408192""","""jas..üíô""",jassbabyy_,"""@wizkhalifa #taylorgang #mcqueenteam""",6,91,2020-01-22 15:33:06
2,"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,"""Make sure you guys hashtag #taylorgang &amp; ...",187,1896,2020-01-22 15:32:30
3,"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,"""Roll something and get the day started. Clean...",7345,26539,2020-01-22 14:52:54
4,"""1219720267980627968""","""ü¶†""",trappdann,"""somehow this first tweet i see everyday yesir...",136,1229,2020-01-21 20:35:47

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220006487021576193""","""mhm.""",babushkabadgyal,"""@wizkhalifa is my coffee in the Morning. #tay...",39,355,2020-01-22 15:33:07,[@wizkhalifa],"[#taylorgang""]",1,1
1,"""1220006481254408192""","""jas..üíô""",jassbabyy_,"""@wizkhalifa #taylorgang #mcqueenteam""",6,91,2020-01-22 15:33:06,[@wizkhalifa],"[#taylorgang, #mcqueenteam""]",2,1
2,"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,"""Make sure you guys hashtag #taylorgang &amp; ...",187,1896,2020-01-22 15:32:30,[],"[#taylorgang, #mcqueenteam]",2,0
3,"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,"""Roll something and get the day started. Clean...",7345,26539,2020-01-22 14:52:54,[],"[#taylorgang""]",1,0
4,"""1219720267980627968""","""ü¶†""",trappdann,"""somehow this first tweet i see everyday yesir...",136,1229,2020-01-21 20:35:47,[@wizkhalifa],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""952236590964723712""","""Wiz Khalifa""",wizkhalifa,"""They gon write what they wanna write. ü§∑üèæ‚Äç‚ôÇÔ∏è h...",354,2208,2018-01-13 17:51:09,[],[],0,0
3196,"""952234480458072064""","""Wiz Khalifa""",wizkhalifa,"""Constantly in the studio. Been writing some a...",3627,22975,2018-01-13 17:42:46,[],[],0,0
3197,"""946953124723310594""","""Wiz Khalifa""",wizkhalifa,"""Happy c day @iambigbaby11 c u at the party üéâ""",197,1715,2017-12-30 03:56:33,[@iambigbaby11],[],0,1
3198,"""944972705396166656""","""Wiz Khalifa""",wizkhalifa,"""He was pissed. https://t.co/XhQAxMXLiU""",5000,20796,2017-12-24 16:47:04,[],[],0,0
3199,"""944619613731483648""","""Wiz Khalifa""",wizkhalifa,"""Ha. What‚Äôs poppin.""",9291,25426,2017-12-23 17:24:00,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220006487021576193""","""mhm.""",babushkabadgyal,"""@wizkhalifa is my coffee in the Morning. #tay...",39,355,[@wizkhalifa],"[#taylorgang""]",1,1,2020-01-22,15:33:07
1,"""1220006481254408192""","""jas..üíô""",jassbabyy_,"""@wizkhalifa #taylorgang #mcqueenteam""",6,91,[@wizkhalifa],"[#taylorgang, #mcqueenteam""]",2,1,2020-01-22,15:33:06
2,"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,"""Make sure you guys hashtag #taylorgang &amp; ...",187,1896,[],"[#taylorgang, #mcqueenteam]",2,0,2020-01-22,15:32:30
3,"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,"""Roll something and get the day started. Clean...",7345,26539,[],"[#taylorgang""]",1,0,2020-01-22,14:52:54
4,"""1219720267980627968""","""ü¶†""",trappdann,"""somehow this first tweet i see everyday yesir...",136,1229,[@wizkhalifa],[],0,1,2020-01-21,20:35:47
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""952236590964723712""","""Wiz Khalifa""",wizkhalifa,"""They gon write what they wanna write. ü§∑üèæ‚Äç‚ôÇÔ∏è h...",354,2208,[],[],0,0,2018-01-13,17:51:09
3196,"""952234480458072064""","""Wiz Khalifa""",wizkhalifa,"""Constantly in the studio. Been writing some a...",3627,22975,[],[],0,0,2018-01-13,17:42:46
3197,"""946953124723310594""","""Wiz Khalifa""",wizkhalifa,"""Happy c day @iambigbaby11 c u at the party üéâ""",197,1715,[@iambigbaby11],[],0,1,2017-12-30,03:56:33
3198,"""944972705396166656""","""Wiz Khalifa""",wizkhalifa,"""He was pissed. https://t.co/XhQAxMXLiU""",5000,20796,[],[],0,0,2017-12-24,16:47:04
3199,"""944619613731483648""","""Wiz Khalifa""",wizkhalifa,"""Ha. What‚Äôs poppin.""",9291,25426,[],[],0,0,2017-12-23,17:24:00

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/WizKhalifaImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1218238685604270080""","""1218238680613056512""",https://pbs.twimg.com/media/EOgNoCGU8AATnmp.jpg,https://t.co/yra1xzrcBF
1,"""1217000686786940929""","""1216736199794221056""",https://pbs.twimg.com/media/EOK3II4X4AAdHoJ.jpg,https://t.co/mrr7PpbMy1
2,"""1216822737525710849""","""1216822735860576256""",https://pbs.twimg.com/media/EOMF1M2WsAAk0H5.jpg,https://t.co/0z9XFa7eNx
3,"""1216747019601092609""","""1216747009731911680""",https://pbs.twimg.com/media/EOLA9XCW4AA3DJX.jpg,https://t.co/fP7wXE1Bo2
4,"""1216736226369208320""","""1216736199794221056""",https://pbs.twimg.com/media/EOK3II4X4AAdHoJ.jpg,https://t.co/PNFQw0wyzX
...,...,...,...,...
512,"""961465154822078464""","""961465142713122817""",https://pbs.twimg.com/media/DVfPdAdWAAEJqrp.jpg,https://t.co/PVaFTfrmW8
513,"""961458279695056896""","""961458270975049728""",https://pbs.twimg.com/media/DVfJNBPUQAAC0mf.jpg,https://t.co/WeIrfeAZPe
514,"""959100969999986688""","""959099818625806336""",https://pbs.twimg.com/media/DU9oNBlVMAAk2Lk.jpg,https://t.co/Tp4IRsfrUi
515,"""958969703606743040""","""958969598552039424""",https://pbs.twimg.com/media/DU7xxOAX4AAVeIM.jpg,https://t.co/ZEVoqPzIfh
516,"""958962417500909568""","""958962415298686976""",https://pbs.twimg.com/media/DU7rPGTUMAAatZU.jpg,https://t.co/kEldeLBbGm

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (517, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (517, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1218238685604270080"  Image added
1    "1217000686786940929"  Image added
2    "1216822737525710849"  Image added
3    "1216747019601092609"  Image added
4    "1216736226369208320"  Image added
..                     ...          ...
512   "961465154822078464"  Image added
513   "961458279695056896"  Image added
514   "959100969999986688"  Image added
515   "958969703606743040"  Image added
516   "958962417500909568"  Image added

[517 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220006487021576193""","""mhm.""",babushkabadgyal,"""@wizkhalifa is my coffee in the Morning. #tay...",39,355,[@wizkhalifa],"[#taylorgang""]",1,1,2020-01-22,15:33:07,NaN
1,"""1220006481254408192""","""jas..üíô""",jassbabyy_,"""@wizkhalifa #taylorgang #mcqueenteam""",6,91,[@wizkhalifa],"[#taylorgang, #mcqueenteam""]",2,1,2020-01-22,15:33:06,NaN
2,"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,"""Make sure you guys hashtag #taylorgang &amp; ...",187,1896,[],"[#taylorgang, #mcqueenteam]",2,0,2020-01-22,15:32:30,NaN
3,"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,"""Roll something and get the day started. Clean...",7345,26539,[],"[#taylorgang""]",1,0,2020-01-22,14:52:54,NaN
4,"""1219720267980627968""","""ü¶†""",trappdann,"""somehow this first tweet i see everyday yesir...",136,1229,[@wizkhalifa],[],0,1,2020-01-21,20:35:47,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,"""952236590964723712""","""Wiz Khalifa""",wizkhalifa,"""They gon write what they wanna write. ü§∑üèæ‚Äç‚ôÇÔ∏è h...",354,2208,[],[],0,0,2018-01-13,17:51:09,NaN
3316,"""952234480458072064""","""Wiz Khalifa""",wizkhalifa,"""Constantly in the studio. Been writing some a...",3627,22975,[],[],0,0,2018-01-13,17:42:46,NaN
3317,"""946953124723310594""","""Wiz Khalifa""",wizkhalifa,"""Happy c day @iambigbaby11 c u at the party üéâ""",197,1715,[@iambigbaby11],[],0,1,2017-12-30,03:56:33,NaN
3318,"""944972705396166656""","""Wiz Khalifa""",wizkhalifa,"""He was pissed. https://t.co/XhQAxMXLiU""",5000,20796,[],[],0,0,2017-12-24,16:47:04,NaN
3319,"""944619613731483648""","""Wiz Khalifa""",wizkhalifa,"""Ha. What‚Äôs poppin.""",9291,25426,[],[],0,0,2017-12-23,17:24:00,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/WizKhalifaVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219718927254769665""","""1219718916680884224""",https://video.twimg.com/tweet_video/EO1P5HKWoA...,https://t.co/Xzti7hEq4d
1,"""1219425200854298624""","""1219425049108570113""",https://video.twimg.com/ext_tw_video/121942504...,https://t.co/0o8LKbzZND
2,"""1219370117839982592""","""1219370098286161920""",https://video.twimg.com/tweet_video/EOwSpNYUcA...,https://t.co/xCzFHydHyJ
3,"""1218977154672680960""","""1218977069666684934""",https://video.twimg.com/ext_tw_video/121897706...,https://t.co/slu1CCHrAY
4,"""1218394262464688129""","""1218394054825672704""",https://video.twimg.com/ext_tw_video/121839405...,https://t.co/b4rL6MVkOK
...,...,...,...,...
382,"""959232942655467520""","""959232711733821441""",https://video.twimg.com/tweet_video/DU_hEa_UQA...,https://t.co/5L3lA4NGql
383,"""958965681013252096""","""958965593851363329""",https://video.twimg.com/ext_tw_video/958965593...,https://t.co/5UzfrF6ayu
384,"""958939763234541573""","""958939593956577280""",https://video.twimg.com/ext_tw_video/958939593...,https://t.co/jKwIWZqUuf
385,"""955882125785378817""","""955882055929290752""",https://video.twimg.com/ext_tw_video/955882055...,https://t.co/lZZFKYJ8nx
386,"""944972705396166656""","""944972604984590337""",https://video.twimg.com/ext_tw_video/944972604...,https://t.co/XhQAxMXLiU

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (387, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (387, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1219718927254769665"  Video added
1    "1219425200854298624"  Video added
2    "1219370117839982592"  Video added
3    "1218977154672680960"  Video added
4    "1218394262464688129"  Video added
..                     ...          ...
382   "959232942655467520"  Video added
383   "958965681013252096"  Video added
384   "958939763234541573"  Video added
385   "955882125785378817"  Video added
386   "944972705396166656"  Video added

[387 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220006487021576193""","""mhm.""",babushkabadgyal,"""@wizkhalifa is my coffee in the Morning. #tay...",39,355,[@wizkhalifa],"[#taylorgang""]",1,1,2020-01-22,15:33:07,NaN,NaN
1,"""1220006481254408192""","""jas..üíô""",jassbabyy_,"""@wizkhalifa #taylorgang #mcqueenteam""",6,91,[@wizkhalifa],"[#taylorgang, #mcqueenteam""]",2,1,2020-01-22,15:33:06,NaN,NaN
2,"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,"""Make sure you guys hashtag #taylorgang &amp; ...",187,1896,[],"[#taylorgang, #mcqueenteam]",2,0,2020-01-22,15:32:30,NaN,NaN
3,"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,"""Roll something and get the day started. Clean...",7345,26539,[],"[#taylorgang""]",1,0,2020-01-22,14:52:54,NaN,NaN
4,"""1219720267980627968""","""ü¶†""",trappdann,"""somehow this first tweet i see everyday yesir...",136,1229,[@wizkhalifa],[],0,1,2020-01-21,20:35:47,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,"""952236590964723712""","""Wiz Khalifa""",wizkhalifa,"""They gon write what they wanna write. ü§∑üèæ‚Äç‚ôÇÔ∏è h...",354,2208,[],[],0,0,2018-01-13,17:51:09,NaN,NaN
3316,"""952234480458072064""","""Wiz Khalifa""",wizkhalifa,"""Constantly in the studio. Been writing some a...",3627,22975,[],[],0,0,2018-01-13,17:42:46,NaN,NaN
3317,"""946953124723310594""","""Wiz Khalifa""",wizkhalifa,"""Happy c day @iambigbaby11 c u at the party üéâ""",197,1715,[@iambigbaby11],[],0,1,2017-12-30,03:56:33,NaN,NaN
3318,"""944972705396166656""","""Wiz Khalifa""",wizkhalifa,"""He was pissed. https://t.co/XhQAxMXLiU""",5000,20796,[],[],0,0,2017-12-24,16:47:04,NaN,Video added
3319,"""944619613731483648""","""Wiz Khalifa""",wizkhalifa,"""Ha. What‚Äôs poppin.""",9291,25426,[],[],0,0,2017-12-23,17:24:00,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Male"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3320, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220006487021576193""","""mhm.""",babushkabadgyal,39,355,[@wizkhalifa],"[#taylorgang""]",1,1,2020-01-22,15:33:07,-,-,Male,Music
1,"""1220006481254408192""","""jas..üíô""",jassbabyy_,6,91,[@wizkhalifa],"[#taylorgang, #mcqueenteam""]",2,1,2020-01-22,15:33:06,-,-,Male,Music
2,"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,187,1896,[],"[#taylorgang, #mcqueenteam]",2,0,2020-01-22,15:32:30,-,-,Male,Music
3,"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,7345,26539,[],"[#taylorgang""]",1,0,2020-01-22,14:52:54,-,-,Male,Music
4,"""1219720267980627968""","""ü¶†""",trappdann,136,1229,[@wizkhalifa],[],0,1,2020-01-21,20:35:47,-,-,Male,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,"""952236590964723712""","""Wiz Khalifa""",wizkhalifa,354,2208,[],[],0,0,2018-01-13,17:51:09,-,-,Male,Music
3316,"""952234480458072064""","""Wiz Khalifa""",wizkhalifa,3627,22975,[],[],0,0,2018-01-13,17:42:46,-,-,Male,Music
3317,"""946953124723310594""","""Wiz Khalifa""",wizkhalifa,197,1715,[@iambigbaby11],[],0,1,2017-12-30,03:56:33,-,-,Male,Music
3318,"""944972705396166656""","""Wiz Khalifa""",wizkhalifa,5000,20796,[],[],0,0,2017-12-24,16:47:04,-,Video added,Male,Music
3319,"""944619613731483648""","""Wiz Khalifa""",wizkhalifa,9291,25426,[],[],0,0,2017-12-23,17:24:00,-,-,Male,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3320, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220006487021576193""","""mhm.""",babushkabadgyal,Male,Music,"[#taylorgang""]",1,[@wizkhalifa],1,355,39,-,-,2020-01-22,15:33:07
"""1220006481254408192""","""jas..üíô""",jassbabyy_,Male,Music,"[#taylorgang, #mcqueenteam""]",2,[@wizkhalifa],1,91,6,-,-,2020-01-22,15:33:06
"""1220006329621733377""","""Wiz Khalifa""",wizkhalifa,Male,Music,"[#taylorgang, #mcqueenteam]",2,[],0,1896,187,-,-,2020-01-22,15:32:30
"""1219996365121454081""","""Wiz Khalifa""",wizkhalifa,Male,Music,"[#taylorgang""]",1,[],0,26539,7345,-,-,2020-01-22,14:52:54
"""1219720267980627968""","""ü¶†""",trappdann,Male,Music,[],0,[@wizkhalifa],1,1229,136,-,-,2020-01-21,20:35:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""952236590964723712""","""Wiz Khalifa""",wizkhalifa,Male,Music,[],0,[],0,2208,354,-,-,2018-01-13,17:51:09
"""952234480458072064""","""Wiz Khalifa""",wizkhalifa,Male,Music,[],0,[],0,22975,3627,-,-,2018-01-13,17:42:46
"""946953124723310594""","""Wiz Khalifa""",wizkhalifa,Male,Music,[],0,[@iambigbaby11],1,1715,197,-,-,2017-12-30,03:56:33
"""944972705396166656""","""Wiz Khalifa""",wizkhalifa,Male,Music,[],0,[],0,20796,5000,-,Video added,2017-12-24,16:47:04
"""944619613731483648""","""Wiz Khalifa""",wizkhalifa,Male,Music,[],0,[],0,25426,9291,-,-,2017-12-23,17:24:00

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/WizKhalifa_df.csv')