##### ===================================================================================================================

# Miley Cyrus Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Create reference to CSV file
csv_path = "MileyCyrusTweets.csv"

#Import the CSV into a pandas DataFrame
MCyrus_Tweets_df = pd.read_csv(csv_path, low_memory = False)
MCyrus_Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219648605067173889""",https://twitter.com/mileycyrus/status/12196486...,2020-01-21 15:51:02,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",Tweet,Twitter for iPhone,1517,21637,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
1,"""1218671432189632514""",https://twitter.com/mileycyrus/status/12186714...,2020-01-18 23:08:05,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",Tweet,Twitter for iPhone,952,9337,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
2,"""1218264038758502401""",https://twitter.com/mileycyrus/status/12182640...,2020-01-17 20:09:15,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",Tweet,Twitter for iPhone,13990,135970,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
3,"""1218225041864675328""",https://twitter.com/mileycyrus/status/12182250...,2020-01-17 17:34:18,"""On sale now! https://t.co/hFGNMrrwYm""",Tweet,Twitter for iPhone,437,3598,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
4,"""1218216622982197248""",https://twitter.com/mileycyrus/status/12182166...,2020-01-17 17:00:50,"""It was a year yesterday I had the honor of pe...",Tweet,Twitter for iPhone,1617,12026,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""504509324509847552""",https://twitter.com/madonna/status/50450932450...,2014-08-27 06:02:50,"""You heard it! Now do it!!!! check out the cam...",Retweet,Twitter for iPhone,2474,3859,"""512700138""","""Madonna""",madonna,Verified,https://twitter.com/madonna,Not Protected
3196,"""504508496428421122""",https://twitter.com/madonna/status/50450849642...,2014-08-27 05:59:33,"""Join the fight to end youth homelessness with...",Retweet,Twitter for iPhone,3625,5068,"""512700138""","""Madonna""",madonna,Verified,https://twitter.com/madonna,Not Protected
3197,"""504481510963941376""",https://twitter.com/danecook/status/5044815109...,2014-08-27 04:12:19,"""@mileycyrus won't leave me alone. http://t.co...",Retweet,Instagram,1693,3789,"""20978103""","""Dane Cook""",danecook,Non-Verified,https://twitter.com/danecook,Not Protected
3198,"""504397898302246912""",https://twitter.com/mileycyrus/status/50439789...,2014-08-26 22:40:04,"""@peta Piggy &amp; Bean under the blankets. Ha...",Reply,Twitter for iPhone,2366,3656,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
3199,"""504390761941458944""",https://twitter.com/mileycyrus/status/50439076...,2014-08-26 22:11:43,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",Reply,Twitter for iPhone,1866,2913,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = MCyrus_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
MCyrus_Tweets_df = MCyrus_Tweets_df[["Username", "User Id", "Tweet Type", "Tweet Content", "Client", "Retweets received",
                                     "Likes received", "Tweet Posted Time"]]

#Show the 'shape' of the dataframe
shape = MCyrus_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 8)

In [5]:
#Print the dataframe
MCyrus_Tweets_df

,Username,User Id,Tweet Type,Tweet Content,Client,Retweets received,Likes received,Tweet Posted Time
0,mileycyrus,"""268414482""",Tweet,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",Twitter for iPhone,1517,21637,2020-01-21 15:51:02
1,mileycyrus,"""268414482""",Tweet,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",Twitter for iPhone,952,9337,2020-01-18 23:08:05
2,mileycyrus,"""268414482""",Tweet,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",Twitter for iPhone,13990,135970,2020-01-17 20:09:15
3,mileycyrus,"""268414482""",Tweet,"""On sale now! https://t.co/hFGNMrrwYm""",Twitter for iPhone,437,3598,2020-01-17 17:34:18
4,mileycyrus,"""268414482""",Tweet,"""It was a year yesterday I had the honor of pe...",Twitter for iPhone,1617,12026,2020-01-17 17:00:50
...,...,...,...,...,...,...,...,...
3195,madonna,"""512700138""",Retweet,"""You heard it! Now do it!!!! check out the cam...",Twitter for iPhone,2474,3859,2014-08-27 06:02:50
3196,madonna,"""512700138""",Retweet,"""Join the fight to end youth homelessness with...",Twitter for iPhone,3625,5068,2014-08-27 05:59:33
3197,danecook,"""20978103""",Retweet,"""@mileycyrus won't leave me alone. http://t.co...",Instagram,1693,3789,2014-08-27 04:12:19
3198,mileycyrus,"""268414482""",Reply,"""@peta Piggy &amp; Bean under the blankets. Ha...",Twitter for iPhone,2366,3656,2014-08-26 22:40:04
3199,mileycyrus,"""268414482""",Reply,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",Twitter for iPhone,1866,2913,2014-08-26 22:11:43

##### REMOVE ALL ROWS WITH NO DATA

In [6]:
#Filter out those rows which does not contain any data 
MCyrus_Tweets_df = MCyrus_Tweets_df.dropna() 

#Confirm rows are dropped
shape = MCyrus_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 8)

##### SEPERATE THE DATE AND TIME

In [7]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
MCyrus_Tweets_df['Tweet Posted Time'] = MCyrus_Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = MCyrus_Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
MCyrus_Tweets_df["Date"] = date

In [8]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
MCyrus_Tweets_df['Tweet Posted Time'] = MCyrus_Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = MCyrus_Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
MCyrus_Tweets_df["Time"] = time

In [9]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
MCyrus_Tweets_df = MCyrus_Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = MCyrus_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 9)

In [10]:
#Print the dataframe
MCyrus_Tweets_df

,Username,User Id,Tweet Type,Tweet Content,Client,Retweets received,Likes received,Date,Time
0,mileycyrus,"""268414482""",Tweet,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",Twitter for iPhone,1517,21637,2020-01-21,15:51:02
1,mileycyrus,"""268414482""",Tweet,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",Twitter for iPhone,952,9337,2020-01-18,23:08:05
2,mileycyrus,"""268414482""",Tweet,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",Twitter for iPhone,13990,135970,2020-01-17,20:09:15
3,mileycyrus,"""268414482""",Tweet,"""On sale now! https://t.co/hFGNMrrwYm""",Twitter for iPhone,437,3598,2020-01-17,17:34:18
4,mileycyrus,"""268414482""",Tweet,"""It was a year yesterday I had the honor of pe...",Twitter for iPhone,1617,12026,2020-01-17,17:00:50
...,...,...,...,...,...,...,...,...,...
3195,madonna,"""512700138""",Retweet,"""You heard it! Now do it!!!! check out the cam...",Twitter for iPhone,2474,3859,2014-08-27,06:02:50
3196,madonna,"""512700138""",Retweet,"""Join the fight to end youth homelessness with...",Twitter for iPhone,3625,5068,2014-08-27,05:59:33
3197,danecook,"""20978103""",Retweet,"""@mileycyrus won't leave me alone. http://t.co...",Instagram,1693,3789,2014-08-27,04:12:19
3198,mileycyrus,"""268414482""",Reply,"""@peta Piggy &amp; Bean under the blankets. Ha...",Twitter for iPhone,2366,3656,2014-08-26,22:40:04
3199,mileycyrus,"""268414482""",Reply,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",Twitter for iPhone,1866,2913,2014-08-26,22:11:43

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND FILL

In [11]:
#Create an Gender column for Gender
MCyrus_Tweets_df['Gender'] = "Female"

#Create an Gender column for Gender
MCyrus_Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = MCyrus_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 11)

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [12]:
#The original dataframe had an index, so re-arrange the index 
MCyrus_Tweets_df.index = [x for x in range(1, len(MCyrus_Tweets_df.values)+1)]
MCyrus_Tweets_df.index.name = 'Index'

In [13]:
#Print the dataframe
MCyrus_Tweets_df

,Username,User Id,Tweet Type,Tweet Content,Client,Retweets received,Likes received,Date,Time,Gender,Vocation
Index,,,,,,,,,,,
1,mileycyrus,"""268414482""",Tweet,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",Twitter for iPhone,1517,21637,2020-01-21,15:51:02,Female,Music
2,mileycyrus,"""268414482""",Tweet,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",Twitter for iPhone,952,9337,2020-01-18,23:08:05,Female,Music
3,mileycyrus,"""268414482""",Tweet,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",Twitter for iPhone,13990,135970,2020-01-17,20:09:15,Female,Music
4,mileycyrus,"""268414482""",Tweet,"""On sale now! https://t.co/hFGNMrrwYm""",Twitter for iPhone,437,3598,2020-01-17,17:34:18,Female,Music
5,mileycyrus,"""268414482""",Tweet,"""It was a year yesterday I had the honor of pe...",Twitter for iPhone,1617,12026,2020-01-17,17:00:50,Female,Music
...,...,...,...,...,...,...,...,...,...,...,...
3196,madonna,"""512700138""",Retweet,"""You heard it! Now do it!!!! check out the cam...",Twitter for iPhone,2474,3859,2014-08-27,06:02:50,Female,Music
3197,madonna,"""512700138""",Retweet,"""Join the fight to end youth homelessness with...",Twitter for iPhone,3625,5068,2014-08-27,05:59:33,Female,Music
3198,danecook,"""20978103""",Retweet,"""@mileycyrus won't leave me alone. http://t.co...",Instagram,1693,3789,2014-08-27,04:12:19,Female,Music
3199,mileycyrus,"""268414482""",Reply,"""@peta Piggy &amp; Bean under the blankets. Ha...",Twitter for iPhone,2366,3656,2014-08-26,22:40:04,Female,Music
3200,mileycyrus,"""268414482""",Reply,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",Twitter for iPhone,1866,2913,2014-08-26,22:11:43,Female,Music

##### SAVE DATAFRAME TO CSV

In [14]:
#Save dataframe as csv file
MCyrus_Tweets_df.to_csv('MCyrus_Tweets_df.csv')