##### ===================================================================================================================

# NASA Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Create reference to CSV file
csv_path = "NASATweets.csv"

#Import the CSV into a pandas DataFrame
NASA_Tweets_df = pd.read_csv(csv_path, low_memory = False)
NASA_Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220149150765002752""",https://twitter.com/nasa/status/12201491507650...,2020-01-23 01:00:01,"""Burn scars left by wildfires in southeastern ...",Tweet,Sprinklr,312,1192,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
1,"""1220126500843814912""",https://twitter.com/nasa/status/12201265008438...,2020-01-22 23:30:01,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",Tweet,Sprinklr,170,1098,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
2,"""1220124092336082946""",https://twitter.com/jimbridenstine/status/1220...,2020-01-22 23:20:27,"""The team has successfully lowered the @NASA_S...",Retweet,Twitter Web App,304,2107,"""243418245""","""Jim Bridenstine""",jimbridenstine,Verified,https://twitter.com/jimbridenstine,Not Protected
3,"""1220107625980973056""",https://twitter.com/nasa/status/12201076259809...,2020-01-22 22:15:01,"""To help return astronauts to the Moon, our #A...",Tweet,Sprinklr,454,2888,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
4,"""1220092526738247680""",https://twitter.com/nasa/status/12200925267382...,2020-01-22 21:15:01,"""The legacy of @NASASpitzer will live on! Afte...",Tweet,Sprinklr,662,3578,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1124018015740289024""",https://twitter.com/iss_research/status/112401...,2019-05-02 18:29:12,"""The #science aboard @SpaceX #Dragon will help...",Retweet,Twitter Media Studio,385,1725,"""189253902""","""ISS Research""",iss_research,Verified,https://twitter.com/iss_research,Not Protected
3196,"""1123965610004758528""",https://twitter.com/nasa/status/11239656100047...,2019-05-02 15:00:58,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",Tweet,Sprinklr,171,1147,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
3197,"""1123959959249661953""",https://twitter.com/nasa/status/11239599592496...,2019-05-02 14:38:31,"""We‚Äôre preparing to launch a rocket tomorrow! ...",Tweet,Sprinklr,426,2948,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
3198,"""1123952508920004608""",https://twitter.com/nasa/status/11239525089200...,2019-05-02 14:08:54,"""This morning, Mission Control teams successfu...",Tweet,Sprinklr,256,1699,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
3199,"""1123945236219215874""",https://twitter.com/nasa/status/11239452362192...,2019-05-02 13:40:00,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",Tweet,SnappyTV.com,1393,6656,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = NASA_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
NASA_Tweets_df = NASA_Tweets_df[["Username", "User Id", "Tweet Type", "Tweet Content", "Client", "Retweets received",
                                     "Likes received", "Tweet Posted Time"]]

#Show the 'shape' of the dataframe
shape = NASA_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 8)

In [5]:
#Print the dataframe
NASA_Tweets_df

,Username,User Id,Tweet Type,Tweet Content,Client,Retweets received,Likes received,Tweet Posted Time
0,nasa,"""11348282""",Tweet,"""Burn scars left by wildfires in southeastern ...",Sprinklr,312,1192,2020-01-23 01:00:01
1,nasa,"""11348282""",Tweet,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",Sprinklr,170,1098,2020-01-22 23:30:01
2,jimbridenstine,"""243418245""",Retweet,"""The team has successfully lowered the @NASA_S...",Twitter Web App,304,2107,2020-01-22 23:20:27
3,nasa,"""11348282""",Tweet,"""To help return astronauts to the Moon, our #A...",Sprinklr,454,2888,2020-01-22 22:15:01
4,nasa,"""11348282""",Tweet,"""The legacy of @NASASpitzer will live on! Afte...",Sprinklr,662,3578,2020-01-22 21:15:01
...,...,...,...,...,...,...,...,...
3195,iss_research,"""189253902""",Retweet,"""The #science aboard @SpaceX #Dragon will help...",Twitter Media Studio,385,1725,2019-05-02 18:29:12
3196,nasa,"""11348282""",Tweet,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",Sprinklr,171,1147,2019-05-02 15:00:58
3197,nasa,"""11348282""",Tweet,"""We‚Äôre preparing to launch a rocket tomorrow! ...",Sprinklr,426,2948,2019-05-02 14:38:31
3198,nasa,"""11348282""",Tweet,"""This morning, Mission Control teams successfu...",Sprinklr,256,1699,2019-05-02 14:08:54
3199,nasa,"""11348282""",Tweet,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",SnappyTV.com,1393,6656,2019-05-02 13:40:00

##### REMOVE ALL ROWS WITH NO DATA

In [6]:
#Filter out those rows which does not contain any data 
NASA_Tweets_df = NASA_Tweets_df.dropna() 

#Confirm rows are dropped
shape = NASA_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 8)

##### SEPERATE THE DATE AND TIME

In [7]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
NASA_Tweets_df['Tweet Posted Time'] = NASA_Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = NASA_Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
NASA_Tweets_df["Date"] = date

In [8]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
NASA_Tweets_df['Tweet Posted Time'] = NASA_Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = NASA_Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
NASA_Tweets_df["Time"] = time

In [9]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
NASA_Tweets_df = NASA_Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = NASA_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 9)

In [10]:
#Print the dataframe
NASA_Tweets_df

,Username,User Id,Tweet Type,Tweet Content,Client,Retweets received,Likes received,Date,Time
0,nasa,"""11348282""",Tweet,"""Burn scars left by wildfires in southeastern ...",Sprinklr,312,1192,2020-01-23,01:00:01
1,nasa,"""11348282""",Tweet,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",Sprinklr,170,1098,2020-01-22,23:30:01
2,jimbridenstine,"""243418245""",Retweet,"""The team has successfully lowered the @NASA_S...",Twitter Web App,304,2107,2020-01-22,23:20:27
3,nasa,"""11348282""",Tweet,"""To help return astronauts to the Moon, our #A...",Sprinklr,454,2888,2020-01-22,22:15:01
4,nasa,"""11348282""",Tweet,"""The legacy of @NASASpitzer will live on! Afte...",Sprinklr,662,3578,2020-01-22,21:15:01
...,...,...,...,...,...,...,...,...,...
3195,iss_research,"""189253902""",Retweet,"""The #science aboard @SpaceX #Dragon will help...",Twitter Media Studio,385,1725,2019-05-02,18:29:12
3196,nasa,"""11348282""",Tweet,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",Sprinklr,171,1147,2019-05-02,15:00:58
3197,nasa,"""11348282""",Tweet,"""We‚Äôre preparing to launch a rocket tomorrow! ...",Sprinklr,426,2948,2019-05-02,14:38:31
3198,nasa,"""11348282""",Tweet,"""This morning, Mission Control teams successfu...",Sprinklr,256,1699,2019-05-02,14:08:54
3199,nasa,"""11348282""",Tweet,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",SnappyTV.com,1393,6656,2019-05-02,13:40:00

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND FILL

In [11]:
#Create an Gender column for Gender
NASA_Tweets_df['Gender'] = "Organisation"

#Create an Gender column for Gender
NASA_Tweets_df['Vocation'] = "Technology"

#Show the 'shape' of the dataframe
shape = NASA_Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 11)

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [12]:
#The original dataframe had an index, so re-arrange the index 
NASA_Tweets_df.index = [x for x in range(1, len(NASA_Tweets_df.values)+1)]
NASA_Tweets_df.index.name = 'Index'

In [13]:
#Print the dataframe
NASA_Tweets_df

,Username,User Id,Tweet Type,Tweet Content,Client,Retweets received,Likes received,Date,Time,Gender,Vocation
Index,,,,,,,,,,,
1,nasa,"""11348282""",Tweet,"""Burn scars left by wildfires in southeastern ...",Sprinklr,312,1192,2020-01-23,01:00:01,Organisation,Technology
2,nasa,"""11348282""",Tweet,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",Sprinklr,170,1098,2020-01-22,23:30:01,Organisation,Technology
3,jimbridenstine,"""243418245""",Retweet,"""The team has successfully lowered the @NASA_S...",Twitter Web App,304,2107,2020-01-22,23:20:27,Organisation,Technology
4,nasa,"""11348282""",Tweet,"""To help return astronauts to the Moon, our #A...",Sprinklr,454,2888,2020-01-22,22:15:01,Organisation,Technology
5,nasa,"""11348282""",Tweet,"""The legacy of @NASASpitzer will live on! Afte...",Sprinklr,662,3578,2020-01-22,21:15:01,Organisation,Technology
...,...,...,...,...,...,...,...,...,...,...,...
3196,iss_research,"""189253902""",Retweet,"""The #science aboard @SpaceX #Dragon will help...",Twitter Media Studio,385,1725,2019-05-02,18:29:12,Organisation,Technology
3197,nasa,"""11348282""",Tweet,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",Sprinklr,171,1147,2019-05-02,15:00:58,Organisation,Technology
3198,nasa,"""11348282""",Tweet,"""We‚Äôre preparing to launch a rocket tomorrow! ...",Sprinklr,426,2948,2019-05-02,14:38:31,Organisation,Technology
3199,nasa,"""11348282""",Tweet,"""This morning, Mission Control teams successfu...",Sprinklr,256,1699,2019-05-02,14:08:54,Organisation,Technology
3200,nasa,"""11348282""",Tweet,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",SnappyTV.com,1393,6656,2019-05-02,13:40:00,Organisation,Technology

##### SAVE DATAFRAME TO CSV

In [14]:
#Save dataframe as csv file
NASA_Tweets_df.to_csv('NASA_Tweets_df.csv')